@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.main-form {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background: var(--tui-base-02);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 16%);
    border-radius: var(--tui-radius-s);
    padding: 0;

    .main-form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--tui-base-01);
        border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
        border: 1px #fff solid;
        cursor: move;
        height: 2rem;

        p {
            padding: 0 .5rem;
        }
    }

    .main-form-content {
        overflow-y: visible;
        overflow-x: hidden;
    }
}

.main-form-actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem;
}

.main-list {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background: var(--tui-base-02);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 16%);
    border-radius: var(--tui-radius-s);
    padding: 0;

    .viewport {
        height: calc(100vh - var(--header-height) - 6em);
    }

    .main-form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--tui-base-01);
        border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
        border: 1px #fff solid;
        cursor: move;
        height: 2rem;

        p {
            padding: 0 .5rem;
        }
    }

    .main-form-content {
        overflow-y: visible;
        overflow-x: hidden;
    }

    .main-form-actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 1rem;
    }
}

.viewport-dialog {
    height: 50vh;
}

.confirm-delete-column {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    width: 100%;
    height: calc(var(--tui-height-m) - 1px);
    background: var(--tui-error-bg);
    backdrop-filter: blur(6px);
    margin: 0;
    padding: 0;

    .text {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 30ch;
        overflow: hidden;

        @media #{$tui-mobile} {
            width: 10ch;
        }
    }
}