<tui-scrollbar>
    <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar" [itemSize]="32"
        [maxBufferPx]="500" [minBufferPx]="400">
        <table class="tui-table" style="table-layout: fixed;" tuiTable [columns]="columns" [size]="'s'">
            <thead>
                <tr tuiThGroup>
                    <th *tuiHead="'Original'" tuiTh [sorter]="null" [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{'original-word' | translate}}
                    </th>
                    <th *tuiHead="'Translation'" tuiTh [sorter]="null" [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{'translation' | translate}}
                    </th>
                    <th *tuiHead="'actions'" tuiTh class="action-head" [sorter]="null" [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                    </th>
                    <th *tuiHead="'confirmDelete'" class="confirm-delete-head" tuiTh [sorter]="null"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                    </th>
                </tr>
            </thead>
            <tbody tuiTbody>
                <tr *cdkVirtualFor="let word of commonWords.words; index as i; trackBy: trackByItemId" tuiTr>
                    <td *tuiCell="'Original'" tuiTd>
                        <span class="span-unfocus">{{word.Original}}</span>
                    </td>
                    <td *tuiCell="'Translation'" tuiTd class="translation-cell">
                        <app-common-word-table-cell-editable #cell [focusTemplate]="focus" [unfocusTemplate]="unfocus" />
                        <ng-template #focus>
                            <tui-input [(ngModel)]="word.Translation" tuiTextfieldSize="s">
                                <input tuiTextfieldLegacy appAutoFocus [cell]="cell" />
                            </tui-input>
                        </ng-template>
                        <ng-template #unfocus>
                            <span class="span-unfocus">{{word.Translation}}</span>
                        </ng-template>
                    </td>
                    <td *tuiCell="'actions'" tuiTd>
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <tui-loader [showLoader]="(word.loader | async) ?? false" [inheritColor]="true"
                                [overlay]="true">
                                <button appearance="flat" iconStart="@tui.trash" [style.border-radius.%]="100" size="xs"
                                    aria-label="remove word" tuiIconButton type="button"
                                    (click)="commonWords.confirmDelete(word);">
                                </button>
                            </tui-loader>
                            <tui-loader [showLoader]="(word.loader | async) ?? false" [inheritColor]="true"
                                [overlay]="true">
                                <button appearance="flat" iconStart="@tui.save" [style.border-radius.%]="100" size="xs"
                                    aria-label="update word" tuiIconButton type="button"
                                    (click)="commonWords.update(word)">
                                </button>
                            </tui-loader>
                        </div>
                    </td>
                    @if (word.confirm | async) {
                    <td *tuiCell="'confirmDelete'" class="confirm-delete-column" [@fadeIn]>
                        <p class="text">{{'confirm-text-delete-word' | translate}}</p>
                        <button tuiButton size="xs" class="tui-space_left-2" (click)="commonWords.delete(word, i)"
                            [loading]="(commonWords.deleting$ | async) ?? false" appearance="accent">
                            {{'confirm-frienly' | translate}}
                        </button>
                        <button tuiButton size="xs" class="tui-space_left-2" (click)="commonWords.cancelDelete(word)"
                            [loading]="(commonWords.deleting$ | async) ?? false" appearance="flat">
                            {{'unconfirm-frienly' | translate}}
                        </button>
                    </td>
                    }
                </tr>

                @if (commonWords.words.length === 0) {
                <tr>
                    <td [attr.colspan]="columns.length" [style.height.px]="58">
                        <p class="empty-columns tui-text_body-m">{{'empty-dictionary' | translate}}</p>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</tui-scrollbar>