@use '@taiga-ui/core/styles/variables/media.scss' as media;
@use 'style-animations.scss' as anim;
@use 'style-mixins.scss' as mixins;

@include anim.popin-animations;
@include anim.fadein-animations;
@include mixins.browser;

/* You can add global styles to this file, and also import other style files */
:root {
  --header-height: 0rem;
  --important-text: #0038ff;
  --blend-mode: normal;
  --menu-width: 0rem;
  --min-width-viewer: 4rem;
  --stt-primary: black;
  --stt-secondary: white;
  --stt-primary-inverted: white;

  --tui-text-action-hover: white;
  --tui-background-accent-1: black;
  --tui-text-primary-invert: white;
  --tui-background-accent-1-hover: black;
  --tui-background-accent-1-pressed: black;
  --tui-text-action: black;
}

[tuiTheme='dark'] {
  --important-text: #ffc700;
  --blend-mode: difference;
  --stt-primary-inverted: black;

  --tui-background-accent-1: white;
  --tui-text-primary-invert: black;
  --tui-background-accent-1-hover: white;
  --tui-background-accent-1-pressed: white;
  --tui-text-primary-on-accent-1: black;
  --tui-text-action: white;

  .image {
    filter: invert(1);
  }

  .sidebar-link-icon {
    filter: brightness(0) invert(1);
  }

  .dialog-translation-background {
    opacity: 0.35;
  }

  .active-tree {
    color: var(--stt-primary) !important;
  }

  .avatar {
    img {
      filter: invert(1);
    }
  }

  [tuiSwitch]:checked:before {
    transform: none;
    color: var(--stt-primary);
  }
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.blur-fallback {
  @include mixins.browser("AppleWebKit", "WebKitGTK", "IE", "Opera Mini", "UC Browser", "QQBrowser", "KaiOS") {
    background: var(--tui-background-base) !important;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.main-grid {
  display: grid;
  height: 100%;
  transition: grid-template-columns 0.5s ease-in-out;
  grid-template-columns: var(--menu-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";

  @media #{media.$tui-mobile} {
    grid-template-columns: 0 1fr;
    overflow: hidden;
  }
}

.container-m {
  padding: 1em;
  max-width: 1680px;
  margin: 0 auto;
}

.common-word {
  color: var(--important-text);
}

.main-viewer {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.resizer-line {
  height: 100%;
  position: relative;
  width: 3px;
  margin: 0 1px;
  left: 0px;
  background-color: var(--tui-border-normal);

  &:hover {
    width: 3px;
    background-color: var(--tui-background-accent-opposite);
    cursor: col-resize;
  }
}

.resizer-line-active {
  width: 3px;
  background-color: var(--tui-background-accent-opposite);
  cursor: col-resize;
}

.resizer-cursor {
  cursor: col-resize;
}

.dialog-translation-background {
  opacity: 0.1;
  filter: contrast(0) brightness(0);
}

.stt-custom-shapherd {
  background: var(--tui-background-base);
  border-radius: var(--tui-radius-s);

  .shepherd-arrow {
    &:before {
      background: var(--tui-background-base-alt);
    }
  }

  .shepherd-content {
    background: var(--tui-background-base-alt);
    border-radius: var(--tui-radius-s);
    font-family: var(--tui-font-text);

    .shepherd-header {
      background: var(--tui-background-base);
      border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;

      h3 {
        color: var(--tui-text-primary);
      }

      button {
        color: var(--tui-text-tertiary);

        &:hover {
          color: var(--tui-text-primary);
        }
      }
    }

    .shepherd-text {
      background: var(--tui-background-base-alt);
      color: var(--tui-text-primary);
      border-radius: var(--tui-radius-s);
      font-size: 13px;
    }

    .shepherd-footer {
      background: var(--tui-background-base-alt);
      border-radius: var(--tui-radius-s);

      .shepherd-button {
        background-color: var(--tui-background-accent-1);
        color: var(--tui-text-primary-invert);
        border-radius: var(--tui-radius-s);
      }
    }
  }
}

.stt-custom-shapherd-header-arrow {
  .shepherd-arrow {
    &:before {
      background: var(--tui-background-base) !important;
    }
  }
}