<button tuiButton type="button" appearance="icon" [iconStart]="'@tui.key'" size="xs"
    (click)="onShowCreate(createTemplate, 'm')" aria-label="Open Key Dialog">
</button>

@if (!dialogState.isHidden) {
<main class="main-form" #draggableElement [ngStyle]="{'z-index': dialogState.zIndex$ | async}"
    (mousedown)="changeIndex(dialogState)" (touchstart)="changeIndex(dialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableElement" [elementAnchorRef]="anchor"
        [draggableElementState]="dialogState">
        <p>{{'new-key-form' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [iconStart]="'@tui.x'" size="xs"
            (click)="dialogState.isHidden = !dialogState.isHidden"
            (touchstart)="dialogState.isHidden = !dialogState.isHidden" aria-label="Close Dialog Button">
        </button>
    </div>

    <ng-container [ngTemplateOutlet]="createTemplate" />
</main>
}

<ng-template #createTemplate>
    <tui-scrollbar class="main-form-content">
        <form [formGroup]="keyForm" style="padding: 1rem">
            <div>
                <div>
                    <div class="tui-form__row">
                        <tui-textfield tuiChevron class="tui-space_bottom-3" tuiTextfieldSize="m"
                            [tuiTextfieldCleaner]="false" [content]="categoryContent">
                            <label tuiLabel>{{'category' | translate}}</label>
                            <input tuiSelect formControlName="Category" />

                            <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="categories$ | async"
                                [itemContent]="categoryContent" />
                            <ng-template #categoryContent let-data>
                                {{data.Name}}
                            </ng-template>
                        </tui-textfield>
                    </div>
                    <div class="tui-form__row">
                        <tui-textfield class="tui-space_bottom-3" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
                            <label tuiLabel>{{'key-name' | translate}}</label>
                            <input tuiTextfield formControlName="Name" />
                            <ng-container [ngTemplateOutlet]="availableKeyNameTemplate" />
                        </tui-textfield>
                    </div>

                    @if (categorySelected$ | async) {
                    <h3 class="tui-form__header">{{'languages' | translate}}</h3>
                    @for (keyControl of $any(keyForm.controls['Original']).controls | keyvalue; track $index) {
                    <tui-textfield class="tui-space_bottom-3" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
                        <label tuiLabel>{{$any(keyControl.key) | translate}}</label>
                        <input tuiTextfield [formControl]="$any(keyControl.value)" />
                    </tui-textfield>
                    }
                    }
                </div>
            </div>
        </form>

        <div class="main-form-actions tui-space_top-3 tui-space_bottom-3">
            @if (!(createOther$ | async)) {
            <button appearance="outline" tuiButton [iconStart]="'@tui.circle-check'" (click)="onCreateKey()" size="m"
                [loading]="(creating$ | async) ?? false"
                [disabled]="(availableKeyName$ | async) != 'valid' || keyForm.invalid"
                [tuiHint]="((availableKeyName$ | async) == 'invalid' || keyForm.invalid) ? ('form-error' | translate) : undefined"
                tuiHintAppearance="error">
                {{'create' | translate}}
            </button>
            }
            @else{
            <button appearance="outline" tuiButton [iconStart]="'@tui.circle-check'" (click)="onCreateOther()" size="m">
                {{'created-other' | translate}}
            </button>
            }
        </div>
    </tui-scrollbar>
</ng-template>

<ng-template #availableKeyNameTemplate>
    @if (availableKeyName$ | async; as status) {
    @switch (status) {
    @case ('verifying') {
    <tui-loader [showLoader]="true" [inheritColor]="true" [overlay]="true">
        <tui-icon icon="loader" />
    </tui-loader>
    }
    @case ('valid') {
    <tui-icon icon="circle-check" />
    }
    @case ('invalid') {
    <tui-icon icon="circle-alert" [style.color]="'var(--tui-text-negative)'" />
    }
    }
    }
</ng-template>

<div #anchor style="position: absolute;"></div>