@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.localization-container {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    height: calc(100% - var(--header-height) - 3em);
    min-width: 320px;

    .localization-data-actions {
        @include inset-border(bottom, light);
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .category-input {
            max-width: 320px;
            min-width: 240px;
            width: 100%;
        }
    }

}

.filter-container {
    padding: 0.5rem;

}

.limit-width {
    max-width: 200px
}

.localization-keys {
    height: 100%;
}