@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.localization-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: calc(100% - var(--header-height) - 3em);
    min-width: 320px;

    .localization-data-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;

        .category-input {
            max-width: 320px;
            min-width: 240px;
            width: 100%;
        }
    }

}

.filter-container {
    padding: 0.5rem;

}

.limit-width {
    max-width: 200px
}

.localization-keys {
    height: 100%;
}