<div class="sidebar-container">
    <div class="sidebar">
        <div class="profile-avatar-container">
            <tui-avatar [src]="'assets/images/app-icon-simple.svg' | tuiFallbackSrc : '@tui.user' | async"
                class="avatar" size="s" [round]="false">
            </tui-avatar>

            @if ((breakpointService$ | async) === 'mobile') {
            @if (appState.isOnTour$()) {
            <div [tuiDropdownDirection]="'bottom'" class="pabsolute" [tuiDropdown]="dropdownMenu"
                [tuiDropdownManual]="open" [tuiDropdownSided]="false">
                <button id="mainMenuButton" tuiIconButton appearance="flat" size="s" type="button"
                    aria-label="menu-button" [tuiAppearanceState]="open || null ? 'active' : null"
                    (click)="onOpenMenu()">
                </button>
            </div>
            }
            @else{
            <div [tuiDropdownDirection]="'bottom'" class="pabsolute" [tuiDropdown]="dropdownMenu"
                [(tuiDropdownOpen)]="open">
                <button id="mainMenuButton" tuiIconButton appearance="flat" size="s" type="button"
                    aria-label="menu-button" [tuiAppearanceState]="open || null ? 'active' : null">
                </button>
            </div>
            }

            <ng-template #dropdownMenu let-close="close">
                <div class="mobile-menu">
                    <ng-container [ngTemplateOutlet]="sidebarLoadComponentButtons" />

                    <!-- DIALOG OPTIONS -->
                    <button tuiButton type="button" aria-label="key-button" appearance="icon" [iconStart]="'@tui.key'"
                        size="xs"
                        (click)="localizationKeyDialog.onShowCreate(localizationKeyDialog.createTemplateView, 'm')">
                    </button>

                    <div tuiDropdownAlign="right" [tuiDropdown]="dropdownGamedata" [tuiDropdownSided]="true"
                        [(tuiDropdownOpen)]="gamedataOpen">
                        <button aria-label="gamedata-button" appearance="icon" tuiButton type="button" size="xs"
                            [iconStart]="'@tui.book'" [tuiAppearanceState]="gamedataOpen || null ? 'active' : null">
                        </button>
                    </div>
                    <ng-template #dropdownGamedata let-close="close">
                        <h4 style="padding-left: var(--tui-padding-s);">
                            {{'buffinfo' | translate}}
                        </h4>
                        <tui-data-list size="s" style="min-width: 120px;">
                            <tui-opt-group>
                                <button tuiOption new iconStart="book-open"
                                    (click)="gamedataDialog.onShowList(gamedataDialog.listTemplateView, 'm')">
                                    {{'see-all' | translate}}
                                </button>
                                <button tuiOption new iconStart="pencil"
                                    (click)="gamedataDialog.onShowCreateNew(gamedataDialog.createTemplateView, 'm')">
                                    {{'create-new' | translate}}
                                </button>
                            </tui-opt-group>
                        </tui-data-list>
                    </ng-template>

                    <div tuiDropdownAlign="right" [tuiDropdown]="dropdownDictionary" [tuiDropdownSided]="true"
                        [(tuiDropdownOpen)]="commonOpen">
                        <button aria-label="dictionary-button" appearance="icon" tuiButton type="button" size="xs"
                            [iconStart]="'@tui.book'" [tuiAppearanceState]="commonOpen || null ? 'active' : null">
                        </button>
                    </div>
                    <ng-template #dropdownDictionary let-close="close">
                        <h4 style="padding-left: var(--tui-padding-s);">
                            {{'dictionary' | translate}}
                        </h4>
                        <tui-data-list size="s" style="min-width: 120px;">
                            <tui-opt-group>
                                <button tuiOption new iconStart="book-open"
                                    (click)="dictionaryDialog.onShowList(dictionaryDialog.listTemplateView, 'm')">
                                    {{'see-all' | translate}}
                                </button>
                                <button tuiOption new iconStart="pencil"
                                    (click)="dictionaryDialog.onShowCreateNew(dictionaryDialog.createTemplateView, 'm')">
                                    {{'create-new' | translate}}
                                </button>
                            </tui-opt-group>
                        </tui-data-list>
                    </ng-template>
                </div>
            </ng-template>
            }
        </div>

        <div class="blank-space"></div>

        <div class="sidebar-actions">
            @if ((breakpointService$ | async) !== 'mobile') {
            <ng-container [ngTemplateOutlet]="sidebarLoadComponentButtons" />
            }

            <app-localization-key
                [ngStyle]="{'display': (breakpointService$ | async) === 'mobile' ? 'none': 'inherit'}" />
            <app-gamedata-values
                [ngStyle]="{'display': (breakpointService$ | async) === 'mobile' ? 'none': 'inherit'}" />
            <app-common-words [ngStyle]="{'display': (breakpointService$ | async) === 'mobile' ? 'none': 'inherit'}" />
        </div>
    </div>
</div>

<ng-template #sidebarLoadComponentButtons>
    <button id='localizationButton' tuiIconButton aria-label="localization-button"
        appearance="{{((componentOpens[appViews.localization] | async) ?? 0) > 0 ? 'selected': 'outline' }}"
        type="button" size="s" [iconStart]="'@tui.type'" (click)="loadComponent(appViews.localization)"
        tuiHint="{{'main-localization' | translate}}" [tuiHintShowDelay]="100"
        [ngClass]="((componentOpens[appViews.localization] | async) ?? 0) > 0 ? 'button-side': undefined">
    </button>
    <button id='dialogsButton' tuiIconButton aria-label="dialog-button"
        appearance="{{((componentOpens[appViews.dialogs] | async) ?? 0) > 0 ? 'selected': 'outline' }}" type="button"
        size="s" [iconStart]="'@tui.message-circle'" (click)="loadComponent(appViews.dialogs)"
        tuiHint="{{'chapter-dialog-localization' | translate}}" [tuiHintShowDelay]="100"
        [ngClass]="((componentOpens[appViews.dialogs] | async) ?? 0) > 0 ? 'button-side': undefined">
    </button>
    @if (appState.isOnTour$()) {
    <button id="importButton" tuiIconButton aria-label="import-button" appearance="{{
                (((componentOpens[appViews.import] | async) ?? 0) > 0 || ((componentOpens[appViews.importall] | async) ?? 0) > 0) ? 
                'selected':
                'outline'
            }}" type="button" size="s" [iconStart]="'@tui.upload'"
        [ngClass]="(((componentOpens[appViews.import] | async) ?? 0) > 0 || ((componentOpens[appViews.importall] | async) ?? 0) > 0) ? 'button-side': undefined"
        tuiDropdownAlign="right" [tuiDropdown]="importMenu" [tuiDropdownSided]="true" [tuiDropdownManual]="importOpen"
        (click)="onOpenImportMenu()">
    </button>
    }
    @else {
    <button tuiIconButton aria-label="import-button" appearance="{{
                (((componentOpens[appViews.import] | async) ?? 0) > 0 || ((componentOpens[appViews.importall] | async) ?? 0) > 0) ? 
                'selected':
                'outline'
            }}" type="button" size="s" [iconStart]="'@tui.upload'"
        [ngClass]="(((componentOpens[appViews.import] | async) ?? 0) > 0 || ((componentOpens[appViews.importall] | async) ?? 0) > 0) ? 'button-side': undefined"
        tuiDropdownAlign="right" [tuiDropdown]="importMenu" [tuiDropdownSided]="true" [(tuiDropdownOpen)]="importOpen">
    </button>
    }

    <ng-template #importMenu>
        <h4 style="padding-left: var(--tui-padding-s);">
            {{'re-import-files' | translate}}
        </h4>
        <tui-data-list size="s" style="min-width: 120px;">
            <tui-opt-group>
                <button tuiOption new iconStart="files" (click)="loadComponent(appViews.import); importOpen = false;">
                    {{'re-import-game-files' | translate}}
                </button>
                <button id="importTranslationFile" tuiOption new iconStart="file" (click)="loadComponent(appViews.importall); importOpen = false;">
                    {{'re-import-translation-file' | translate}}
                </button>
            </tui-opt-group>
        </tui-data-list>
    </ng-template>
    <button tuiIconButton aria-label="export-button"
        appearance="{{((componentOpens[appViews.export] | async) ?? 0) > 0 ? 'selected': 'outline' }}" type="button"
        size="s" [iconStart]="'@tui.download'" (click)="loadComponent(appViews.export)"
        tuiHint="{{'export-files' | translate}}" [tuiHintShowDelay]="100"
        [ngClass]="((componentOpens[appViews.export] | async) ?? 0) > 0 ? 'button-side': undefined">
    </button>
</ng-template>