<div class="localization-keys">
    <ng-container *ngIf="(localization.alreadySearch$ | async) ?? false; else searchTemplate">
        <ng-container *ngIf="!(localization.loading$ | async) ?? false; else loading">
            <ng-container *ngIf="breakpointService$ | async as breakpoint">
                <ng-container *ngIf="breakpoint === 'desktopLarge' || breakpoint === 'desktopSmall'">
                    <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar"
                        [itemSize]="45" [maxBufferPx]="500" [minBufferPx]="400" *ngIf="localization.keys">
                        <table class="tui-table" style="table-layout: fixed;" tuiTable
                            [columns]="['Language', 'Translation', 'Translated']" [@popIn]>
                            <thead>
                                <tr tuiThGroup>
                                    <th tuiTh *tuiHead="'Language'" [sticky]="true"
                                        [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                                        {{'original' | translate}}
                                    </th>
                                    <th tuiTh *tuiHead="'Translation'" [sticky]="true"
                                        [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null"
                                        style="width: 60%; max-width: 60%;">
                                        {{'translation' | translate}}
                                        <tui-toggle class="tui-space_left-2" [showIcons]="true"
                                            [(ngModel)]="localization.propagateTranslation"></tui-toggle>
                                        <tui-tooltip [content]="propagationTooltip" direction="right"
                                            [appearance]="'onDark'">
                                        </tui-tooltip>
                                        <ng-template #propagationTooltip>
                                            {{'propagation' | translate}}:
                                            {{'propagation-keys-description-0' | translate}}
                                            <span class="tooltip-important-text">
                                                {{'propagation-keys-description-1' | translate}}
                                            </span>
                                            {{'propagation-keys-description-2' | translate}}
                                            <strong>
                                                {{'propagation-keys-description-3' | translate}}
                                            </strong>
                                            {{'propagation-keys-description-4' | translate}}
                                        </ng-template>
                                    </th>
                                    <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                        [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null"
                                        style="width: 32px;">
                                        <tui-svg style="display: inherit;" src="tuiIconCheckCircle"></tui-svg>
                                    </th>
                                </tr>
                                <tr tuiThGroup>
                                    <th tuiTh *tuiHead="'Language'" [sticky]="true" style="transform: translate(0);"
                                        [style.top.px]="-viewport['_renderedContentOffset'] + 1" [sorter]="null">
                                        <tui-input tuiTableFilter="Original"
                                            [formControl]="localization.filterForm.controls['original']"
                                            [tuiGenericFilter]="localization.filterOriginalColumn"
                                            [tuiTextfieldSize]="'m'" [tuiTextfieldIconLeft]="'tuiIconFilter'">
                                            {{'search-by-original-column' | translate}}
                                        </tui-input>
                                    </th>
                                    <th tuiTh *tuiHead="'Translation'" [sticky]="true"
                                        [style.top.px]="-viewport['_renderedContentOffset'] + 1" [sorter]="null"
                                        style="width: 60%; max-width: 60%; transform: translate(0);">
                                        <tui-input tuiTableFilter="Translations"
                                            [formControl]="localization.filterForm.controls['translation']"
                                            [tuiGenericFilter]="localization.filterTranslationColumn"
                                            [tuiTextfieldSize]="'m'" [tuiTextfieldIconLeft]="'tuiIconFilter'">
                                            {{'search-by-translation-column' | translate}}
                                        </tui-input>
                                    </th>
                                    <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                        [style.top.px]="-viewport['_renderedContentOffset'] + 1" [sorter]="null"
                                        style="width: 32px; transform: translate(0);">
                                        <div
                                            style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                            <tui-checkbox [formControl]="localization.filterForm.controls['translated']"
                                                tuiTableFilter="Translated"
                                                [tuiGenericFilter]="localization.filterTranslatedColumn"
                                                contentAlign="right">
                                            </tui-checkbox>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody tuiTbody>
                                <tr *cdkVirtualFor="let item of localization.keys | tuiTableFilters; index as i" tuiTr>
                                    <td *tuiCell="'Language'" tuiTd [tuiHint]="tooltip" [tuiHintAppearance]="'onDark'"
                                        [tuiHintShowDelay]="200" class="tooltip-name-cell">
                                        <ng-container *ngIf="localization.focusRow == i; else showNormalText">
                                            <tui-scrollbar class="translation-content-cell">
                                                <span appCommonDictionary
                                                    [text]="onRenderDefaultLanguage(item.Original)"></span>
                                            </tui-scrollbar>
                                        </ng-container>
                                        <ng-template #showNormalText>
                                            <tui-scrollbar class="translation-content-cell">
                                                <span>{{onRenderDefaultLanguage(item.Original)}}</span>
                                            </tui-scrollbar>
                                        </ng-template>
                                        <span class="tooltip-span-name-cell tooltip-important-text tui-text_body-xs">
                                            <tui-svg src="tuiIconBox" style="font: inherit;"></tui-svg>{{item.Category}}
                                            <tui-svg src="tuiIconKey" style="font: inherit;"></tui-svg>{{item.Name}}
                                        </span>
                                    </td>
                                    <ng-template #tooltip>
                                        <tui-scrollbar #scrollTooltip class="tooltip-original-cell" [hidden]="true"
                                            (mouseenter)="onTooltipCheck(scrollTooltip)"
                                            (mouseleave)="onTooltipCheck()">
                                            <ul>
                                                <li class="tooltip-important-text tui-text_body-xs"
                                                    style="text-align: right;">
                                                    <tui-svg src="tuiIconKey"
                                                        style="font: inherit;"></tui-svg>{{item.Name}}
                                                </li>
                                                <li *ngFor="let key of item.Original| keyvalue">
                                                    <span class="tooltip-important-text">
                                                        {{$any(key.key) | translate}}:
                                                    </span>
                                                    {{key.value}}
                                                </li>
                                            </ul>
                                        </tui-scrollbar>
                                        <tui-svg *ngIf="showTooltipArrow$ | async"
                                            style="position: absolute; left: -1px; bottom: -1px; color: var(--important-text);"
                                            src="tuiIconArrowDown" [@popIn]></tui-svg>
                                    </ng-template>
                                    <td *tuiCell="'Translation'" tuiTd>
                                        <tui-text-area [(ngModel)]="item.Translations[localization.language]"
                                            [expandable]="true" (focusedChange)="localization.focusRow = i"
                                            [tuiTextfieldSize]="'m'"
                                            (ngModelChange)="localization.onTranslationChange($event, localization.keys, item)"
                                            [rows]="8">
                                            ......
                                        </tui-text-area>
                                    </td>
                                    <td *tuiCell="'Translated'" tuiTd>
                                        <div
                                            style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                            <tui-checkbox [(ngModel)]="item.Translated[localization.language]"
                                                (ngModelChange)="localization.onTranslatedCheck($event, localization.keys, item)"></tui-checkbox>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </cdk-virtual-scroll-viewport>
                </ng-container>
                <ng-container *ngIf="breakpoint === 'mobile'">
                    <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar"
                        [itemSize]="45" [maxBufferPx]="500" [minBufferPx]="400" *ngIf="localization.keys">

                        <table class="tui-table" style="table-layout: fixed;" tuiTable [columns]="['Language']"
                            [@popIn]>
                            <thead>
                                <tr tuiThGroup #filterHeader>
                                    <th tuiTh *tuiHead="'Language'" [sticky]="true" class="header-content-cell"
                                        [style.top.px]="-viewport['_renderedContentOffset'] + 1" [sorter]="null">
                                        <div class="header-content">
                                            <tui-input tuiTableFilter="Original"
                                                style="transform: translate(0); flex: 1;"
                                                [formControl]="localization.filterForm.controls['original']"
                                                [tuiGenericFilter]="localization.filterOriginalColumn"
                                                [tuiTextfieldSize]="'m'" [tuiTextfieldIconLeft]="'tuiIconFilter'">
                                                {{'search-by-original-column-short' | translate}}
                                            </tui-input>
                                            <tui-input tuiTableFilter="Translations"
                                                style="transform: translate(0); flex: 1;"
                                                [formControl]="localization.filterForm.controls['translation']"
                                                [tuiGenericFilter]="localization.filterTranslationColumn"
                                                [tuiTextfieldSize]="'m'" [tuiTextfieldIconLeft]="'tuiIconFilter'">
                                                {{'search-by-translation-column-short' | translate}}
                                            </tui-input>
                                            <tui-checkbox style="padding-left: 0.75rem;"
                                                [formControl]="localization.filterForm.controls['translated']"
                                                tuiTableFilter="Translated"
                                                [tuiGenericFilter]="localization.filterTranslatedColumn"
                                                contentAlign="right">
                                            </tui-checkbox>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody tuiTbody>
                                <tr *cdkVirtualFor="let item of localization.keys | tuiTableFilters | async; index as i"
                                    tuiTr>
                                    <td *tuiCell="'Language'" tuiTd class="tooltip-name-cell">
                                        <div class="cell-content">
                                            <div class="cell-content-original">
                                                <div style="flex: 1;" [tuiHint]="tooltip" [tuiHintAppearance]="'onDark'"
                                                    [tuiHintShowDelay]="200">
                                                    <ng-container
                                                        *ngIf="localization.focusRow == i; else showNormalText">
                                                        <tui-scrollbar class="translation-content-cell">
                                                            <span appCommonDictionary
                                                                [text]="onRenderDefaultLanguage(item.Original)"></span>
                                                        </tui-scrollbar>
                                                    </ng-container>
                                                    <ng-template #showNormalText>
                                                        <tui-scrollbar class="translation-content-cell">
                                                            <span>{{onRenderDefaultLanguage(item.Original)}}</span>
                                                        </tui-scrollbar>
                                                    </ng-template>
                                                    <span
                                                        class="tooltip-span-name-cell tooltip-important-text tui-text_body-xs">
                                                        <tui-svg src="tuiIconKey" style="font: inherit;"></tui-svg>
                                                        {{item.Name}}
                                                    </span>
                                                    <ng-template #tooltip>
                                                        <tui-scrollbar #scrollTooltip class="tooltip-original-cell"
                                                            [hidden]="true" (mouseenter)="onTooltipCheck(scrollTooltip)"
                                                            (mouseleave)="onTooltipCheck()">
                                                            <ul>
                                                                <li class="tooltip-important-text tui-text_body-xs"
                                                                    style="text-align: right;">
                                                                    <tui-svg src="tuiIconKey"
                                                                        style="font: inherit;"></tui-svg>
                                                                    {{item.Name}}
                                                                </li>
                                                                <li *ngFor="let key of item.Original | keyvalue">
                                                                    <span class="tooltip-important-text">
                                                                        {{$any(key.key) |
                                                                        translate}}:
                                                                    </span>
                                                                    {{key.value}}
                                                                </li>
                                                            </ul>
                                                        </tui-scrollbar>
                                                        <tui-svg *ngIf="showTooltipArrow$ | async"
                                                            style="position: absolute; left: -1px; bottom: -1px; color: var(--important-text);"
                                                            src="tuiIconArrowDown" [@popIn]></tui-svg>
                                                    </ng-template>
                                                </div>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                                    <tui-checkbox [(ngModel)]="item.Translated[localization.language]"
                                                        (ngModelChange)="localization.onTranslatedCheck($event, localization.keys, item)"></tui-checkbox>
                                                </div>
                                            </div>
                                            <div>
                                                <tui-text-area style="transform: translate(0);"
                                                    [(ngModel)]="item.Translations[localization.language]"
                                                    [expandable]="true" (focusedChange)="localization.focusRow = i"
                                                    [tuiTextfieldSize]="'m'"
                                                    (ngModelChange)="localization.onTranslationChange($event, localization.keys, item)"
                                                    [rows]="8">
                                                    ......
                                                </tui-text-area>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <div style="margin-bottom: 10vh;"></div>
                            </tbody>
                        </table>
                    </cdk-virtual-scroll-viewport>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #loading>
            <tui-block-status>
                <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" [@popIn]>
                    <h4 style="margin-top: revert; margin-bottom: revert;">{{'loading-3-dots' | translate}}</h4>
                </tui-loader>
            </tui-block-status>
        </ng-template>
    </ng-container>

    <ng-template #searchTemplate>
        <tui-block-status>
            <h4>{{'type-your-search' | translate}}</h4>
        </tui-block-status>
    </ng-template>
</div>