.viewport {
    height: calc(100vh - var(--header-height) - 6em);
}

.localization-keys {
    grid-column: 2;
}

.row-selected {
    background: var(--tui-neutral-bg-hover);
}

.tooltip-original-cell {
    max-height: 15rem;
}

.tooltip-name-cell {
    padding-bottom: 1rem;
}

.tooltip-name-cell:hover .tooltip-span-name-cell {
    opacity: 0;
}

.tooltip-span-name-cell {
    text-align: right;
    position: absolute;
    right: 0.5em;
    bottom: 0.1em;
    background: var(--tui-base-01);
    transition: opacity 300ms;
}

.tooltip-important-text {
    font-weight: bold;
    color: var(--tui-warning-fill);
}

.translation-content-cell {
    max-height: 180px;
    height: 100%;
    align-items: center;
}