.handle {
    position: absolute;
    background: var(--tui-primary);
    width: 2px;
    height: 100%;
    transform: inherit;
}

.viewer-resizer-container {
    position: relative;
    height: 100%;
    min-width: var(--min-width-viewer);
    width: 100%;
}

.viewer-container {
    height: 100%;
    min-width: var(--min-width-viewer);
}

.left-middle-handle {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}