.viewer-container {
    height: 100%;
    min-width: var(--min-width-viewer);
}
 
.image {
    width: 5.5rem;
    height: 5.5rem;
}
 
.card {
    background-color: var(--tui-base-02);
    min-width: 15rem;
    height: 100%;
}