<!-- <div #viewerContent tuiResizeable class="viewer-resizer-container">
    <tui-scrollbar class="viewer-container">
        <ng-template adHost></ng-template>
    </tui-scrollbar>
    <div *ngIf="showResizer" class="left-middle-handle handle" [tuiResizer]="[1, 0]"></div>
</div> -->

<tui-scrollbar class="viewer-container">
    <ng-template adHost></ng-template>
    @if (!componentLoaded) {
    <tui-block-status class="card" [card]="true">
        <img alt="hidden content" src="assets/images/localization-not.svg" tuiSlot="top" class="image" />

        {{'viewer-not-selected' | translate}}
    </tui-block-status>
    }
</tui-scrollbar>