/* You can add global styles to this file, and also import other style files */
:root {
  --header-height: 0rem;
  --important-text: red;
  --blend-mode: normal;
  --menu-width: 0rem;
  --min-width-viewer: 4rem;
}

@font-face {
  font-family: "dialog-font";
  src: url("/assets/fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.main-grid {
  display: grid;
  height: 100%;
  grid-template-columns: var(--menu-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.container-m {
  padding: 1em;
  max-width: 1680px;
  margin: 0 auto;
}

.common-word {
  color: var(--important-text);
}

.main-viewer {
  display: flex;
  overflow: hidden;
  height: 100%;
}