.mode-container {
    max-width: 60rem;
    min-width: 20rem;
    padding: 0 clamp(1em, 2.5%, 5em);
    margin: 2rem auto 0 auto;
}

.width100 {
    width: 100%;
}

form.mode-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    label {
        display: flex;
        max-width: 100%;
        min-width: 260px;
        flex: 1;

        span {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}

form.url-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-end;

    * {
        flex: 1;
    }

    div {
        min-width: 260px;
    }

    tui-loader {
        min-width: 260px;

        button {
            min-width: 100%;
        }
    }
}