@if (dAS.mainGroup) {
<ng-container *ngIf="(dAS.dialogAssetsChange$ | async) && (dAS.dialogAssets$ | async) as data; else loading;">
    @if ((breakpointService.mode$ | async) === 'desktopLarge' || (breakpointService.mode$ | async) ===
    'desktopSmall') {
    <ng-container [ngTemplateOutlet]="desktopUI" [ngTemplateOutletContext]="{$implicit: data}"></ng-container>
    }
    @else if ((breakpointService.mode$ | async) === 'mobile') {
    <ng-container [ngTemplateOutlet]="mobileUI" [ngTemplateOutletContext]="{$implicit: data}"></ng-container>
    }
</ng-container>
}
@else {
<tui-block-status class="group-no-selected">
    <h4>{{'select-group-tree' | translate}}</h4>
</tui-block-status>
}

<ng-template #desktopUI let-data>
    <div class="desktop-main">
        <div class="top-main-options tui-space_bottom-2">
            <div class="option-child">
                <span class="tui-text_body-s tui-space_right-4 text-bold">{{'file-number' | translate}}:</span>
                <tui-tabs-with-more [itemsLimit]="5" [(activeItemIndex)]="dAS.activeItemIndex" class="tabs"
                    [moreContent]="moreContentIcon">
                    <ng-container *ngFor="let item of data">
                        <button *tuiItem tuiTab>
                            {{item.Number}}
                        </button>
                    </ng-container>
                </tui-tabs-with-more>
            </div>
            <div class="option-child">
                <span *ngIf="dAS.pendingChanges$ | async" class="tui-space_right-5">
                    {{'saving-changes' | translate}}
                </span>
                <span class="tui-space_right-1">
                    {{'translated' | translate}}:
                </span>
                <tui-toggle class="tui-space_right-4" [showIcons]="true"
                    [(ngModel)]="data[dAS.activeItemIndex].Translated"
                    (ngModelChange)="onTranslatedChange(data, $event)" appareance="outline"></tui-toggle>
                <span class="tui-space_right-1">{{'propagation' | translate}}:</span>
                <tui-toggle [showIcons]="true" [(ngModel)]="dAS.propagateTranslation"></tui-toggle>
                <tui-tooltip [content]="propagationTooltip" direction="right" [appearance]="'onDark'">
                </tui-tooltip>
                <button tuiIconButton type="button" appearance="icon" shape="square"
                    tuiHint="{{'download-dialog-file' | translate}}" [tuiHintAppearance]="'onDark'"
                    (click)="onDownload(data[dAS.activeItemIndex])" icon="tuiIconDownload">
                </button>
                <button tuiIconButton type="button" appearance="icon" shape="square"
                    tuiHint="{{'copy-dialog-file' | translate}}" [tuiHintAppearance]="'onDark'"
                    (click)="onCopyToClipboard(data[dAS.activeItemIndex])" icon="tuiIconCopy">
                </button>
                <button tuiIconButton type="button" appearance="icon" shape="square"
                    tuiHint="{{'paste-dialog-file' | translate}}" [tuiHintAppearance]="'onDark'"
                    (click)="onPasteClipboard(data[dAS.activeItemIndex])" icon="tuiIconClipboard">
                </button>
                <tui-loader [showLoader]="(dAS.libreTranslate.translating$ | async) ?? false" [inheritColor]="true"
                    [overlay]="true">
                    <button tuiIconButton type="button" appearance="icon" shape="square" icon="tuiIconBox" [tuiHint]="((dAS.libreTranslate.serverReady$ | async)) ? 
                                                            ('libretranslate-button-ready' | translate):
                                                            ('libretranslate-button-disabled' | translate)"
                        [tuiHintAppearance]="((dAS.libreTranslate.serverReady$ | async)) ? 'onDark' : 'error'"
                        (click)="onMachineTranslate(data)" [disabled]="!(dAS.libreTranslate.serverReady$ | async)">
                    </button>
                </tui-loader>
            </div>
        </div>
        <ng-container *ngIf="data[dAS.activeItemIndex] as dialogAsset">
            <tui-scrollbar>
                <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar"
                    [itemSize]="(breakpointService.mode$ | async) === 'desktopLarge' ? 185 : 148" [maxBufferPx]="500"
                    [minBufferPx]="400">
                    <table class="dialogs-table" tuiTable [columns]="['OriginalText', 'Translation']" [@popIn]>
                        <thead>
                            <tr tuiThGroup>
                                <th tuiTh *tuiHead="'OriginalText'" [sorter]="null" class="column-original">
                                    {{'original' | translate}}
                                </th>
                                <th tuiTh *tuiHead="'Translation'" [sorter]="null">
                                    {{'translation' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody tuiTbody>
                            <tr *cdkVirtualFor="let item of dialogAsset.Model['$content']" tuiTr>
                                <td *tuiCell="'OriginalText'" tuiTd class="tooltip-name-cell" [tuiHint]="otherLanguages"
                                    tuiHintAppearance="onDark" [tuiHintShowDelay]="200"
                                    (mouseenter)="onGetOtherOriginalText(dialogAsset.Number, item.ID)">
                                    <ng-container *ngIf="focusRow === item.ID; else showNormalText">
                                        <span appCommonDictionary [text]="item.OriginalText"></span>
                                    </ng-container>
                                    <ng-template #showNormalText>
                                        <span>{{item.OriginalText}}</span>
                                    </ng-template>
                                </td>
                                <td *tuiCell="'Translation'" tuiTd>
                                    <div
                                        [ngStyle]="{'zoom': (breakpointService.mode$ | async) === 'desktopSmall' ? '0.8' : 1}">
                                        <div class="dialog-translation-container">
                                            <img class="dialog-translation-background"
                                                src="assets/images/dialog_paper.png" alt="dialot_paper">
                                            <img class="dialog-translation-background" style="transform: scaleX(-1);"
                                                src="assets/images/dialog_paper.png" alt="dialot_paper">
                                        </div>
                                        <ng-container *ngIf="item.IconLocate === 2; else fullDialog">
                                            <div class="dialog-translation-portrait-container" *ngIf="item.IconName">
                                                <img class="dialog-translation-portrait"
                                                    src="assets/images/figure_base2.png" alt="base" loading="lazy">
                                                <img class="dialog-translation-portrait"
                                                    [src]="onGetPortrait(item.IconName)"
                                                    onerror="this.src='assets/images/portrait-miss.svg'"
                                                    alt="portrait not found" width="100" height="120" loading="lazy">
                                                <img class="dialog-translation-frame"
                                                    src="assets/images/figure_frame.png" alt="base" loading="lazy">
                                            </div>
                                            <div class="dialog-translation-speaker">
                                                <input [(ngModel)]="item.SpeakerName"
                                                    (focus)="dAS.previousPropagationValue = item.SpeakerName"
                                                    (ngModelChange)="onSpeakerNameChange($event, data)"
                                                    class="dialog-speaker-name" />
                                            </div>
                                            <div class="dialog-translation-input">
                                                <textarea [(ngModel)]="item.Text" (focus)="focusRow = item.ID"
                                                    (ngModelChange)="onTextChange(dialogAsset)"
                                                    [disabled]="(dAS.libreTranslate.translating$ | async) ?? true"
                                                    class="dialog-translation"></textarea>
                                            </div>
                                        </ng-container>
                                        <ng-template #fullDialog>
                                            <div class="dialog-translation-full">
                                                <textarea [(ngModel)]="item.Text"
                                                    (ngModelChange)="onTextChange(dialogAsset)"
                                                    (focus)="focusRow = item.ID"
                                                    [disabled]="(dAS.libreTranslate.translating$ | async) ?? true"
                                                    class="dialog-translation"></textarea>
                                            </div>
                                        </ng-template>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </cdk-virtual-scroll-viewport>
            </tui-scrollbar>
        </ng-container>
    </div>
</ng-template>

<ng-template #mobileUI let-data>
    <div class="mobile-main">
        <div class="top-main-options tui-space_bottom-2">
            <div class="option-child">
                <h3 class="tui-space_right-2">{{'file-number' | translate}}: </h3>
                <tui-tabs-with-more [itemsLimit]="1" [(activeItemIndex)]="dAS.activeItemIndex"
                    [moreContent]="moreContentIcon" class="tabs">
                    <ng-container *ngFor="let item of data">
                        <button *tuiItem tuiTab>
                            {{item.Number}}
                        </button>
                    </ng-container>
                </tui-tabs-with-more>
            </div>
            <div class="option-child">
                <span *ngIf="dAS.pendingChanges$ | async" class="pending-changes-text">
                    {{'saving-changes' | translate}}
                </span>
                <button tuiIconButton type="button" appearance="icon" shape="square" [tuiDropdown]="dropdownContent"
                    [tuiDropdownManual]="openOption" (click)="openOption = !openOption"
                    icon="tuiIconMoreVerticalLarge"></button>
                <ng-template #dropdownContent>
                    <div class="mobile-dropdown-container">
                        <div>
                            <span class="tui-space_right-1">{{'translated' | translate}}:</span>
                            <tui-toggle class="tui-space_right-4" [showIcons]="true"
                                [(ngModel)]="data[dAS.activeItemIndex].Translated"
                                (ngModelChange)="onTranslatedChange(data, $event)"></tui-toggle>
                        </div>
                        <div>
                            <span class="tui-space_right-1">{{'propagation' | translate}}:</span>
                            <tui-toggle [showIcons]="true" [(ngModel)]="dAS.propagateTranslation"></tui-toggle>
                            <tui-tooltip [content]="propagationTooltip" direction="right" [appearance]="'onDark'">
                            </tui-tooltip>
                        </div>
                        <tui-loader [showLoader]="(dAS.libreTranslate.translating$ | async) ?? false"
                            [inheritColor]="true" [overlay]="true">
                            <button tuiIconButton type="button" appearance="icon" shape="square" icon="tuiIconBox"
                                [tuiHint]="((dAS.libreTranslate.serverReady$ | async)) ? 
                                                                                ('libretranslate-button-ready' | translate):
                                                                                ('libretranslate-button-disabled' | translate)"
                                [tuiHintAppearance]="((dAS.libreTranslate.serverReady$ | async)) ? 'onDark' : 'error'"
                                (click)="onMachineTranslate(data)"
                                [disabled]="!(dAS.libreTranslate.serverReady$ | async)">
                            </button>
                        </tui-loader>
                    </div>
                </ng-template>
            </div>
        </div>
        <div #container>
            <tui-scrollbar>
                <cdk-virtual-scroll-viewport tuiScrollable [itemSize]="5" class="viewport tui-zero-scrollbar">
                    <ng-container
                        *cdkVirtualFor="let item of data[dAS.activeItemIndex].Model['$content']; let last = last">
                        <p class="tui-text_body-s original-text" [tuiHint]="otherLanguages" tuiHintAppearance="onDark"
                            (mouseenter)="onGetOtherOriginalText(data[dAS.activeItemIndex].Number, item.ID)">
                            <ng-container *ngIf="focusRow === item.ID; else showNormalText">
                                <span appCommonDictionary [text]="item.OriginalText"></span>
                            </ng-container>
                            <ng-template #showNormalText>
                                <span>{{item.OriginalText}}</span>
                            </ng-template>
                        </p>
                        <div class="mobile-dialog" [ngStyle]="{'zoom': container.offsetWidth * 1.12 / 767}">
                            <div class="dialog-translation-container">
                                <img class="dialog-translation-background" src="assets/images/dialog_paper.png"
                                    alt="dialot_paper">
                                <img class="dialog-translation-background" style="transform: scaleX(-1);"
                                    src="assets/images/dialog_paper.png" alt="dialot_paper">
                            </div>
                            <ng-container *ngIf="item.IconLocate === 2; else fullDialog">
                                <div class="mobile-dialog-portrait-container">
                                    <img class="mobile-dialog-portrait" src="assets/images/figure_base2.png" alt="base"
                                        loading="lazy">
                                    <img class="mobile-dialog-portrait" [src]="onGetPortrait(item.IconName)"
                                        onerror="this.src='assets/images/portrait-miss.svg';" alt="portrait not found"
                                        width="100" height="120" loading="lazy">
                                    <img class="mobile-dialog-frame" src="assets/images/figure_frame.png" alt="base"
                                        loading="lazy">
                                </div>
                                <div class="mobile-dialog-speaker">
                                    <input [(ngModel)]="item.SpeakerName"
                                        (focus)="dAS.previousPropagationValue = item.SpeakerName"
                                        (ngModelChange)="onSpeakerNameChange($event, data)"
                                        class="dialog-speaker-name" />
                                </div>
                                <div class="mobile-dialog-input">
                                    <textarea [(ngModel)]="item.Text" (focus)="focusRow = item.ID"
                                        (ngModelChange)="onTextChange(data[dAS.activeItemIndex])"
                                        [disabled]="(dAS.libreTranslate.translating$ | async) ?? true" cols="4"
                                        class="dialog-translation"></textarea>
                                </div>
                            </ng-container>
                            <ng-template #fullDialog>
                                <div class="mobile-dialog-full">
                                    <textarea [(ngModel)]="item.Text" (focus)="focusRow = item.ID"
                                        (ngModelChange)="onTextChange(data[dAS.activeItemIndex])"
                                        [disabled]="(dAS.libreTranslate.translating$ | async) ?? true"
                                        class="dialog-translation"></textarea>
                                </div>
                            </ng-template>
                        </div>
                        <hr class="tui-space_top-2" *ngIf="!$any(last)">
                    </ng-container>
                </cdk-virtual-scroll-viewport>
            </tui-scrollbar>
        </div>
    </div>
</ng-template>

<ng-template #moreContentIcon>
    <tui-svg src="tuiIconMoreHorizontalLarge"></tui-svg>
</ng-template>

<ng-template #loading>
    <div class="loading-container">
        <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'">
            <tui-block-status>
                <h4>{{'loading-3-dots' | translate}}</h4>
            </tui-block-status>
        </tui-loader>
    </div>
</ng-template>

<ng-template #otherLanguages>
    <tui-scrollbar #scrollTooltip class="other-languages-container" [hidden]="true"
        (mouseenter)="onTooltipCheck(scrollTooltip)" (mouseleave)="onTooltipCheck()">
        <ng-container *ngIf="(dAS.otherText$ | async) as data; else loading">
            <ul>
                <li *ngFor="let key of data | keyvalue">
                    <span class="tooltip-important-text">
                        {{$any(key.key) | translate}}
                    </span>:
                    {{key.value}}
                </li>
            </ul>
        </ng-container>
    </tui-scrollbar>
    <tui-svg *ngIf="showTooltipArrow$ | async"
        style="position: absolute; left: -1px; bottom: -1px; color: var(--important-text);" src="tuiIconArrowDown"
        [@popIn]></tui-svg>
</ng-template>

<ng-template #propagationTooltip>
    {{'propagation' | translate}}: {{'propagation-dialog-description-0' | translate}}
    <span class="tooltip-important-text">{{'propagation-dialog-description-1' | translate}}</span>
    {{'propagation-dialog-description-2' | translate}}
    <strong>{{'propagation-dialog-description-3' | translate}}</strong>{{'propagation-dialog-description-4' |
    translate}}
</ng-template>