@import 'node_modules/@taiga-ui/core/styles/taiga-ui-local.scss';

.group-no-selected {
    min-width: 320px;
}

.viewport {
    height: calc(100vh - var(--header-height) - 5rem);
}

.tooltip-important-text {
    font-weight: bold;
    color: var(--important-text);
}

.other-languages-container {
    padding: var(--tui-padding-s);
}

.top-main-options {
    @include inset-border(bottom, light);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .option-child {
        display: flex;
        align-items: center;

        .pending-changes-text {
            width: 60px;
            text-align: center;
        }
    }

    .tabs {
        justify-content: flex-end;
        box-shadow: none;
    }
}

.dialog-speaker-name {
    width: 425px;
    font-size: 22px;
    font-family: dialog-font;
    font-weight: bold;
    color: #e48e45;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    transition: all 500ms;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background-color: var(--tui-base-02);
    }
}

.dialog-translation {
    font-size: 17px;
    font-family: dialog-font;
    line-height: initial;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    width: 425px;
    height: 90px;
    resize: none;
    overflow: hidden;
    transition: all 500ms;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background-color: var(--tui-base-02);
    }
}

.dialog-translation-container {
    display: flex;
}

.dialog-translation-background {
    width: 320px;
    opacity: 0.5;
    filter: contrast(0) brightness(0);
}

.desktop-main {
    height: 100%;
    padding: 0 1rem;

    .dialogs-table {
        table-layout: fixed;

        .column-original {
            width: 100%;
        }
    }

    .dialog-translation-portrait-container {
        position: relative;
        left: -6px;

        .dialog-translation-portrait {
            width: 128px;
            height: 128px;
            position: absolute;
            bottom: 24px;
            left: 24px;
        }
    }

    .dialog-translation-frame {
        width: 148px;
        height: 148px;
        position: absolute;
        bottom: 12px;
        left: 18px;
        opacity: 0.50;
    }

    .dialog-translation-speaker {
        position: absolute;
        top: 30px;
        left: 168px;
    }

    .dialog-translation-input {
        position: absolute;
        top: 64px;
        left: 168px;
        max-width: 450px;
    }

    .dialog-translation-full {
        position: absolute;
        top: 44px;
        left: 120px;
        max-width: 450px;
    }
}

.mobile-main {
    padding-left: 1rem;
    min-width: 320px;

    .mobile-dialog {
        position: relative;
        margin-left: 1.4em;

        .mobile-dialog-portrait-container {
            position: relative;
            left: -6px;

            .mobile-dialog-portrait {
                width: 128px;
                height: 128px;
                position: absolute;
                bottom: 32px;
                left: 24px;
            }

            .mobile-dialog-frame {
                width: 148px;
                height: 148px;
                position: absolute;
                bottom: 20px;
                left: 18px;
                opacity: 0.50;
            }
        }

        .mobile-dialog-speaker {
            position: absolute;
            top: 30px;
            left: 168px;
        }

        .mobile-dialog-input {
            position: absolute;
            top: 64px;
            left: 168px;
            max-width: 450px;
        }

        .mobile-dialog-full {
            position: absolute;
            top: 44px;
            left: 120px;
            max-width: 450px;
        }

    }
}

.mobile-dropdown-container {
    padding: 1em;
    display: flex;
    align-items: center;
}