.background {
    background-color: var(--tui-base-02);
    opacity: 0.3;
    background-image: radial-gradient(#000000 0.8500000000000001px, var(--tui-base-02) 0.8500000000000001px);
    background-size: 17px 17px;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}