<div tuiDropdownAlign="right" [tuiDropdown]="dropdown" [tuiDropdownSided]="true" [(tuiDropdownOpen)]="menuOpen">
    <button appearance="icon" tuiButton type="button" size="xs" [iconStart]="'@tui.book'"
        [tuiAppearanceState]="menuOpen || null ? 'active' : null" aria-label="Dictionary Open Menu Button">
    </button>
</div>
<ng-template #dropdown>
    <h4 style="padding-inline-start: var(--tui-padding-s);">
        {{'dictionary' | translate}}
    </h4>
    <tui-data-list size="s" style="min-width: 120px;">
        <tui-opt-group>
            <button tuiOption new iconStart="book-open" (click)="onShowList(listTemplate, 'm')">
                {{'see-all' | translate}}
            </button>
            <button tuiOption new iconStart="pencil" (click)="onShowCreateNew(createTemplate, 'm')">
                {{'create-new' | translate}}
            </button>
        </tui-opt-group>
    </tui-data-list>
</ng-template>

@if (!dialogState.isHidden) {
<main class="main-form" #draggableElement [ngStyle]="{'z-index': dialogState.zIndex$ | async}"
    (mousedown)="changeIndex(dialogState)" (touchstart)="changeIndex(dialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableElement"
        [draggableElementState]="dialogState" [elementAnchorRef]="anchor">
        <p>{{'common-word-form' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [iconStart]="'@tui.x'" size="xs"
            (click)="dialogState.isHidden = !dialogState.isHidden"
            (touchstart)="dialogState.isHidden = !dialogState.isHidden" aria-label="Close dialog">
        </button>
    </div>

    <ng-container [ngTemplateOutlet]="createTemplate" />
</main>
}

<ng-template #createTemplate>
    <tui-scrollbar class="main-form-content">
        <form [formGroup]="commonWordForm" style="padding: 0 1rem;">
            <div>
                <div>
                    <h3 class="tui-form__header tui-form__header_margin-top_none tui-space_top-4">
                        {{'content' | translate}}
                    </h3>
                    <div class="tui-form__row">
                        <tui-textfield tuiTextfieldSize="m">
                            <label tuiLabel>{{'original-word' | translate}}</label>
                            <input tuiTextfield formControlName="Original" />
                            <span class="tui-required"></span>
                        </tui-textfield>
                    </div>
                    <div class="tui-form__row">
                        <tui-textfield tuiTextfieldSize="m">
                            <label tuiLabel>{{'translation' | translate}}</label>
                            <input tuiTextfield formControlName="Translation" />
                            <span class="tui-required"></span>
                        </tui-textfield>
                    </div>
                </div>
            </div>
        </form>

        <div class="main-form-actions tui-space_top-3 tui-space_bottom-3">
            @if (!(commonWords.createOther$ | async)) {
            <button tuiButton [iconStart]="'@tui.circle-check'" (click)="onCreateKey()" size="m"
                [loading]="(commonWords.creating$ | async) ?? false" [disabled]="commonWordForm.invalid"
                [tuiHint]="(commonWordForm.invalid) ? ('form-error' | translate) : undefined" appearance="outline">
                {{'create' | translate}}
            </button>
            }
            @else {
            <button tuiButton [iconStart]="'@tui.circle-check'" (click)="onCreateOther()" size="m" appearance="outline">
                {{'created-other' | translate}}
            </button>
            }
        </div>
    </tui-scrollbar>
</ng-template>


@if (!listDialogState.isHidden) {
<main class="main-list" #draggableListElement [ngStyle]="{'z-index': listDialogState.zIndex$ | async}"
    (mousedown)="changeIndex(listDialogState)" (touchstart)="changeIndex(listDialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableListElement"
        [draggableElementState]="listDialogState" [elementAnchorRef]="anchor">
        <p>{{'dictionary' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [iconStart]="'@tui.x'" size="xs"
            (click)="listDialogState.isHidden = !listDialogState.isHidden"
            (touchstart)="listDialogState.isHidden = !listDialogState.isHidden" aria-label="Close dialog">
        </button>
    </div>

    <ng-container [ngTemplateOutlet]="listTemplate" />
</main>
}

<ng-template #listTemplate>
    <h4 class="tui-space_horizontal-3">{{'dictionary-description' | translate}}</h4>

    @defer {
    <app-common-word-table class="popin enter"></app-common-word-table>
    } @placeholder {
    <tui-loader />
    }
</ng-template>

<div #anchor style="position: absolute;"></div>