@use '@taiga-ui/core/styles/variables/media.scss' as media;

.main-form {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background: var(--tui-background-base-alt);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 16%);
    border-radius: var(--tui-radius-s);
    padding: 0;

    .main-form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--tui-background-base);
        border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
        cursor: move;
        height: 2rem;

        p {
            padding: 0 .5rem;
        }
    }

    .main-form-content {
        overflow-y: visible;
        overflow-x: hidden;
    }
}

.main-form-actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem;
}

.main-list {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background: var(--tui-background-base-alt);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 16%);
    border-radius: var(--tui-radius-s);
    padding: 0;
    padding-bottom: var(--tui-padding-s);

    .main-form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--tui-background-base);
        border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
        cursor: move;
        height: 2rem;

        p {
            padding: 0 .5rem;
        }
    }

    .main-form-content {
        overflow-y: visible;
        overflow-x: hidden;
    }

    .main-form-actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 1rem;
    }
}

.viewport {
    height: 100%;
}

.viewport-dialog {
    height: 50vh;
}