tui-tabs-with-more {
    width: 100%;
    justify-content: flex-end;
    box-shadow: none;
    min-height: 48px;
}

.main-container {
    max-width: 60rem;
    min-width: 20rem;
    padding: 0 clamp(1em, 2.5%, 5em);
    margin: 2rem auto 0 auto;
}

.files-input {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 1em;
}

.file-input {
    min-width: 280px;
    min-height: 140px;
    max-height: 140px;
}

.file-input-provided {
    width: 100%;
}

.translate-button {
    display: grid;
}

.important-text {
    color: var(--important-text);
}

.center-text {
    text-align: center;
}

.not-support {
    background-color: var(--tui-status-warning);
    mix-blend-mode: difference;
    height: 140px;
    width: minmax(280px, auto);
}

.text-blend {
    mix-blend-mode: var(--blend-mode);
}

.skip-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.empty-language-container {
    min-width: 15rem;
}

.file-input-empty {
    position: relative;
}

.file-verified-loader {
    position: absolute;
    right: 0.5em;
    top: 0.5em;

    tui-icon {
        top: 0px;
    }
}

.progress-operation-scroll {
    display: block;
    width: calc(100% - 4px);
    height: 200px;
    border: 2px solid var(--tui-background-base-alt);
}

.width150 {
    width: 150px;
}

.width64 {
    width: 64px;
}