tui-tabs-with-more {
    width: 100%;
    justify-content: flex-end;
    box-shadow: none;
    min-height: 48px;
}

.main-container {
    max-width: 60rem;
    min-width: 20rem;
    padding: 0 clamp(1em, 2.5%, 5em);
    margin: 2rem auto 0 auto;
}

.file-input-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 1em;
}

.file-input {
    min-width: 280px;
    min-height: 140px;
    max-height: 140px;
}

.file-input-provided {
    width: 100%;
}

.right-top-button {
    position: absolute;
    top: 4px;
    inset-inline-end: 4px;
}

.progress-badget-container {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.file-avatar {
    background: transparent;
}

.file-input-empty {
    position: relative;
}

.file-verified-loader {
    position: absolute;
    inset-inline-end: 0.5em;
    top: 0.5em;

    tui-icon {
        top: 0px;
    }
}

.next-button {
    width: 100%;
}

.import-button {
    display: grid;
}

.padding0 {
    padding: 0;
}

.progress-operation-scroll {
    display: block;
    width: calc(100% - 4px);
    height: 200px;
    border: 2px solid var(--tui-background-base-alt);
}

.width150 {
    width: 150px;
}

.width64 {
    width: 64px;
}