table._stuck._sticky:after, table._stuck   ._sticky:after {
    opacity: var(--tui-inline);
}

.viewport {
    height: calc(100svh - var(--header-height) - 5.0rem);
    margin: 0 1.1em;
}

.tooltip-original-cell {
    max-height: 15rem;
}

.tooltip-name-cell:hover .tooltip-span-name-cell {
    opacity: 0;
}

.tooltip-span-name-cell {
    text-align: right;
    position: absolute;
    inset-inline-end: 0.5em;
    bottom: 0.1em;
    background: var(--tui-background-base);
    transition: opacity 300ms;
}

.tooltip-important-text {
    font-weight: bold;
    color: var(--tui-text-invert);
}

.tooltip-important-text-colored {
    font-weight: bold;
    color: var(--important-text);
}

.tooltip-arrow {
    position: absolute;
    left: -1px;
    bottom: 4px;
    color: var(--tui-text-invert);
}

.translation-content-cell {
    max-height: 104px;
    min-height: 104px;
}

.header-content-cell {
    transform: translate(0);
    padding-left: 0 !important;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cell-content {
    display: flex;
    flex-direction: column;

    .cell-content-original {
        display: flex;
        padding: 0.75rem;
        align-items: center;
        justify-content: space-between;
        max-height: 100px;
    }
}

.translated-checkbox-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.align-center {
    align-items: center;
}

.head-toogle {
    position: absolute;
}

.regex-label {
    padding: 0.5rem 1rem;
    min-width: calc(100% - 2rem);
    transition: all 0.25s;

    &:hover {
        cursor: pointer;
        background-color: var(--tui-background-neutral-1-hover);
    }
}