@if (localization.selectedCategory$ | async) {
@if ((localization.alreadySearch$ | async) ?? false) {
@if (localization.loading$ | async) {
<tui-loader />
}
@else {
<tui-loader [showLoader]="localization.gemini.waiting$()" [inheritColor]="true" [overlay]="true">
    @if ((breakpointService.mode$ | async) === 'desktopLarge' || (breakpointService.mode$ | async) === 'desktopSmall') {
    <ng-container [ngTemplateOutlet]="desktopTable" />
    }
    @else if ((breakpointService.mode$ | async) === 'mobile') {
    <ng-container [ngTemplateOutlet]="mobileTable" />
    }
</tui-loader>
}
}
@else {
<ng-container [ngTemplateOutlet]="searchTemplate" />
}
}
@else {
<ng-container [ngTemplateOutlet]="selectCategory" />
}

<ng-template #desktopTable>
    <ng-container tuiTableFilters>
        @if (localization.keys) {
        <tui-scrollbar>
            <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar" [itemSize]="129"
                [maxBufferPx]="500" [minBufferPx]="400">

                <table class="tui-table popin enter" style="table-layout: fixed;" tuiTable
                    [columns]="['Language', 'Translation', 'Translated']">
                    <thead>
                        <tr tuiThGroup #columnsHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]=" true" style="transform: translate(0);"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                                {{'original' | translate}}
                            </th>
                            <th tuiTh *tuiHead="'Translation'" [sticky]="true" style="transform: translate(0);"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null"
                                style="width: 60%; max-width: 60%; ">
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <span>{{'translation' | translate}}</span>
                                    <input tuiSwitch type="checkbox" [showIcons]="true"
                                        [(ngModel)]="localization.propagateTranslation" [tuiHint]="propagationTooltip"
                                        size="s" aria-label="Propagation checkbox" />
                                    <ng-template #propagationTooltip>
                                        {{'propagation' | translate}}:
                                        {{'propagation-keys-description-0' | translate}}
                                        <span class="tooltip-important-text">
                                            {{'propagation-keys-description-1' | translate}}
                                        </span>
                                        {{'propagation-keys-description-2' | translate}}
                                        <strong>
                                            {{'propagation-keys-description-3' | translate}}
                                        </strong>
                                        {{'propagation-keys-description-4' | translate}}
                                    </ng-template>
                                </div>
                            </th>
                            <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                style="transform: translate(0); width: 32px;"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                                <div class="translated-checkbox-container align-center">
                                    <tui-icon icon="circle-check" [style.font-size.rem]="1" />
                                </div>
                            </th>
                        </tr>
                        <tr tuiThGroup #filterHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]="true" style="transform: translate(0);"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0) + 44"
                                [sorter]="null">
                                <tui-textfield tuiTextfieldSize="s">
                                    <tui-icon icon="filter" [style.font-size.rem]="1" />
                                    <input tuiTextfield tuiTableFilter="Original"
                                        [tuiGenericFilter]="localization.filterOriginalColumn"
                                        [formControl]="localization.filterForm.controls['original']"
                                        placeholder="{{'search-by-original-column' | translate}}" />
                                </tui-textfield>
                            </th>
                            <th tuiTh *tuiHead="'Translation'" [sticky]="true"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0) + 44" [sorter]="null"
                                style="width: 60%; max-width: 60%; transform: translate(0);">
                                <tui-textfield tuiTextfieldSize="s">
                                    <tui-icon icon="filter" [style.font-size.rem]="1" />
                                    <input tuiTextfield tuiTableFilter="Translations"
                                        [tuiGenericFilter]="localization.filterTranslationColumn"
                                        [formControl]="localization.filterForm.controls['translation']"
                                        placeholder="{{'search-by-translation-column' | translate}}" />
                                </tui-textfield>
                            </th>
                            <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0) + 44" [sorter]="null"
                                style="width: 32px; transform: translate(0);">
                                <div class="translated-checkbox-container align-center">
                                    <input tuiCheckbox type="checkbox"
                                        [indeterminate]="localization.controlCheckbox === 1" size="s"
                                        tuiTableFilter="Translated"
                                        [tuiGenericFilter]="localization.filterTranslatedColumn"
                                        [formControl]="localization.filterForm.controls['translated']" />
                                </div>
                            </th>
                        </tr>
                        <tr tuiThGroup #regexHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]="true" style="transform: translate(0);"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0) + 88"
                                [sorter]="null">
                                <tui-textfield tuiTextfieldSize="s">
                                    <button tuiButton [tuiDropdown]="dropdownFlags" tuiDropdownOpen
                                        [tuiDropdownLimitWidth]="'auto'" [tuiDropdownAlign]="'right'">
                                        /{{localization.regexForm.controls['flags'].value}}
                                        <ng-template #dropdownFlags>
                                            <div class="tui-space_vertical-1">
                                                @for (f of localization.regexFlags; track $index) {
                                                <label tuiLabel class="regex-label"
                                                    (click)="f.selected = !f.selected; localization.updateRegexFlags(); $event.preventDefault();">
                                                    <input new tuiOption [checked]="f.selected" tuiCheckbox
                                                        type="checkbox" size="s">
                                                    <span tuiTitle="s">
                                                        {{f.value}} ({{f.name}})
                                                        <span tuiSubtitle style="max-width: 300px;">
                                                            {{f.descKey |translate}}
                                                        </span>
                                                    </span>
                                                </label>
                                                }
                                            </div>
                                        </ng-template>
                                    </button>
                                    <input tuiTextfield [formControl]="localization.regexForm.controls['pattern']"
                                        placeholder="{{'regex-pattern' | translate}}" />
                                </tui-textfield>
                            </th>
                            <th tuiTh *tuiHead="'Translation'" [sticky]="true" style="transform: translate(0);"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0) + 88"
                                [sorter]="null">
                                <tui-textfield tuiTextfieldSize="s">
                                    <input tuiTextfield [formControl]="localization.regexForm.controls['transform']"
                                        placeholder="{{'regex-transform' | translate}}" />
                                </tui-textfield>
                            </th>
                            <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                style="transform: translate(0); padding: 0;"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0) + 88"
                                [sorter]="null">
                                <div class="translated-checkbox-container align-center">
                                    <button tuiIconButton appearance="icon" size="xs" iconStart="replace-all"
                                        (click)="localization.onApplyRegex()"></button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody tuiTbody>
                        <tr tuiTr
                            *cdkVirtualFor="let item of localization.keys | tuiTableFilters; index as i; trackBy: trackByItemId">
                            <ng-container [ngTemplateOutlet]="rowTemplate"
                                [ngTemplateOutletContext]="{$implicit: item}" />

                            <ng-template #rowTemplate let-item>
                                <td *tuiCell="'Language'" tuiTd [tuiHint]="tooltip" [tuiHintShowDelay]="200"
                                    class="tooltip-name-cell">
                                    <ng-template #tooltip>
                                        <tui-scrollbar #scrollTooltip class="tooltip-original-cell" [hidden]="true"
                                            (mouseenter)="onTooltipCheck(scrollTooltip)"
                                            (mouseleave)="onTooltipCheck()">
                                            <ul>
                                                <li class="tooltip-important-text tui-text_body-xs tui-space_bottom-2"
                                                    style="text-align: right;">
                                                    <tui-icon icon="key" style="font: inherit;"></tui-icon>
                                                    {{item.Name}}
                                                </li>
                                                @for (key of item.Original | keyvalue; track $index) {
                                                <li class="tui-space_bottom-2">
                                                    <span class="tooltip-important-text">
                                                        {{$any(key.key) | translate}}:
                                                    </span>
                                                    <tui-copy class="mask-fallback">
                                                        {{key.value}}
                                                    </tui-copy>
                                                </li>
                                                }
                                            </ul>
                                        </tui-scrollbar>
                                        @if (showTooltipArrow$ | async) {
                                        <tui-icon class="tooltip-arrow popin enter" icon="move-down" />
                                        }
                                    </ng-template>
                                    @if (localization.focusRow() === item.Id) {
                                    <tui-scrollbar class="translation-content-cell">
                                        <span appCommonDictionary [text]="onRenderDefaultLanguage(item.Original)">
                                        </span>
                                    </tui-scrollbar>
                                    }
                                    @else {
                                    <tui-scrollbar class="translation-content-cell">
                                        <span>{{onRenderDefaultLanguage(item.Original)}}</span>
                                    </tui-scrollbar>
                                    }
                                    @if (localization.focusRow() !== item.Id) {
                                    <span
                                        class="tooltip-span-name-cell tooltip-important-text-colored tui-text_body-xs">
                                        @if (localization.selectedCategory.Name == 'SEARCH') {
                                        <div>
                                            <tui-icon icon="inbox" style="font: inherit;" />
                                            {{item.Category}}
                                        </div>
                                        }
                                        <tui-icon icon="key" style="font: inherit;" />
                                        {{item.Name}}
                                    </span>
                                    }
                                </td>
                                <td *tuiCell="'Translation'" tuiTd>
                                    <tui-textfield tuiTextfieldSize="m" tuiDropdownLimitWidth="auto"
                                        tuiDropdownSelectionPosition="word" [tuiDropdownSelection]="predicate">
                                        <textarea #translationTextarea tuiTextarea
                                            [(ngModel)]="item.Translations[localization.language]" [max]="4"
                                            (focusedChange)="localization.focusRow.set(item.Id);"
                                            (ngModelChange)="localization.onTranslationChange($event, localization.keys!, item)"
                                            (keydown.arrowDown)="onArrow($event, 'first')"
                                            (keydown.arrowUp)="onArrow($event, 'last')" appTranslationFocusChange
                                            [textarea]="translationTextarea" [signal]="localization.focusRow"
                                            [id]="item.Id"></textarea>

                                        <tui-data-list *tuiTextfieldDropdown>
                                            @for (buff of buffInfService.store.getData() | tuiMapper: filter :
                                            search($any(translationTextarea).el).replace('@', ''); track $index) {
                                            <button new tuiOption type="button"
                                                (click)="onClick(item, buff.Name, $any(translationTextarea).el)">
                                                {{ buff.Name }}
                                            </button>
                                            }
                                        </tui-data-list>
                                    </tui-textfield>
                                </td>
                                <td *tuiCell="'Translated'" tuiTd>
                                    <div class="translated-checkbox-container">
                                        <input tuiCheckbox type="checkbox"
                                            [disabled]="(localization.saving$ | async) ?? false"
                                            [(ngModel)]="item.Translated[localization.language]"
                                            (ngModelChange)="localization.onTranslatedCheck($event, localization.keys!, item)"
                                            size="s" aria-label="Translated Checkbox" />
                                    </div>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </tui-scrollbar>
        }
    </ng-container>
</ng-template>

<ng-template #mobileTable>
    <ng-container tuiTableFilters>
        <tui-scrollbar>
            @if(localization.keys){
            <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar" [itemSize]="213"
                [maxBufferPx]="500" [minBufferPx]="400">

                <table class="tui-table popin enter" style="table-layout: fixed;" tuiTable [columns]="['Language']"
                    size="s">
                    <thead>
                        <tr tuiThGroup #filterHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]="true" class="header-content-cell"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                                <div class="header-content">
                                    <tui-textfield tuiTextfieldSize="s" style="transform: translate(0); flex: 1;">
                                        <tui-icon icon="filter" [style.font-size.rem]="1" />
                                        <input tuiTextfield tuiTableFilter="Original"
                                            [tuiGenericFilter]="localization.filterOriginalColumn"
                                            [formControl]="localization.filterForm.controls['original']"
                                            placeholder="{{'search-by-original-column' | translate}}" />
                                    </tui-textfield>
                                    <tui-textfield tuiTextfieldSize="s" style="transform: translate(0); flex: 1;">
                                        <tui-icon icon="filter" [style.font-size.rem]="1" />
                                        <input tuiTextfield tuiTableFilter="Translations"
                                            [tuiGenericFilter]="localization.filterTranslationColumn"
                                            [formControl]="localization.filterForm.controls['translation']"
                                            placeholder="{{'search-by-translation-column' | translate}}" />
                                    </tui-textfield>
                                    <input tuiCheckbox type="checkbox" style="margin-left: 0.75rem;"
                                        [formControl]="localization.filterForm.controls['translated']"
                                        tuiTableFilter="Translated"
                                        [tuiGenericFilter]="localization.filterTranslatedColumn" contentAlign="right"
                                        size="s" aria-label="Translated Filter" />

                                </div>
                            </th>
                        </tr>
                        <tr tuiThGroup #regexHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]="true" class="header-content-cell"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0) + 34"
                                [sorter]="null">
                                <div class="header-content">
                                    <tui-textfield tuiTextfieldSize="s" style="transform: translate(0); flex: 1;">
                                        <button tuiButton [tuiDropdown]="dropdownFlags" tuiDropdownOpen
                                            [tuiDropdownLimitWidth]="'auto'" [tuiDropdownAlign]="'right'">
                                            /{{localization.regexForm.controls['flags'].value}}
                                            <ng-template #dropdownFlags>
                                                <div class="tui-space_vertical-1">
                                                    @for (f of localization.regexFlags; track $index) {
                                                    <label tuiLabel class="regex-label"
                                                        (click)="f.selected = !f.selected; localization.updateRegexFlags(); $event.preventDefault();">
                                                        <input new tuiOption [checked]="f.selected" tuiCheckbox
                                                            type="checkbox" size="s">
                                                        <span tuiTitle="s">
                                                            {{f.value}} ({{f.name}})
                                                            <span tuiSubtitle style="max-width: 300px;">
                                                                {{f.descKey |translate}}
                                                            </span>
                                                        </span>
                                                    </label>
                                                    }
                                                </div>
                                            </ng-template>
                                        </button>
                                        <input tuiTextfield [formControl]="localization.regexForm.controls['pattern']"
                                            placeholder="{{'regex-pattern' | translate}}" />
                                    </tui-textfield>
                                    <tui-textfield tuiTextfieldSize="s" style="transform: translate(0); flex: 1;">
                                        <input tuiTextfield [formControl]="localization.regexForm.controls['transform']"
                                            placeholder="{{'regex-transform' | translate}}" />
                                    </tui-textfield>
                                    <button tuiIconButton appearance="icon" size="xs" iconStart="replace-all"
                                        style="margin-left: 0.25rem;" (click)="localization.onApplyRegex()"></button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody tuiTbody>
                        <tr *cdkVirtualFor="let item of localization.keys | tuiTableFilters | async; index as i; trackBy: trackByItemId"
                            tuiTr>
                            <td *tuiCell="'Language'" tuiTd class="tooltip-name-cell">
                                <div class="cell-content">
                                    <div #parent class="cell-content-original" [tuiHint]="tooltip"
                                        [tuiHintShowDelay]="200">
                                        <div>
                                            @if (localization.focusRow() === item.Id) {
                                            <tui-scrollbar class="translation-content-cell">
                                                <div appCommonDictionary
                                                    [text]="onRenderDefaultLanguage(item.Original)">
                                                </div>
                                            </tui-scrollbar>
                                            }
                                            @else {
                                            <tui-scrollbar class="translation-content-cell">
                                                <span>{{onRenderDefaultLanguage(item.Original)}}</span>
                                            </tui-scrollbar>
                                            }
                                            @if (localization.focusRow() !== item.Id) {
                                            <span
                                                class="tooltip-span-name-cell tooltip-important-text-colored tui-text_body-xs">
                                                @if (localization.selectedCategory.Name == 'SEARCH') {
                                                <div>
                                                    <tui-icon icon="inbox" style="font: inherit;" />
                                                    {{item.Category}}
                                                </div>
                                                }
                                                <tui-icon icon="key" style="font: inherit;" />
                                                {{item.Name}}
                                            </span>
                                            }
                                        </div>
                                        <div class="translated-checkbox-container">
                                            <input tuiCheckbox type="checkbox"
                                                [disabled]="(localization.saving$ | async) ?? false"
                                                [(ngModel)]="item.Translated[localization.language]"
                                                (ngModelChange)="localization.onTranslatedCheck($event, localization.keys, item)"
                                                size="s" aria-label="Translated Checkbox" />
                                        </div>
                                        <ng-template #tooltip>
                                            <tui-scrollbar #scrollTooltip class="tooltip-original-cell" [hidden]="true"
                                                (mouseenter)="onTooltipCheck(scrollTooltip)"
                                                (mouseleave)="onTooltipCheck()">
                                                <ul>
                                                    <li class="tooltip-important-text tui-text_body-xs tui-space_bottom-2"
                                                        style="text-align: right;">
                                                        <tui-icon icon="key" style="font: inherit;"></tui-icon>
                                                        {{item.Name}}
                                                    </li>
                                                    @for (key of item.Original | keyvalue; track $index) {
                                                    <li class="tui-space_bottom-2">
                                                        <span class="tooltip-important-text">
                                                            {{$any(key.key) |
                                                            translate}}:
                                                        </span>
                                                        <tui-copy class="mask-fallback">
                                                        {{key.value}}
                                                    </tui-copy>
                                                    </li>
                                                    }
                                                </ul>
                                            </tui-scrollbar>
                                            @if (showTooltipArrow$ | async) {
                                            <tui-icon class="tooltip-arrow popin enter" icon="move-down" />
                                            }
                                        </ng-template>
                                    </div>
                                    <div>
                                        <tui-textfield tuiTextfieldSize="m" tuiDropdownLimitWidth="auto"
                                            style="transform: translate(0);" tuiDropdownSelectionPosition="word"
                                            [tuiDropdownSelection]="predicate">
                                            <textarea #translationTextarea tuiTextarea
                                                [(ngModel)]="item.Translations[localization.language]" [min]="6"
                                                [max]="6" (focusedChange)="localization.focusRow.set(item.Id)"
                                                (ngModelChange)="localization.onTranslationChange($event, localization.keys!, item)"
                                                (keydown.arrowDown)="onArrow($event, 'first')"
                                                (keydown.arrowUp)="onArrow($event, 'last')" appTranslationFocusChange
                                                [textarea]="translationTextarea" [signal]="localization.focusRow"
                                                [id]="item.Id"></textarea>

                                            <tui-data-list *tuiTextfieldDropdown>
                                                @for (buff of buffInfService.store.getData() | tuiMapper: filter :
                                                search($any(translationTextarea).el).replace('@', ''); track $index) {
                                                <button new tuiOption type="button"
                                                    (click)="onClick(item, buff.Name, $any(translationTextarea).el)">
                                                    {{ buff.Name }}
                                                </button>
                                                }
                                            </tui-data-list>
                                        </tui-textfield>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
            }
        </tui-scrollbar>
    </ng-container>
</ng-template>

<ng-template #searchTemplate>
    <tui-block-status>
        <h4>{{'type-your-search' | translate}}</h4>
    </tui-block-status>
</ng-template>

<ng-template #selectCategory>
    <tui-block-status>
        <h4 tuiSlot="top">{{'select-one-category' | translate}}</h4>
    </tui-block-status>
</ng-template>

<ng-template #loading>
    <tui-block-status>
        <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" class="popin enter">
            <h4 style="margin-top: revert; margin-bottom: revert;">
                {{'loading-3-dots' | translate}}
            </h4>
        </tui-loader>
    </tui-block-status>
</ng-template>