<div class="main-stepper-container">
    <tui-stepper [activeItemIndex]="(index$ | async) ?? -1" orientation="vertical" class="stepper">
        <button tuiStep (click)="index$.next(0)" disabled></button>
        <button tuiStep (click)="index$.next(1)" disabled></button>
        <button tuiStep (click)="index$.next(2)" disabled></button>
    </tui-stepper>

    <div class="step-container">
        @switch ((index$ | async) ?? -1) {
        @case (0) {
        <app-mode-selector></app-mode-selector>
        }
        @case (1) {
        <app-import-main (next)="index$.next(2)"></app-import-main>
        }
        }
    </div>
</div>