.main-stepper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.stepper {
    padding: 1rem;
    position: sticky;
    top: 0;
    justify-content: center;
}

.step-container {
    max-width: 60rem;
    min-width: 20rem;
    width: 100%;
    padding: 1rem;
}