.main-stepper-container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: center;
}

.stepper {
    padding: 1rem;
    position: sticky;
    top: 0;
    height: fit-content;
}

.step-container {
    max-width: 800px;
    padding: 1rem;
}