@use '@taiga-ui/core/styles/variables/media.scss' as media;

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 380px;
}

.options-container {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    height: 2.9375rem;

    .options {
        display: flex;
        gap: var(--tui-padding-s);
    }

    .search-input {
        width: 100%;
        min-width: 120px;
        max-width: 300px;
    }
}

.lang-container {
    max-width: 60rem;
    min-width: 20rem;
    margin: 0rem auto 0 auto;
    width: 100%;
}

.key-container {
    display: flex;
    flex-direction: column;
}

.viewport {
    width: 100%;
    height: calc(100svh - var(--header-height) - 3.5rem);

    @media #{media.$tui-mobile} {
        margin: 0 0;
    }
}

.lang-item {
    display: grid;
    gap: var(--tui-padding-s);
    grid-template-columns: 60px 1fr;
    align-items: center;
}

.readonly-key {
    display: grid;
    grid-template-columns: 1fr 16px;
    padding-block-start: .25rem;
    padding-block-end: .25rem;
    gap: var(--tui-padding-s);
    cursor: pointer;

    span {
        padding-inline-start: 0.625rem;
        padding-inline-end: 0.625rem;
        min-width: 0;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.readonly-key-content {
    padding-inline-start: 0.625rem;
    padding-inline-end: 0.625rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tooltip-important-text {
    font-weight: bold;
    color: var(--tui-text-invert);

    tui-icon {
        font: inherit;
    }
}