<main class="main-container">
    <div class="options-container">
        <tui-textfield iconStart="@tui.search" tuiTextfieldSize="s" class="search-input">
            <input tuiTextfield placeholder="..." [(ngModel)]="search" />
        </tui-textfield>
        <div class="options">
            <section>
                <button tuiChip type="button" [value]="app.isRTL()" [appearance]="app.isRTL() ? 'primary' : 'outline'"
                    [tuiHint]="'toggle-rtl' | translate" (click)="toggleRTL()" size="xs">
                    {{'toggle-rtl-btn' | translate}}
                </button>
            </section>
            <tui-loader [showLoader]="gemini.waiting$()" [inheritColor]="true" [overlay]="true">
                <button appGeminiIcon tuiIconButton type="button" appearance="icon" shape="square"
                    iconStart="gemini-color" [tuiHint]="gemini.ready$() ?
                                ('gemini-button-ready' | translate):
                                ('gemini-button-disabled' | translate)" (click)="onGeminiTranslate()"
                    [disabled]="!gemini.ready$()" size="xs" aria-label="Gemini Button" tuiDropdownContext
                    [tuiDropdown]="contextMenu" #dropdown="tuiDropdown">
                    <ng-template #contextMenu>
                        <tui-data-list role="menu" tuiDataListDropdownManager class="context-menu" size="s">
                            @for (lang of lS.languages(); track $index) {
                            <button tuiOption new type="button" (click)="onGeminiTranslate(); dropdown.toggle(false)">
                                {{ lang.Language| translate }}
                            </button>
                            }
                        </tui-data-list>
                    </ng-template>
                </button>
            </tui-loader>
            <button tuiIconButton appearance="icon" shape="square" iconStart="save" (click)="lS.saveChanges()" size="xs"
                [loading]="lS.savingChanges()">
            </button>
        </div>
    </div>

    <tui-scrollbar class="lang-container">
        <cdk-virtual-scroll-viewport itemSize="140" minBufferPx="700" maxBufferPx="1400" tuiScrollable
            class="viewport tui-zero-scrollbar">
            <div *cdkVirtualFor="let k of lS.keys | tuiFilter: searchByText : search; trackBy: trackByKey"
                class="tui-space_vertical-6 key-container">
                <ng-container [ngTemplateOutlet]="keyTranslateRow" [ngTemplateOutletContext]="{$implicit: k}" />
            </div>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>

</main>

<ng-template #keyTranslateRow let-key>
    <div class="tooltip-important-text tui-space_vertical-3 tui-space_horizontal-2">
        <tui-icon icon="key" />
        <span class="tui-space_left-3">{{key}}</span>
    </div>
    @for (lang of lS.languages(); track $index) {
    <div class="lang-item tui-space_vertical-1 tui-space_horizontal-4">
        <span class="tui-text_body-xs">{{lang.Language | translate}}</span>

        @if(lang.Custom){
        <app-common-word-table-cell-editable #cellOrder [focusTemplate]="focusOrder" [unfocusTemplate]="unfocusOrder" />
        <ng-template #focusOrder>
            <tui-textfield tuiTextfieldSize="s" [tuiTextfieldCleaner]="false">
                <input tuiTextfield placeholder="..." [(ngModel)]="lang.Content[key]" [tuiAutoFocus]="true" />
            </tui-textfield>
        </ng-template>
        <ng-template #unfocusOrder>
            <div class="readonly-key">
                <span [title]="lang.Content[key]">{{lang.Content[key]}}</span>
                <tui-icon icon="pointer" [style.font-size.rem]="1" />
            </div>
        </ng-template>
        }
        @else{
        <span class="readonly-key-content" [title]="lang.Content[key]">{{lang.Content[key]}}</span>
        }
    </div>
    }
</ng-template>