@use '@taiga-ui/core/styles/variables/media.scss' as media;

:host-context {
    height: 100%;
}

table {
    inline-size: 100%;
    table-layout: fixed;

    tr {
        block-size: var(--tui-height-s);
    }
}

.viewport {
    height: 100%;
    min-width: 100%;
}

.viewport-dialog {
    height: 50vh;
}

.viewport-2 {
    height: 100%;
    margin: 0 1rem;
}

.action-head {
    width: 64px;

    &:after {
        width: 0;
    }
}

.confirm-delete-head {
    width: 0px;
    padding: 0 !important;
    border: none;
}

.confirm-delete-column {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0rem;
    width: calc(100% - 0rem);
    height: calc(var(--tui-height-s));
    background: var(--tui-status-negative-pale);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    margin: 0;
    padding: 0;

    .text {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 30ch;
        overflow: hidden;

        @media #{media.$tui-mobile} {
            width: 10ch;
        }
    }
}

.empty-columns {
    width: 100%;
    text-align: center;
    font-weight: bold;
    flex: 1;
    align-content: center;
}

td._editable {
    .span-unfocus {
        padding: .25rem .5rem;
    }
}



.span-unfocus {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    height: 100%;
    align-content: center;
    box-sizing: border-box;
}

.translation-cell {
    &:hover {
        background: var(--tui-background-base-alt);
        cursor: text;
    }

    transition: 0.25s background;
}