<tui-app-bar class="app-bar">
    <div tuiSlot="left" style="display: flex; align-items: center;">
        <tui-loader [showLoader]="(auth.authenticating$ | async) ?? false">
            <!-- <tui-avatar size="s" [rounded]="true" [text]="auth.user?.name ? auth.user?.name ?? '' : '?'"
                [avatarUrl]="auth.user?.photoUrl ? auth.user?.photoUrl ?? '' : null">
            </tui-avatar> -->
        </tui-loader>
        <!-- <span class="tui-space_left-2">
            {{auth.user?.name ? ('hi-user' | translate) + auth.user?.name : ('unknown-user' | translate)}}
        </span> -->
    </div>

    <div tuiDropdownOpen #dropdown [tuiDropdown]="content" [tuiDropdownMaxHeight]="300" tuiSlot="right">
        <button appearance="icon" tuiIconButton type="button" iconStart="@tui.globe"></button>
    </div>
    <ng-template #content>
        <tui-data-list size="l" class="list">
            <tui-opt-group>
                <button tuiOption (click)="translate.use('en')">
                    {{'en' | translate}}
                </button>
                <button tuiOption (click)="translate.use('es')">
                    {{'es' | translate}}
                </button>
            </tui-opt-group>
        </tui-data-list>
    </ng-template>

    <button tuiIconButton appearance="icon" [iconStart]="(theme.nightMode$ | async)? '@tui.sun' : '@tui.moon'"
        (click)="theme.switchTheme($event)" tuiSlot="right"
        [tuiHint]="((theme.nightMode$ | async)? 'toogle-lightmode' : 'toogle-nightmode') | translate"
        tuiHintAppearance="dark">
    </button>
</tui-app-bar>