.app-bar {
    max-width: 800px;
    padding: 0 2em;
    margin: 0 auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
    position: fixed;
    height: var(--header-height);
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1;
}