<header class="header">
  <button class="split-button" tuiIconButton type="button" appearance="icon" iconStart="@tui.between-vertical-start"
    (click)="onSplitModeToggle($event)" aria-label="split-button" size="xs">
  </button>
  <div class="margin-auto-r"></div>
  <div class="right-buttons">
    @switch (currentMode) {
    @case (modes.Offline) {
    <button id="modeButton" tuiButton type="button" iconEnd="computer" (click)="onSwitchAppMode(modes.Online)"
      [tuiHint]="'switch-to-online' | translate" size="xs" aria-label="offline button">
      Offline
    </button>
    }
    @case (modes.Online) {
    <button id="modeButton" tuiButton type="button" iconEnd="server" (click)="onSwitchAppMode(modes.Offline)"
      [tuiHint]="'switch-to-offline' | translate" size="xs" aria-label="online button">
      Online
    </button>
    }
    }

    <button id="tourButton" tuiIconButton appearance="icon" type="button" iconStart="@tui.circle-help" size="xs"
      aria-label="tour button" [tuiDropdown]="contextMenu" [(tuiDropdownOpen)]="open">

      <ng-template #contextMenu>
        <tui-data-list role="menu" tuiDataListDropdownManager class="context-menu" size="s">
          @for (t of tours; track $index) {
          <button tuiOption new type="button" (click)="onMainTour(t)">
            {{ 'tour-opt-' + t | translate }}
          </button>
          }
        </tui-data-list>
      </ng-template>
    </button>

    <button id="themeButton" aria-label="toogle night mode" type="button" tuiIconButton appearance="icon"
      [iconStart]="theme.darkMode() ? '@tui.sun' : '@tui.moon'" (click)="theme.switchTheme($event)"
      [tuiHint]="(theme.darkMode() ? 'toogle-lightmode' : 'toogle-nightmode') | translate" size="xs"
      aria-label="switch theme button">
    </button>

    <button id="settingsButton" type="button" aria-label="open settings" tuiIconButton appearance="icon"
      [iconStart]="'@tui.settings'" (click)="onOpenSettings($event, !openSetting())" size="xs"
      aria-label="settings button">
    </button>
    <tui-drawer *tuiPopup="openSetting()" style="inline-size: 25.25rem;" [direction]="direction()">
      <header>
        <h2 tuiHeader>
          <div tuiTitle class="align-center">{{'settings' | translate}}</div>
          <div tuiAccessories class="margin-auto-l">
            <button appearance="icon" iconStart="@tui.x" tuiIconButton type="button"
              (click)="onOpenSettings($event, false)" aria-label="settings close button">
            </button>
          </div>
        </h2>
      </header>
      <h3>{{'language-configuration' | translate}}</h3>
      <div id="appLanguageSetting">
        <h4>{{'app-language' | translate}}</h4>
        <app-language-switcher />
        <h4>{{'origin-language' | translate}}</h4>
        <p class="tui-text_body-xs common-word">
          {{'origin-language-description' | translate}}
        </p>
        <tui-textfield class="tui-space_top-2" tuiChevron tuiTextfieldSize="s" [tuiTextfieldCleaner]="false"
          [content]="originLang">
          <input placeholder="..." tuiSelect [formControl]="languageOrigin.language" />

          <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="languageOrigin.languages"
            [itemContent]="originLang" />
          <ng-template #originLang let-data>
            {{data | translate}}
          </ng-template>
        </tui-textfield>
      </div>

      <h3 class="tui-space_top-9">{{'portraits-dir' | translate}}</h3>
      <div id="appPortraitSetting">
        <button tuiButton size="xs" type="button" class="w-100" appearance="outline"
          (click)="portraitsService.onFolderChange()">
          @if (portraitsService.dirName$ | async; as dirName) {
          {{dirName}}
          }
          @else {
          {{'portraits-directory' | translate}}
          }
        </button>
      </div>

      <h3 class="tui-space_top-9">{{'libretranslate-configuration' | translate}}</h3>
      <div id="appLibreTranslateSetting">
        <h4>{{'libretranslate-url' | translate}}</h4>
        <tui-textfield class="tui-space_top-2" tuiTextfieldSize="s" [tuiTextfieldCleaner]="false">
          <input tuiTextfield type="url" attr.aria-label="{{'libretranslate-url' | translate}}"
            aria-label="libre translate url" [(ngModel)]="libreTranslate.url"
            (ngModelChange)="libreTranslate.onUrlChange($event)" />
        </tui-textfield>
        <h4>{{'libretranslate-apikey' | translate}}</h4>
        <label tuiLabel appPasswordHideText>
          {{'libretranslate-apikey' | translate}}
          <tui-textfield class="tui-space_top-2" tuiTextfieldSize="s">
            <input tuiTextfield type="password" placeholder="..." [(ngModel)]="libreTranslate.apiKey" />
            <tui-icon tuiPassword />
          </tui-textfield>
        </label>
        <h4>{{'libretranslate-status' | translate}}</h4>
        <button appearance="outline" class="w-100" tuiButton [iconStart]="'@tui.activity'" size="xs"
          (click)="libreTranslate.isAlive()"
          [disabled]="((libreTranslate.testing$ | async) ?? true) || !libreTranslate.url">
          {{'libretranslate-testserver' | translate}}
        </button>
        @if ((libreTranslate.errors$ | async); as error) {
        <div class="tui-space_top-2">
          <tui-badge appearance="error" class="w-100">{{ error }}</tui-badge>
        </div>
        }
        @if ((libreTranslate.serverAlive$ | async)) {
        <div class="tui-space_top-2">
          <tui-badge appearance="success" class="w-100">
            {{'libretranslate-serveralive' | translate}}
          </tui-badge>
        </div>
        <h4>{{'libretranslate-origin-target' | translate}}</h4>
        @if (libreTranslate.languages) {
        <div tuiGroup class="tui-space_top-2">
          <div>
            @let languages = libreTranslate.languages;
            <label tuiLabel>
              {{'libretranslate-source' | translate}}

              <tui-textfield tuiChevron tuiTextfieldSize="s" [tuiTextfieldCleaner]="false"
                [content]="languages ? stringify(languages) : undefined">
                <input placeholder="{{'libretranslate-source' | translate}}" tuiSelect
                  [(ngModel)]="libreTranslate.source" (ngModelChange)="libreTranslate.onSourceChange($event)" />

                <tui-data-list *tuiTextfieldDropdown tuiDataListDropdownManager>
                  @for (lang of languages; track $index) {
                  <button new tuiOption type="button" [value]="lang.code">
                    {{ lang.name | translate }}
                  </button>
                  }
                </tui-data-list>
              </tui-textfield>
            </label>
          </div>
          @if (libreTranslate.targetLanguages) {
          <div>
            <label tuiLabel>
              {{'libretranslate-target' | translate}}

              <tui-textfield tuiChevron tuiTextfieldSize="s" [tuiTextfieldCleaner]="false">
                <input placeholder="{{'libretranslate-target' | translate}}" tuiSelect
                  [(ngModel)]="libreTranslate.target" (ngModelChange)="libreTranslate.onTargetChange($event)" />

                <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="libreTranslate.targetLanguages" />
              </tui-textfield>
            </label>
          </div>
          }
        </div>
        @if (libreTranslate.target) {
        <div class="tui-space_top-2">
          <h4>{{'libretranslate-translation-status' | translate}}</h4>
          <button appearance="outline" tuiButton class="w-100" [iconStart]="'@tui.activity'" size="xs"
            (click)="libreTranslate.onTestTranslate($event)" [disabled]="
                                        ((libreTranslate.testing$ | async) ?? true) 
                                        || !libreTranslate.url 
                                        || !libreTranslate.source 
                                        || !libreTranslate.target">
            {{'libretranslate-testtranslation' | translate}}
          </button>
        </div>
        }
        }
        @if (libreTranslate.serverReady$ | async) {
        <div>
          <tui-badge appearance="success" class="tui-space_top-2 w-100">{{'libretranslate-ready' |
            translate}}</tui-badge>
        </div>
        }
        @if ((libreTranslate.errorServer$ | async); as error) {
        <div class="tui-space_top-2">
          <tui-badge appearance="error" class="w-100">{{ error }}</tui-badge>
        </div>
        }
        }
      </div>

      <h3 class="tui-space_top-9">{{'gemini-configuration' | translate}}</h3>
      <div id="appGeminiSetting">
        <h4>{{'gemini-apikey' | translate}}</h4>
        <label tuiLabel appPasswordHideText>
          {{'gemini-apikey' | translate}}
          <tui-textfield class="tui-space_top-2" tuiTextfieldSize="s">
            <input tuiTextfield type="password" placeholder="..." [(ngModel)]="geminiConfig.key" />
            <tui-icon tuiPassword />
          </tui-textfield>
        </label>
        <h4>{{'gemini-lang' | translate}}</h4>
        <tui-textfield class="tui-space_top-2" tuiTextfieldSize="s" [tuiTextfieldCleaner]="false">
          <input tuiTextfield type="text" attr.aria-label="{{'gemini-lang' | translate}}" aria-label="gemini lang"
            [(ngModel)]="geminiConfig.lang" />
        </tui-textfield>
        <h4>{{'gemini-model' | translate}}</h4>
        <tui-textfield class="tui-space_top-2 tui-space_bottom-8" tuiTextfieldSize="s" [tuiTextfieldCleaner]="false">
          <input tuiTextfield type="text" attr.aria-label="{{'gemini-model' | translate}}" aria-label="gemini model"
            [(ngModel)]="geminiConfig.model" />
        </tui-textfield>
        <button appearance="outline" class="w-100" tuiButton [iconStart]="'@tui.activity'" size="xs"
          (click)="geminiConfig.onChange()" [disabled]="!geminiConfig.key || !geminiConfig.model">
          {{'gemini-testserver' | translate}}
        </button>
      </div>

      <h3 class="tui-space_top-9">{{'reset-all-configuration' | translate}}</h3>
      <div id="appResetAllSetting">
        <button tuiButton appearance="accent" class="w-100" iconStart="brush-cleaning" size="xs"
          (click)="showWarningAlert()">
          {{'app-restart' | translate}}
        </button>
      </div>
    </tui-drawer>
  </div>
</header>

<ng-template #restartTemplate="polymorpheus" polymorpheus>
  <p>{{'app-restart-description' | translate}}</p>
  <button tuiButton type="button" (click)="onRestartApp()">
    <span>{{ 'confirm' | translate }}</span>
  </button>
</ng-template>