@use '@taiga-ui/core/styles/variables/media.scss' as media;

.header {
    z-index: 1;
    display: flex;
    height: var(--header-height);
    align-items: center;
    padding: 0 1.25rem;

}

.split-button {
    @media #{media.$tui-mobile} {
        display: none;
    }
}

.w-100 {
    width: 100%;
}

.margin-auto-r {
    margin-right: auto;
}

.margin-auto-l {
    margin-left: auto;
}

.menu-header {
    box-shadow: 0 0.125rem 1rem #00000014;
    z-index: 1;
    display: flex;
    height: var(--header-height);
    align-items: center;
    padding: 0 1.25rem;
    background: var(--tui-background-base);
    border-bottom: 1px solid var(--tui-background-neutral-1-hover);
}

.right-buttons {
    display: flex;
    gap: 1rem;
}

.align-center {
    align-self: center;
}