<div class="row" [ngStyle]="{
    'flex-wrap': breakpointService.x() > 768 ? undefined: 'wrap',
    '--scale': breakpointService.x() > 1320 ? 1 :
        breakpointService.x() > 768 ? breakpointService.x() / 1320 :
        breakpointService.x() > 320 ? breakpointService.x() / 660 :
        320 / 660
}">
  <div class="dialog" [tuiHint]="otherLanguages" [tuiHintContext]="{$implicit: (otherText$ | async)}">
    <div class="dialog-translation-container">
      <img class="dialog-translation-background" src="assets/images/dialog_paper.png" alt="dialot_paper">
      <img class="dialog-translation-background scalex" src="assets/images/dialog_paper.png" alt="dialot_paper">
    </div>
    @if (item.IconLocate === 2) {
    @if (item.OriginalIconName) {
    <div class="dialog-translation-portrait-container">
      <img class="dialog-translation-portrait" src="assets/images/figure_base2.png" alt="base" loading="lazy">
      <tui-loader class="dialog-translation-portrait" [showLoader]="portraitsService.loading$()" [overlay]="true">
        <img class="dialog-translation-portrait" style="left: 0; top: 0;"
          [src]="item.OriginalIconName | portraitUrl : portraitsService.imageDir"
          onerror="this.src='assets/images/portrait-miss.svg'" alt="portrait not found" width="100" height="120"
          loading="lazy">
      </tui-loader>
      <img class="dialog-translation-frame" src="assets/images/figure_frame.png" alt="base" loading="lazy">
    </div>
    }
    <div class="dialog-translation-speaker">
      <span class="dialog-speaker-name disabled">
        {{item.OriginalSpeakerName}}
      </span>
    </div>
    <div class="dialog-translation-input">
      @if (focus()) {
      <span class="dialog-translation disabled" appCommonDictionary [text]="item.OriginalText"></span>
      }
      @else {
      <span class="dialog-translation disabled">{{item.OriginalText}}</span>
      }
    </div>
    } @else {
    <div class="dialog-translation-full">
      @if (focus()) {
      <span class="dialog-translation disabled" appCommonDictionary [text]="item.OriginalText"></span>
      }
      @else {
      <span class="dialog-translation disabled">{{item.OriginalText}}</span>
      }
    </div>
    }
  </div>
  <div class="dialog" [attr.c]="triggerChange$()">
    <div class="dialog-translation-container">
      <img class="dialog-translation-background" src="assets/images/dialog_paper.png" alt="dialot_paper">
      <img class="dialog-translation-background scalex" src="assets/images/dialog_paper.png" alt="dialot_paper">
    </div>
    @if (item.IconLocate === 2) {
    @if (item.IconName) {
    <div class="dialog-translation-portrait-container">
      <div class="portrait-select" (click)="toggleItem(item)"></div>
      <img class="dialog-translation-portrait" src="assets/images/figure_base2.png" alt="base" loading="lazy">
      <tui-loader class="dialog-translation-portrait" [showLoader]="portraitsService.loading$()" [overlay]="true">
        <img class="dialog-translation-portrait" style="left: 0; top: 0;"
          [src]="item.IconName | portraitUrl : portraitsService.imageDir"
          onerror="this.src='assets/images/portrait-miss.svg'" alt="portrait not found" width="100" height="120"
          loading="lazy">
      </tui-loader>
      <img class="dialog-translation-frame" src="assets/images/figure_frame.png" alt="base" loading="lazy">
    </div>
    }
    <div class="dialog-translation-speaker">
      <input [(ngModel)]="item.SpeakerName" (focus)="dAS.previousPropagationValue = item.SpeakerName"
        (ngModelChange)="onSpeakerNameChange($event, data)" class="dialog-speaker-name" aria-label="speaker input" />
    </div>
    <div class="dialog-translation-input">
      <textarea [(ngModel)]="item.Text" (ngModelChange)="onTextChange(dialogAsset)"
        [disabled]="(dAS.libreTranslate.translating$ | async) ?? true" class="dialog-translation"
        (focusin)="focus.set(true)" (focusout)="focus.set(false)" aria-label="tranlation input"></textarea>
    </div>
    } @else {
    <div class="dialog-translation-full">
      <textarea [(ngModel)]="item.Text" (ngModelChange)="onTextChange(dialogAsset)"
        [disabled]="(dAS.libreTranslate.translating$ | async) ?? true" class="dialog-translation"
        (focusin)="focus.set(true)" (focusout)="focus.set(false)" aria-label="tranlation input"
        aria-label="tranlation input"></textarea>
    </div>
    }
  </div>
  <ng-template #otherLanguages let-data>
    <tui-scrollbar #scrollTooltip class="other-languages-container" [hidden]="true"
      (mouseenter)="onTooltipCheck(scrollTooltip)" (mouseleave)="onTooltipCheck()">
      <ul>
        @for (key of data | keyvalue; track key) {
        <li class="tui-space_bottom-2">
          <span class="tooltip-important-text">
            {{$any(key.key) | translate}}
          </span>:
          {{key.value}}
        </li>
        }
      </ul>
    </tui-scrollbar>
    @if (showTooltipArrow$ | async) {
    <tui-icon class="tooltip-arrow popin enter" icon="@tui.move-down" />
    }
  </ng-template>
</div>
<hr>

<ng-template [tuiSheetDialog]="open" [tuiSheetDialogOptions]="options" (tuiSheetDialogChange)="toggle()">
  <header>
    <tui-textfield iconStart="search" tuiTextfieldSize="s" class="tui-space_bottom-6">
      <input placeholder="{{'search-by-file-name' | translate}}" tuiTextfield [(ngModel)]="portraitSearch"
        [maxlength]="30" />
    </tui-textfield>
  </header>
  @let dataKey = portraitsService.imageDir | keyvalue;
  @let data = dataKey | tuiFilter: matcher : portraitSearch | groupByRow : 5;
  @if (data.length > 0) {
  <tui-scrollbar>
    <cdk-virtual-scroll-viewport #viewport tuiScrollable class="tui-zero-scrollbar"
      style="height: 300px; width: calc(100% - 6px);" [maxBufferPx]="600" [minBufferPx]="450" [itemSize]="132">
      <div *cdkVirtualFor="let pR of data">
        <div style="display: grid; grid-template-columns: repeat(5, 1fr); justify-items: center; padding-bottom: 12px;">
          @for (item of pR; track $index) {
          <img [src]="item.value" alt="portrait" width="100" height="120" loading="lazy" [tuiHint]="item.key"
            (click)="onChangeIconName(item.key)" class="portrait">
          }
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
  }
  @else if (dataKey.length > 0) {
  <h3 style="text-align: center;">{{'empty-portraits-filter' | translate: {filter: portraitSearch} }}</h3>
  }
  @else {
  <h3 style="text-align: center;">{{'empty-portraits' | translate}}</h3>
  }
</ng-template>