<div class="container-m">
    <tui-block-status *ngIf="!(languageOrigin.language.value)">
        <h4>Its seem is your first time here, let's create all the necessary to begin the translation</h4>

        <button tuiButton appearance="secondary" [routerLink]="['/loading']">
            Guide me
        </button>
    </tui-block-status>

    <ng-container *ngIf="(languageOrigin.language.value)">
        <div *ngIf="size$ | async as size" class="container">
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="hidden content" src="./assets/images/localization.svg" class="image" />

                Main Game Localization

                <button tuiButton appearance="secondary" [size]="size" [routerLink]="['/localization']">
                    GO
                </button>
            </tui-block-status>
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="something wrong" src="./assets/images/dialog-assets.svg" class="image" />

                Chapters Dialog Localization

                <button tuiButton appearance="secondary" [size]="size" [routerLink]="['/dialogsAsset']">
                    GO
                </button>
            </tui-block-status>
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="something wrong" src="./assets/images/import-translation.svg" class="image" />
                Re/Import Files
                <button tuiButton appearance="secondary" [size]="size" [routerLink]="['/loading']">
                    GO
                </button>
            </tui-block-status>
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="something wrong" src="./assets/images/export-translation.svg" class="image" />

                The moment of truth

                <button tuiButton appearance="secondary" [size]="size" [routerLink]="['/export']">
                    I'm Scared
                </button>
            </tui-block-status>
        </div>
    </ng-container>
</div>