<!-- <tui-block-status>
    <h4>Its seem is your first time here, let's create all the necessary to begin the translation</h4>

    <button tuiButton appearance="secondary" [routerLink]="['/loading']">
        Guide me
    </button>
</tui-block-status> -->
<tui-tiles class="tiles" [debounce]="100" [(order)]="order">
    <tui-tile *ngFor="let item of (mainGroups$ | async); let index = index" class="tile"
        [style.order]="order.get(index)" [width]="1" [height]="1">
        <div class="content">
            <tui-svg tuiTileHandle src="tuiIconDragLarge" class="handle"></tui-svg>
            <tui-svg tuiTileHandle src="tuiIconDragLarge" class="handle"></tui-svg>
            <h2 class="title">{{ item.Name }}</h2>
            <h4 class="title">Files: {{ item.Files }}</h4>
            <!-- Order - {{ order.get(index) ?? index }} -->
        </div>
    </tui-tile>
</tui-tiles>