.container {
    --grid-layout-gap: 16px;
    --grid-column-count: 4;
    --grid-item--min-width: 280px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-column: 4;
    gap: 1rem;
}

.image {
    width: 5.5rem;
    height: 5.5rem;
}

.card {
    background-color: var(--tui-background-base-alt);
    height: auto;
}