<div class="container-m">
    <tui-block-status *ngIf="!(languageOrigin.language.value)">
        <h4>{{'empty_db' | translate}}</h4>

        <button tuiButton appearance="secondary" [routerLink]="['/loading']">
            {{'guide-me' | translate}}
        </button>
    </tui-block-status>

    <ng-container *ngIf="(languageOrigin.language.value)">  
        <div *ngIf="size$ | async as size" class="container">
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="hidden content" src="./assets/images/localization.svg" class="image" />

                {{'main_localization' | translate}}

                <button tuiButton appearance="outline" [size]="size" [routerLink]="['/localization']">
                    {{'go' | translate }}
                </button>
            </tui-block-status>
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="something wrong" src="./assets/images/dialog-assets.svg" class="image" />

                {{'chapter-dialog-localization' | translate}}

                <button tuiButton appearance="outline" [size]="size" [routerLink]="['/dialogsAsset']">
                    {{'go' | translate }}
                </button>
            </tui-block-status>
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="something wrong" src="./assets/images/import-translation.svg" class="image" />
                {{'re-import-files' | translate}}
                <button tuiButton appearance="outline" [size]="size" [routerLink]="['/loading']">
                    {{'go' | translate }}
                </button>
            </tui-block-status>
            <tui-block-status class="card" [card]="true">
                <img tuiSlot="top" alt="something wrong" src="./assets/images/export-translation.svg" class="image" />

                {{'export-files' | translate}}

                <button tuiButton appearance="outline" [size]="size" [routerLink]="['/export']">
                    {{'go' | translate }}
                </button>
            </tui-block-status>
        </div>
    </ng-container>
</div>