.tree-main {
    position: relative;
}

.tree-main:first-child {
    margin-top: 6px;
}

.tree-main:last-child {
    margin-top: 1em;
}

.tree {
    position: relative;
    height: var(--tui-height-s);
    display: flex;
    align-items: center;
    padding: 0 0.75rem 0 0;
    border-radius: var(--tui-radius-xs);
    cursor: pointer;

    &:hover {
        background: var(--tui-background-base-alt);
    }
}

.tree-content {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .tree-left-content {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .tree-name {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;
            display: flex;
            align-items: center;
        }
    }

    .tree-right-content {
        display: flex;

        .tree-status {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;
        }
    }
}

.active-tree {
    background: var(--tui-background-accent-1);
    border-radius: var(--tui-radius-xs);
    color: white;
}

.tree-progress-bar {
    top: 0;
    position: absolute;
    opacity: 0.5;
    height: 100% !important;
}

[tuiProgressBar] {
    border-radius: 0 !important;
    clip-path: inset(0 .5px round var(--tui-radius-xs)) !important;
}

.group-tree {
    position: absolute;
    width: 20rem;
    max-width: 20rem;
    max-height: calc(100% - 1px);
    height: 100%;
    z-index: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 0.25s ease-out;
    padding: 0 0.75rem;
}

.group-tree-hide {
    width: 1.5rem;
    height: 100%;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    padding: 0 0.75rem;

    &:hover {
        width: 20rem;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.hidden-arrow {
    position: absolute;
    top: 50%;
    left: 12px;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 2;
}

.input_name_overflow {
    max-width: max-content;
}

.input_empty {
    opacity: 0.75;
}