.row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dialog {
    position: relative;
}

.dialog-speaker-name {
    width: calc(425px * var(--scale));
    font-size: calc(22px * var(--scale));
    font-family: dialog-font;
    font-weight: bold;
    color: #e48e45;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    transition: all 500ms;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background-color: var(--tui-background-base-alt);
    }
}

.dialog-translation {
    font-size: calc(17px * var(--scale));
    font-family: dialog-font;
    line-height: initial;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    width: calc(425px * var(--scale));
    height: calc(90px * var(--scale));
    resize: none;
    overflow: hidden;
    transition: all 500ms;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background-color: var(--tui-background-base-alt);
    }
}

.disabled {
    &:hover {
        background-color: transparent;
    }
}

.dialog-translation-container {
    display: flex;
}

.dialog-translation-portrait-container {
    position: relative;
    left: -6px;

    .portrait-select {
        width: calc(128px * var(--scale));
        height: calc(128px * var(--scale));
        position: absolute;
        bottom: calc(24px * var(--scale));
        left: calc(24px * var(--scale));
        z-index: 1;
        transition: all 0.5s;

        &:hover {
            background: var(--tui-background-neutral-1-hover);
            cursor: pointer;
        }
    }

    .dialog-translation-portrait {
        width: calc(128px * var(--scale));
        height: calc(128px * var(--scale));
        position: absolute;
        bottom: calc(26px * var(--scale));
        left: calc(26px * var(--scale));
    }

}

.dialog-translation-background {
    width: calc(320px * var(--scale));
    opacity: 0.1;
    filter: contrast(0) brightness(0);
}

.dialog-translation-frame {
    width: calc(148px * var(--scale));
    height: calc(148px * var(--scale));
    position: absolute;
    bottom: calc(12px * var(--scale));
    left: calc(18px * var(--scale));
    opacity: 0.50;
}

.dialog-translation-speaker {
    position: absolute;
    top: calc(30px * var(--scale));
    left: calc(168px * var(--scale));
}

.dialog-translation-input {
    position: absolute;
    top: calc(64px * var(--scale));
    left: calc(168px * var(--scale));
    max-width: calc(450px * var(--scale));
}

.dialog-translation-full {
    position: absolute;
    top: calc(44px * var(--scale));
    left: calc(120px * var(--scale));
    max-width: calc(450px * var(--scale));
}

.scalex {
    transform: scaleX(-1);
}

.tooltip-important-text {
    font-weight: bold;
    color: var(--tui-text-invert);
}

.other-languages-container {
    max-height: 15rem;
}

.tooltip-arrow {
    position: absolute;
    left: -1px;
    bottom: 4px;
    color: var(--tui-text-invert);
}

.portrait {
    transform: perspective(1500px) rotateY(15deg);
    transition: all 0.5s;

    &:hover {
        background: var(--tui-background-neutral-1-hover);
        cursor: pointer;
        transform: perspective(3000px) rotateY(5deg);
    }
}

hr {
    max-width: 1260px;
    margin: 0 auto;
    background: var(--tui-border-normal);
}