<div class="container-m">
  @if ((languageOrigin.language$ | async)) {
  @if ((groups$ | async); as data) {
  @if (data.length > 0) {
  <tui-tiles class="tiles tui-space_top-3" [debounce]="100" [@popIn]>
    @for (group of data; track group; let index = $index) {
    <tui-tile class="tile" [width]="1" [height]="1" [@popIn]>
      <div class="content">
        @if (group.ImageLink) {
        <img src="{{group.ImageLink}}" alt="groupImage" class="tile-image">
        }
        <h2>
          @if (group.editing) {
          <div class="tile-name">
            <!-- TODO: (Taiga UI migration) (focusedChange) output has been removed. Use native (focusin) / (focusout) instead -->
            <tui-input-inline tuiAutoFocus [(ngModel)]="group.Name"
              (focusedChange)="onFocusedChange($any($event), group)" (keydown.enter.prevent)="onEditGroupName(group)">
              {{'type-name' | translate}}
            </tui-input-inline>
          </div>
          } @else {
          <div class="tile-name">
            <span class="tile-title">{{ group.Name }}</span>
            <div>
              <button tuiIconButton type="button" title="{{'edit-name' | translate}}" size="xs" appearance="icon"
                iconStart="@tui.pencil" class="tui-space_left-1" (click)="toogle(group)"></button>
              <button tuiIconButton type="button" title="{{'edit-image' | translate}}" size="xs" appearance="icon"
                iconStart="@tui.image" class="tui-space_left-1" [tuiDropdown]="dropdownContent"
                tuiDropdownHover></button>
              <ng-template #dropdownContent>
                <div class="tui-space_vertical-2 tui-space_horizontal-3">
                  <p>Change the image Url to show on the tile</p>
                  <tui-input [(ngModel)]="group.ImageLink" (ngModelChange)="updateGroup(group)" tuiTextfieldSize="s">
                  </tui-input>
                </div>
              </ng-template>
            </div>
          </div>
          }
        </h2>
        @if ((group.TranslatedFiles/group.Files) < 1) { <div class="tile-file">
          {{ "translated" | translate }}: {{ group.TranslatedFiles }} / {{ group.Files }}
      </div>
      } @else {
      <div class="tile-file">
        {{ "translated" | translate }}: <tui-icon icon="@tui.circle-check"></tui-icon>
      </div>
      }
      <!-- TODO: (Taiga UI migration) TuiMode has been removed. Please use tuiTheme attribute to set theme https://taiga-ui.dev/directives/theme -->
      <button class="tile-go-button" tuiIconButton iconStart="@tui.circle-arrow-right" appearance="icon" shape="square"
        size="s" routerLink="{{group.OriginalName}}" tuiTheme="light"></button>
</div>
</tui-tile>
}
</tui-tiles>
} @else {
<tui-block-status class="empty-groups">
  <h4>{{'empty-groups' | translate}}</h4>
</tui-block-status>
}
} @else {
<tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" [@popIn]>
  <tui-block-status>
    <h4>{{'loading-3-dots' | translate}}</h4>
  </tui-block-status>
</tui-loader>
}
}
</div>