<div class="container-m">
    <ng-container *ngIf="(languageOrigin.language$ | async)">
        <ng-container *ngIf="(groups$ | async) as data; else loading">
            <tui-tiles class="tiles tui-space_top-3" [debounce]="100" [(order)]="order" [@popIn]>
                <tui-tile *ngFor="let item of data; let index = index" class="tile" [style.order]="order.get(index)"
                    [width]="1" [height]="1" [@popIn]>
                    <div class="content" routerLink="{{item.OriginalName}}">
                        <tui-svg tuiTileHandle src="tuiIconDragLarge" class="handle"></tui-svg>
                        <tui-svg tuiTileHandle src="tuiIconDragLarge" class="handle"></tui-svg>
                        <h2 class="title">{{ item.Name }}</h2>
                        <ng-container *ngIf="(item.TranslatedFiles/item.Files) < 1; else completed">
                            Translated: {{ item.TranslatedFiles }} / {{ item.Files }}
                        </ng-container>
                        <ng-template #completed>
                            Translated: <tui-svg src="tuiIconCheckCircle"></tui-svg>
                        </ng-template>
                    </div>
                </tui-tile>
            </tui-tiles>
        </ng-container>
        <ng-template #loading>
            <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" [@popIn]>
                <tui-block-status>
                    <h4>...Loading...</h4>
                </tui-block-status>
            </tui-loader>
        </ng-template>
    </ng-container>
</div>