<button id="langSwitcherButton" tuiButton appearance="outline-grayscale" size="s" type="button"
    [iconStart]="icons.languages" [textContent]="" aria-label="Language" [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="open" (click)="open = !open"
    (tuiActiveZoneChange)="app.isOnTour$() ? null : onActiveZone($event)">
    {{ (langService.language.value | lowercase) + "-i18n" | translate }}
</button>

<ng-template #dropdownContent>
    <tui-data-list size="s">
        @for (name of langService.names(); track $index) {
        <button tuiOption new type="button" (click)="setLang(name)">
            {{ name + "-i18n" | translate }}
        </button>
        }
        @for (name of langService.customNames(); track $index) {
        <button id="userLangOption" tuiOption new type="button" (click)="setCustomLang(name)">
            {{ name + "-i18n" | translate }}
        </button>
        }
    </tui-data-list>
</ng-template>