<div class="mode-container">
    <h3> {{'mode-selection' | translate}}</h3>
    <p>{{'select-mode-description' | translate}}</p>

    <div class="option-container" [formGroup]="modeForm">
       <label tuiBlock="s"> <input tuiRadio type="radio" class="mode-option" [value]="modes.Offline"  formControlName="mode">
            <div class="inner">
                <h3 class="tui-island__title">{{'offline' | translate}}</h3>
                <div>
                    {{'offline-mode-description' | translate}}
                </div>
            </div>
        </label>
       <label tuiBlock="s"> <input tuiRadio type="radio" class="mode-option" [value]="modes.Online"  formControlName="mode">
            <div class="inner">
                <h3 class="tui-island__title">{{'online' | translate}}</h3>
                <div>
                    {{'online-mode-description' | translate}}
                </div>
            </div>
        </label>
    </div>

    @if (modeControl?.value === modes.Online) {
    <form class="url-container" [formGroup]="modeForm">
        <p> {{'api-url' | translate}}</p>
        <tui-input class="tui-space_bottom-6" formControlName="apiUrl" [tuiTextfieldLabelOutside]="true"
            tuiTextfieldSize="s">
            {{'api-url' | translate}}
            <input tuiTextfieldLegacy />
        </tui-input>

        <p> {{'api-key' | translate}}</p>
        <tui-input formControlName="apiKey" [tuiTextfieldLabelOutside]="true" tuiTextfieldSize="s">
            {{'api-key' | translate}}
            <input tuiTextfieldLegacy />
        </tui-input>

        <button tuiButton size="s" (click)="onTestServer()" [disabled]="modeForm.get('apiKey')?.invalid ?? false">
            {{'test-server-api' | translate}}
        </button>
    </form>
    }

    <button style="width: 100%;" appearance="outline" tuiIconButton type="button" class="tui-space_top-6"
        iconStart="@tui.circle-arrow-right" shape="square" size="m" (click)="onNext()" [disabled]="modeForm.invalid">
    </button>
</div>