<div class="mode-container">
    <h2> {{'mode-selection' | translate}}</h2>
    <p>{{'select-mode-description' | translate}}</p>

    <form [formGroup]="modeForm" class="mode-form tui-space_bottom-6">
        <label appearance="secondary" tuiBlock="s">
            <tui-icon icon="@tui.computer" />
            <span tuiTitle>
                {{'offline' | translate}}
                <span tuiSubtitle>
                    {{'offline-mode-description' | translate}}
                </span>
            </span>
            <input formControlName="mode" tuiRadio type="radio" [value]="modes.Offline" />
        </label>
        <label appearance="secondary" tuiBlock="s">
            <tui-icon icon="@tui.server" />
            <span tuiTitle>
                {{'online' | translate}}
                <span tuiSubtitle>
                    {{'online-mode-description' | translate}}
                </span>
            </span>
            <input formControlName="mode" tuiRadio type="radio" [value]="modes.Online" />
        </label>
    </form>

    @if (modeControl?.value === modes.Online) {
    <form class="url-form tui-space_bottom-6" [formGroup]="modeForm">
        <div>
            <p> {{'api-url' | translate}}</p>
            <tui-input class="tui-space_bottom-3" formControlName="apiUrl" [tuiTextfieldLabelOutside]="true"
                tuiTextfieldSize="s">
                {{'api-url' | translate}}
                <input tuiTextfieldLegacy title="api-url" />
            </tui-input>
        </div>

        <div>
            <p> {{'api-key' | translate}}</p>
            <tui-input class="tui-space_bottom-3" formControlName="apiKey" [tuiTextfieldLabelOutside]="true"
                tuiTextfieldSize="s">
                {{'api-key' | translate}}
                <input tuiTextfieldLegacy title="api-key" />
            </tui-input>
        </div>

        <tui-loader class="tui-space_bottom-3" [inheritColor]="true" [overlay]="true" [showLoader]="testApi()">
            <button type="button" tuiButton size="s" (click)="onTestServer()"
                [disabled]="modeForm.invalid">
                {{'test-server-api' | translate}}
            </button>
        </tui-loader>

    </form>
    }

    <button type="button" appearance="outline" tuiIconButton type="button" class="width100"
        iconStart="@tui.circle-arrow-right" shape="square" size="s" (click)="onNext()" [disabled]="modeForm.invalid || !apiAlive()"
        title="Next Step">
    </button>
</div>