.option-container {
    display: flex;
    gap: 1rem;
    padding-top: 3rem;
    max-width: 40rem;
    flex-wrap: wrap;
    justify-content: center;

}

.mode-option {
    flex: 1;
    width: 15rem;
    min-width: 15rem;
}

.text_subtitle {
    color: var(--tui-text-02)
}

.text_center {
    text-align: center;
}

.inner {
    margin: 1rem 0;
    white-space: normal;

    &_flex {
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 14rem;
    }
}

.url-container {
    padding-top: 3rem;
}
