@use '@taiga-ui/core/styles/variables/media.scss' as media;

table {
    inline-size: 100%;
    table-layout: fixed;

    tr {
        block-size: var(--tui-height-s);
    }
}

table._stuck._sticky:after,
table._stuck ._sticky:after {
    opacity: var(--tui-inline);
}

.main-form {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background: var(--tui-background-base-alt);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 16%);
    border-radius: var(--tui-radius-s);
    padding: 0;

    .main-form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--tui-background-base);
        border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
        cursor: move;
        height: 2rem;

        p {
            padding: 0 .5rem;
        }
    }

    .main-form-content {
        overflow-y: visible;
        overflow-x: hidden;
    }

}

.main-form-actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem;
}

.main-list {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background: var(--tui-background-base-alt);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 16%);
    border-radius: var(--tui-radius-s);
    padding: 0;
    padding-bottom: var(--tui-padding-s);

    .main-form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--tui-background-base);
        border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
        cursor: move;
        height: 2rem;

        p {
            padding: 0 .5rem;
        }
    }

    .main-form-content {
        overflow-y: visible;
        overflow-x: hidden;
    }

    .main-form-actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 1rem;
    }
}

.viewport {
    height: 100%;
}

.viewport-dialog {
    height: 50vh;
}

.confirm-delete-column {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    width: 100%;
    height: calc(var(--tui-height-s));
    background: var(--tui-status-negative-pale);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    margin: 0;
    padding: 0;

    .text {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 30ch;
        overflow: hidden;

        @media #{media.$tui-mobile} {
            width: 10ch;
        }
    }
}

.align-center {
    align-self: center;
}

.viewport-2 {
    height: 100%;
    margin: 0 1rem;
}

td._editable {
    .span-unfocus {
        padding: .25rem .5rem;
    }
}

.span-unfocus {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    height: 100%;
    align-content: center;
    box-sizing: border-box;
}

.editable-cell {
    &:hover {
        background: var(--tui-background-base-alt);
        cursor: text;
    }

    transition: 0.25s background;
}