<tui-scrollbar class="viewer-container" [hidden]="true" [ngClass]="{'active': active()}">
    <ng-template adHost></ng-template>
    @if (!componentLoaded) {
    <div class="component-not-loaded">
        <tui-block-status [card]="true">
            <tui-icon icon="@tui.presentation" tuiSlot="top" [style.color]="'var(--tui-text-primary)'"
                [background]="'@tui.presentation-filled'" [style.height.px]="128" [style.width.px]="128" />

            {{'viewer-not-selected' | translate}}
        </tui-block-status>
    </div>
    }
</tui-scrollbar>