$border-size: 1px;
$border-height: 2px;
$border-color: var(--tui-base-04);
$border-active-color: var(--tui-base-09);

.viewer-container {
    height: calc(100vh - var(--header-height) - $border-height);
    min-width: var(--min-width-viewer);
    background-color: var(--tui-base-01);
    padding-top: 1px;
    border-top: $border-size solid $border-color;
    position: relative;
}

.image {
    width: 5.5rem;
    height: 5.5rem;
}

.component-not-loaded {
    background-color: var(--tui-base-02);
    min-width: 15rem;
    height: calc(100svh - var(--header-height) - $border-height);
    min-height: 30rem;
}

.active {
    border-top: $border-size solid $border-active-color;
}