<main class="main-container">
    <h2> {{'importall' | translate}}</h2>
    <p>
        {{'importall-description' | translate}}
    </p>

    <ng-container [ngTemplateOutlet]="fileInput" [ngTemplateOutletContext]="{
            $implicit: importAllS.dataFile,
            filesize:(1024*1024*1024*2),
            accept: '*',
            filename: 'Data'
        }" />

    <tui-tabs-with-more [itemsLimit]="3" underline="var(--tui-background-accent-opposite)"
        [(activeItemIndex)]="activeItemIndex" class="tui-space_top-6 tui-space_bottom-3" size="m">
        <button *tuiItem iconStart="book" tuiTab type="button">
            {{'buffinfo' | translate}}
        </button>
        <button *tuiItem iconStart="message-circle" tuiTab type="button">
            {{'dialogassets' | translate}}
        </button>
        <button *tuiItem iconStart="key" tuiTab type="button">
            {{'localization-keys' | translate}}
        </button>
        <button *tuiItem iconStart="whole-word" tuiTab type="button">
            {{'dictionary' | translate}}
        </button>
    </tui-tabs-with-more>

    @switch (activeItemIndex) {
    @case (0) {
    <ng-container [ngTemplateOutlet]="gvT" [ngTemplateOutletContext]="{
        $implicit: importAllS.gVReplace,
        title: 'to-import',
        appearance: 'info',
        hint: 'import-count'
        }" />
    <ng-container [ngTemplateOutlet]="gvT" [ngTemplateOutletContext]="{
        $implicit: importAllS.gVReplaceConflict,
        title: 'in-conflict',
        appearance: 'warning',
        hint: 'conflict-count'
        }" />
    }
    @case (1) {
    <ng-container [ngTemplateOutlet]="daT" [ngTemplateOutletContext]="{
        $implicit: importAllS.dAReplace,
        title: 'to-import',
        appearance: 'info',
        hint: 'import-count'
        }" />
    <ng-container [ngTemplateOutlet]="daT" [ngTemplateOutletContext]="{
        $implicit: importAllS.dAReplaceConflict,
        title: 'in-conflict',
        appearance: 'warning',
        hint: 'conflict-count'
        }" />
    }
    @case(2){
    <ng-container [ngTemplateOutlet]="kT" [ngTemplateOutletContext]="{
        $implicit: importAllS.kReplace,
        title: 'to-import',
        appearance: 'info',
        hint: 'import-count'
        }" />
    <ng-container [ngTemplateOutlet]="kT" [ngTemplateOutletContext]="{
        $implicit: importAllS.kReplaceConflict,
        title: 'in-conflict',
        appearance: 'warning',
        hint: 'conflict-count'
        }" />
    }
    @case(3){
    <ng-container [ngTemplateOutlet]="cT" [ngTemplateOutletContext]="{
        $implicit: importAllS.cReplace,
        title: 'to-import',
        appearance: 'info',
        hint: 'import-count'
        }" />
    <ng-container [ngTemplateOutlet]="cT" [ngTemplateOutletContext]="{
        $implicit: importAllS.cReplaceConflict,
        title: 'in-conflict',
        appearance: 'warning',
        hint: 'conflict-count'
        }" />
    }
    }

    <div class="import-button tui-space_vertical-6">
        @switch (importAllS.status()) {
        @case ('waiting-file') {
        <button tuiButton appearance="outline" disabled>
            {{'waiting-file' | translate}}
        </button>
        }
        @case ('reading-file') {
        <button tuiButton appearance="outline" [loading]="true"></button>
        }
        @case ('import-file') {
        <button tuiButton appearance="outline" (click)="importAllS.onImport()">
            {{'import' | translate}}
        </button>
        }
        @case ('importing-file') {
        <button tuiButton appearance="outline" [loading]="true"></button>
        }
        @case ('file-imported') {
        <button tuiButton appearance="outline">
            {{'file-imported' | translate}}
        </button>
        }
        }

    </div>

</main>

<ng-template #fileInput let-filecontrol let-filesize="filesize" let-accept="accept" let-filename="filename">
    <div class="file-input-empty">
        <ng-container [ngTemplateOutlet]="file" [ngTemplateOutletContext]="{
            $implicit: filecontrol,
            filesize:filesize,
            accept: accept,
            filename: filename
        }">
        </ng-container>
    </div>
</ng-template>

<ng-template #file let-filecontrol let-filesize="filesize" let-accept="accept" let-filename="filename">
    @if (filecontrol.skip | async) {
    <div tuiCardMedium="compact" tuiAppearance="neutral" class="file-input-provided"
        *ngIf="filecontrol.notSupported && filecontrol.notSupported | async; else skipN">
        <header tuiHeader="body-m">
            <h2 tuiTitle>
                {{'not-support' | translate}}
                <span tuiSubtitle>{{filename}}</span>
            </h2>
        </header>
        <section>
            <span>{{'not-support-mobile' | translate}}</span>
        </section>
        <footer>
        </footer>
    </div>
    <ng-template #skipN>
        <div tuiCardMedium="compact" tuiAppearance="neutral" class="file-input file-input-provided">
            <header tuiHeader="body-m">
                <h2 tuiTitle>
                    {{'file-skip' | translate}}
                    <span tuiSubtitle>{{filename}}</span>
                </h2>
            </header>
            <section>
                <span>{{'file-import-skip-description' | translate}}</span>
            </section>
            <footer>
            </footer>
        </div>
    </ng-template>
    }
    @else {
    <label tuiInputFiles *ngIf="!filecontrol.control.value" class="file-input padding0">
        <input tuiInputFiles [formControl]="filecontrol.control" [accept]="accept" />
        <ng-template let-dragged>
            <div *ngIf="dragged; else base">
                <tui-avatar class="file-avatar" src="@tui.droplet" />
                <div>{{'drop' | translate}}</div>
            </div>
            <ng-template #base>
                <div class="content">
                    <tui-avatar class="file-avatar" src="@tui.cloud-upload" />
                    <div>{{filename}}</div>
                </div>
            </ng-template>
        </ng-template>
    </label>
    <ng-container *ngIf="filecontrol.loadedFile$ | async as file">
        <div tuiCardMedium="compact" tuiAppearance="neutral" class="file-input file-input-provided">
            <header tuiHeader="body-m">
                <h2 tuiTitle>
                    {{'archive' | translate}}
                    <span tuiSubtitle>{{filename}}</span>
                </h2>

                <aside tuiAccessories>
                    <tui-loader class="file-verified-loader" [overlay]="true"
                        [showLoader]="(filecontrol.verifyingFile$ | async) ?? false">
                        <tui-icon [icon]="'@tui.circle-check'" />
                    </tui-loader>
                </aside>
            </header>
            <section>
                <p>
                    {{
                    (filecontrol.verifyingFile$ | async) ?? false ?
                    ('file-import-verifying' | translate) :
                    ('file-import-verified' | translate)
                    }}
                </p>
            </section>
            <footer>
            </footer>
        </div>
    </ng-container>
    }
</ng-template>

<ng-template #gvT let-data let-title="title" let-appearance="appearance" let-hint="hint">
    <ng-container [ngTemplateOutlet]="tableTitle" [ngTemplateOutletContext]="{
        $implicit: data,
        title: title,
        appearance: appearance,
        hint: hint
        }" />
    <tui-scrollbar class="tui-space_bottom-6">
        <cdk-virtual-scroll-viewport itemSize="50" tuiScrollable class="tui-zero-scrollbar progress-operation-scroll">
            <table class="tui-table tui-table_font-size_s tui-table_layout_fixed">
                <thead>
                    <tr class="tui-table__tr tui-table__tr_border_none tui-table__tr_hover_disabled">
                        <th class="tui-table__th tui-table_layout_fixed" class="width64">
                            {{'import' | translate}}
                        </th>
                        <th class="tui-table__th tui-table_layout_fixed">
                            {{'category' | translate}}
                        </th>
                        <th class="tui-table__th tui-table_layout_fixed">
                            {{'name' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let item of data()" class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td">
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <input tuiCheckbox type="checkbox" [(ngModel)]="item.import" size="s"
                                    aria-label="viewable checkbox" />
                            </div>
                        </td>
                        <td class="tui-table__td tui-table__td_text_overflow">
                            {{item.Category}}
                        </td>
                        <td class="tui-table__td tui-table__td_text_overflow">
                            {{item.Name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
</ng-template>

<ng-template #daT let-data let-title="title" let-appearance="appearance" let-hint="hint">
    <ng-container [ngTemplateOutlet]="tableTitle" [ngTemplateOutletContext]="{
        $implicit: data,
        title: title,
        appearance: appearance,
        hint: hint
        }" />
    <tui-scrollbar class="tui-space_bottom-6">
        <cdk-virtual-scroll-viewport itemSize="50" tuiScrollable class="tui-zero-scrollbar progress-operation-scroll">
            <table class="tui-table tui-table_font-size_s tui-table_layout_fixed">
                <thead>
                    <tr class="tui-table__tr tui-table__tr_border_none tui-table__tr_hover_disabled">
                        <th class="tui-table__th tui-table_layout_fixed" class="width64">
                            {{'import' | translate}}
                        </th>
                        <th class="tui-table__th tui-table_layout_fixed">
                            {{'name' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let item of data()" class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td">
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <input tuiCheckbox type="checkbox" [(ngModel)]="item.import" size="s"
                                    aria-label="viewable checkbox" />
                            </div>
                        </td>
                        <td class="tui-table__td tui-table__td_text_overflow">
                            {{item.Filename}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
</ng-template>

<ng-template #kT let-data let-title="title" let-appearance="appearance" let-hint="hint">
    <ng-container [ngTemplateOutlet]="tableTitle" [ngTemplateOutletContext]="{
        $implicit: data,
        title: title,
        appearance: appearance,
        hint: hint
        }" />
    <tui-scrollbar class="tui-space_bottom-6">
        <cdk-virtual-scroll-viewport itemSize="50" tuiScrollable class="tui-zero-scrollbar progress-operation-scroll">
            <table class="tui-table tui-table_font-size_s tui-table_layout_fixed">
                <thead>
                    <tr class="tui-table__tr tui-table__tr_border_none tui-table__tr_hover_disabled">
                        <th class="tui-table__th tui-table_layout_fixed" class="width64">
                            {{'import' | translate}}
                        </th>
                        <th class="tui-table__th tui-table_layout_fixed">
                            {{'category' | translate}}
                        </th>
                        <th class="tui-table__th tui-table_layout_fixed">
                            {{'name' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let item of data()" class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td">
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <input tuiCheckbox type="checkbox" [(ngModel)]="item.import" size="s"
                                    aria-label="viewable checkbox" />
                            </div>
                        </td>
                        <td class="tui-table__td tui-table__td_text_overflow">
                            {{item.Category}}
                        </td>
                        <td class="tui-table__td tui-table__td_text_overflow">
                            {{item.Name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
</ng-template>

<ng-template #cT let-data let-title="title" let-appearance="appearance" let-hint="hint">
    <ng-container [ngTemplateOutlet]="tableTitle" [ngTemplateOutletContext]="{
        $implicit: data,
        title: title,
        appearance: appearance,
        hint: hint
        }" />
    <tui-scrollbar class="tui-space_bottom-6">
        <cdk-virtual-scroll-viewport itemSize="50" tuiScrollable class="tui-zero-scrollbar progress-operation-scroll">
            <table class="tui-table tui-table_font-size_s tui-table_layout_fixed">
                <thead>
                    <tr class="tui-table__tr tui-table__tr_border_none tui-table__tr_hover_disabled">
                        <th class="tui-table__th tui-table_layout_fixed" class="width64">
                            {{'import' | translate}}
                        </th>
                        <th class="tui-table__th tui-table_layout_fixed">
                            {{'original' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let item of data()" class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td">
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <input tuiCheckbox type="checkbox" [(ngModel)]="item.import" size="s"
                                    aria-label="viewable checkbox" />
                            </div>
                        </td>
                        <td class="tui-table__td tui-table__td_text_overflow">
                            {{item.Original}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
</ng-template>

<ng-template #tableTitle let-data let-title="title" let-appearance="appearance" let-hint="hint">
    <section class="tui-space_bottom-1">
        <header tuiHeader="body-m">
            <hgroup tuiTitle>
                <h5>{{title | translate}}</h5>
            </hgroup>
            <aside tuiAccessories>
                <tui-badge [appearance]="appearance" [tuiHint]="hint | translate">
                    {{data().length}}
                </tui-badge>
            </aside>
        </header>
    </section>
</ng-template>