<ng-container *ngIf="(languageOrigin.language$ | async)">
    <div class="localization-actions">
        <div class="localization-action-content">
            <app-localization-key (created)="localization.refreshAll()"></app-localization-key>
            <app-gamedata-values></app-gamedata-values>
            <app-common-words></app-common-words>
        </div>
    </div>
    <div class="localization-container" *ngIf="localization.categories$ | async as categories; else loadingCategories">
        <div class="tui-space_bottom-3" style="display: flex; align-items: center; gap: 0.5rem;">
            <tui-combo-box style="max-width: 240px; width: 100%;" [(ngModel)]="localization.selectedCategory"
                [tuiTextfieldSize]="'m'" [valueContent]="categoryInputContent" [stringify]="stringify"
                (ngModelChange)="localization.onSelectCategory(localization.selectedCategory)">
                {{'categories' | translate}}
                <input placeholder="{{'type-name' | translate}}" tuiTextfield />
                <tui-data-list-wrapper *tuiDataList [itemContent]="categoryInputContent"
                    [items]="categories | tuiFilterByInput"></tui-data-list-wrapper>
            </tui-combo-box>
            <ng-template #categoryInputContent let-data>
                <div class="template">
                    {{data.Name}} [{{data.KeysTranslated[localization.language]}}/{{data.Keys[localization.language]}}]
                </div>
            </ng-template>
            <ng-container *ngIf="localization.keys$">
                <ng-container *ngIf="localization.searchCategory$ | async; else normalH;">
                    <tui-hosted-dropdown bottomRight [content]="content" tuiMode="onLight">
                        <button tuiButton appearance="flat" icon="tuiIconFilter" size="s"
                            title="{{'filters' | translate}}">
                            {{'results' | translate}}:
                            {{localization.searchTotalTranslated}}/{{localization.keys?.length ??0}}
                        </button>
                    </tui-hosted-dropdown>
                    <ng-template #content>
                        <div style="padding: 0.5rem;">
                            <p style="max-width: 200px">
                                {{'filters-localization-description' | translate}}
                            </p>

                            <tui-input class="tui-space_bottom-3" style="width: 200px;"
                                [formControl]="localization.search" [tuiTextfieldSize]="'m'"
                                [tuiTextfieldCustomContent]="'tuiIconSearch'">
                                {{'search-by-text' | translate}}
                                <input tuiTextfield type="text" />
                            </tui-input>

                            <tui-input class="tui-space_bottom-3" style="width: 200px;"
                                [formControl]="localization.searchTranslation" [tuiTextfieldSize]="'m'"
                                [tuiTextfieldCustomContent]="'tuiIconSearch'">
                                {{'search-by-translation' | translate}}
                                <input tuiTextfield type="text" />
                            </tui-input>

                            <tui-input style="width: 200px;" [formControl]="localization.searchKey"
                                [tuiTextfieldSize]="'m'" [tuiTextfieldCustomContent]="'tuiIconSearch'">
                                {{'search-by-key' | translate}}
                                <input tuiTextfield type="text" />
                            </tui-input>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-template #normalH>
                    <button tuiButton type="button" appearance="flat" size="s" tuiMode="onLight" icon="tuiIconBox"
                        [tuiHint]="((libreTranslate.serverReady$ | async)) ? 
                        ('libretranslate-button-ready' | translate):
                        ('libretranslate-button-disabled' | translate)"
                        [tuiHintAppearance]="((libreTranslate.serverReady$ | async)) ? 'onDark' : 'error'"
                        tuiHintDirection="right" (click)="localization.onMachineTranslate()"
                        [disabled]="!(libreTranslate.serverReady$ | async)"
                        [showLoader]="(libreTranslate.translating$ | async) ?? false">
                        {{'translate-all-keys' | translate}}
                    </button>
                </ng-template>
            </ng-container>
        </div>

        <div class="localization-keys">
            <ng-container *ngIf="localization.selectedCategory; else selectCategory">
                <ng-container tuiTableFilters>
                    <ng-container *ngIf="localization.searchCategory$ | async; else normal;">
                        <app-localization-search></app-localization-search>
                    </ng-container>
                    <ng-template #normal>
                        <ng-container *ngIf="!(localization.loading$ | async) ?? false; else loading">
                            <ng-container *ngIf="localization.keys">
                                <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar"
                                    [itemSize]="45" [maxBufferPx]="500" [minBufferPx]="400">
                                    <table class="tui-table" style="table-layout: fixed;" tuiTable
                                        [columns]="['Language', 'Translation', 'Translated']" [@popIn]>
                                        <thead>
                                            <tr tuiThGroup #columnsHeader>
                                                <th tuiTh *tuiHead="'Language'" [sticky]=" true"
                                                    [style.top.px]="-viewport['_renderedContentOffset']"
                                                    [sorter]="null">
                                                    {{'original' | translate}}
                                                </th>
                                                <th tuiTh *tuiHead="'Translation'" [sticky]="true"
                                                    [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null"
                                                    style="width: 60%; max-width: 60%;">
                                                    {{'translation' | translate}}
                                                    <tui-toggle class="tui-space_left-2" [showIcons]="true"
                                                        [(ngModel)]="localization.propagateTranslation"></tui-toggle>
                                                    <tui-tooltip [content]="propagationTooltip" direction="right"
                                                        [appearance]="'onDark'">
                                                    </tui-tooltip>
                                                    <ng-template #propagationTooltip>
                                                        {{'propagation' | translate}}:
                                                        {{'propagation-keys-description-0' | translate}}
                                                        <span class="tooltip-important-text">
                                                            {{'propagation-keys-description-1' | translate}}
                                                        </span>
                                                        {{'propagation-keys-description-2' | translate}}
                                                        <strong>
                                                            {{'propagation-keys-description-3' | translate}}
                                                        </strong>
                                                        {{'propagation-keys-description-4' | translate}}
                                                    </ng-template>
                                                </th>
                                                <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                                    [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null"
                                                    style="width: 32px;">
                                                    <tui-svg style="display: inherit;"
                                                        src="tuiIconCheckCircle"></tui-svg>
                                                </th>
                                            </tr>
                                            <tr tuiThGroup #filterHeader>
                                                <th tuiTh *tuiHead="'Language'" [sticky]="true"
                                                    style="transform: translate(0);"
                                                    [style.top.px]="-viewport['_renderedContentOffset'] + 1"
                                                    [sorter]="null">
                                                    <tui-input tuiTableFilter="Original"
                                                        [formControl]="localization.filterForm.controls['original']"
                                                        [tuiGenericFilter]="localization.filterOriginalColumn"
                                                        [tuiTextfieldSize]="'m'"
                                                        [tuiTextfieldIconLeft]="'tuiIconFilter'">
                                                        {{'search-by-original-column' | translate}}
                                                    </tui-input>
                                                </th>
                                                <th tuiTh *tuiHead="'Translation'" [sticky]="true"
                                                    [style.top.px]="-viewport['_renderedContentOffset'] + 1"
                                                    [sorter]="null"
                                                    style="width: 60%; max-width: 60%; transform: translate(0);">
                                                    <tui-input tuiTableFilter="Translations"
                                                        [formControl]="localization.filterForm.controls['translation']"
                                                        [tuiGenericFilter]="localization.filterTranslationColumn"
                                                        [tuiTextfieldSize]="'m'"
                                                        [tuiTextfieldIconLeft]="'tuiIconFilter'">
                                                        {{'search-by-translation-column' | translate}}
                                                    </tui-input>
                                                </th>
                                                <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                                    [style.top.px]="-viewport['_renderedContentOffset'] + 1"
                                                    [sorter]="null" style="width: 32px; transform: translate(0);">
                                                    <div
                                                        style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                                        <tui-checkbox
                                                            [formControl]="localization.filterForm.controls['translated']"
                                                            tuiTableFilter="Translated"
                                                            [tuiGenericFilter]="localization.filterTranslatedColumn"
                                                            contentAlign="right">
                                                        </tui-checkbox>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody tuiTbody>
                                            <tr *cdkVirtualFor="let item of localization.keys | tuiTableFilters | async; index as i"
                                                tuiTr>
                                                <td *tuiCell="'Language'" tuiTd [tuiHint]="tooltip"
                                                    [tuiHintAppearance]="'onDark'" [tuiHintShowDelay]="200"
                                                    class="tooltip-name-cell">
                                                    <ng-container
                                                        *ngIf="localization.focusRow == i; else showNormalText">
                                                        <tui-scrollbar class="translation-content-cell">
                                                            <span appCommonDictionary
                                                                [text]="onRenderDefaultLanguage(item.Original)"></span>
                                                        </tui-scrollbar>
                                                    </ng-container>
                                                    <ng-template #showNormalText>
                                                        <tui-scrollbar class="translation-content-cell">
                                                            <span>{{onRenderDefaultLanguage(item.Original)}}</span>
                                                        </tui-scrollbar>
                                                    </ng-template>
                                                    <span
                                                        class="tooltip-span-name-cell tooltip-important-text tui-text_body-xs">
                                                        <tui-svg src="tuiIconKey" style="font: inherit;"></tui-svg>
                                                        {{item.Name}}
                                                    </span>
                                                </td>
                                                <ng-template #tooltip>
                                                    <tui-scrollbar #scrollTooltip class="tooltip-original-cell"
                                                        [hidden]="true" (mouseenter)="onTooltipCheck(scrollTooltip)"
                                                        (mouseleave)="onTooltipCheck()">
                                                        <ul>
                                                            <li class="tooltip-important-text tui-text_body-xs"
                                                                style="text-align: right;">
                                                                <tui-svg src="tuiIconKey"
                                                                    style="font: inherit;"></tui-svg>
                                                                {{item.Name}}
                                                            </li>
                                                            <li *ngFor="let key of item.Original | keyvalue">
                                                                <span class="tooltip-important-text">
                                                                    {{$any(key.key) | translate}}:
                                                                </span>
                                                                {{key.value}}
                                                            </li>
                                                        </ul>
                                                    </tui-scrollbar>
                                                    <tui-svg *ngIf="showTooltipArrow$ | async"
                                                        style="position: absolute; left: -1px; bottom: -1px; color: var(--important-text);"
                                                        src="tuiIconArrowDown" [@popIn]></tui-svg>
                                                </ng-template>
                                                <td *tuiCell="'Translation'" tuiTd>
                                                    <tui-text-area
                                                        [(ngModel)]="item.Translations[localization.language]"
                                                        [expandable]="true" (focusedChange)="localization.focusRow = i"
                                                        [tuiTextfieldSize]="'m'"
                                                        (ngModelChange)="localization.onTranslationChange($event, localization.keys, item)"
                                                        [rows]="8">
                                                        ......
                                                    </tui-text-area>
                                                </td>
                                                <td *tuiCell="'Translated'" tuiTd>
                                                    <div
                                                        style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                                        <tui-checkbox
                                                            [(ngModel)]="item.Translated[localization.language]"
                                                            (ngModelChange)="localization.onTranslatedCheck($event, localization.keys, item)"></tui-checkbox>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </cdk-virtual-scroll-viewport>
                            </ng-container>
                        </ng-container>
                        <ng-template #loading>
                            <tui-block-status>
                                <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" [@popIn]>
                                    <h4 style="margin-top: revert; margin-bottom: revert;">
                                        {{'loading-3-dots' | translate}}
                                    </h4>
                                </tui-loader>
                            </tui-block-status>
                        </ng-template>
                    </ng-template>
                </ng-container>
            </ng-container>
            <ng-template #selectCategory>
                <tui-block-status>
                    <h4>{{'select-one-category' | translate}}</h4>
                </tui-block-status>
            </ng-template>
        </div>
    </div>

    <ng-template #loadingCategories>
        <tui-block-status>
            <h4>{{'loading-categories' | translate}}</h4>
        </tui-block-status>
    </ng-template>
</ng-container>