@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.main-wizard {
    display: flex;
    flex-direction: column;

    @media #{$tui-desktop-min} {
        flex-direction: row;
    }
}

.wizard-stepper {
    padding: 1em;
    margin: 0 auto;

    @media #{$tui-desktop-min} {
        margin: inherit;
    }
}

.wizard-content {
    flex: 1;
    padding: 1em;
}

.wizard-choose-lang {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
}