.main-wizard {
    display: flex;
}

.wizard-stepper {
    padding: 1em;
}

.wizard-content {
    flex: 1;
    padding: 1em;
}

.wizard-choose-lang {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
}