<ng-container *ngIf="breakpointService$ | async as breakpoint">
    <main class="main-wizard">
        <tui-stepper #stepper class="wizard-stepper"
            [orientation]="(breakpoint == 'desktopSmall' || breakpoint == 'mobile') ? 'horizontal' : 'vertical'"
            [activeItemIndex]="activeItemIndex">
            <button tuiStep [stepState]="(fileReader.fileProgressState$ | async) == 'finish' ? 'pass': 'normal'"
                disabled>
                {{'load-obb-file' | translate}}
            </button>
            <button tuiStep disabled>
                {{'choose-languages' | translate}}
            </button>
            <button tuiStep disabled>
                {{'uploading-data' | translate}}
            </button>
            <button tuiStep disabled>
                {{'creating-main-groups-and-groups' | translate}}
            </button>
            <button tuiStep disabled>
                {{'load-localization-file' | translate}}
            </button>
            <button tuiStep disabled>
                {{'load-gamedata-file' | translate}}
            </button>
            <button tuiStep disabled>
                {{'lets-translate' | translate}}
            </button>
        </tui-stepper>

        <div class="wizard-content">
            <ng-container [ngTemplateOutlet]="{
                '0': stepperLoadFile,
                '1': stepperChooseLanguage,
                '2': stepperUploadingData,
                '3': stepperCreatingGroups,
                '4': stepperLoadLocalization,
                '5': stepperLoadGamedata,
                '6': stepperFinish,
             }[stepper.activeItemIndex] ?? stepperDefault">
            </ng-container>
        </div>
    </main>
</ng-container>

<ng-template #stepperLoadFile>
    <app-load-file-input></app-load-file-input>
</ng-template>

<ng-template #stepperChooseLanguage>
    <p>{{'choose-languages' | translate}}</p>
    <ng-container *ngIf="multiLanguage$ | async">
        <tui-select tuiTextfieldSize="s" [formControl]="fileReader.defaultLanguage" class="tui-space_bottom-3"
            [valueContent]="originLang">
            {{'default-language' | translate}}
            <input tuiTextfield placeholder="..." />
            <tui-data-list-wrapper *tuiDataList [items]="languagesSelected" [itemContent]="originLang">
            </tui-data-list-wrapper>
            <ng-template #originLang let-data>
                {{data | translate}}
            </ng-template>
        </tui-select>
    </ng-container>
    <div class="wizard-choose-lang">
        <tui-checkbox-block *ngFor="let language of fileReader.dialogAssets | keyvalue" size="l"
            [(ngModel)]="fileReader.dialogAssetsInclude[language.key]"
            (ngModelChange)="onSelectLanguage(language.key, $event)">
            <div class="content">
                <div>
                    <div class="label">{{language.key | translate}}</div>
                    {{'files' | translate}}: {{language.value.length}}
                </div>
            </div>
        </tui-checkbox-block>
    </div>
    <div class="tui-space_top-2" style="display: flex; flex-direction: row-reverse;">
        <button tuiIconButton [iconRight]="'tuiIconArrowRightCircleLarge'"
            [disabled]="!languageSelected || fileReader.defaultLanguage.invalid" (click)="onSelectLanguageEnd()">
        </button>
    </div>
</ng-template>

<ng-template #stepperUploadingData>
    <app-load-file-wizard-uploading></app-load-file-wizard-uploading>
</ng-template>

<ng-template #stepperCreatingGroups>
    <app-load-file-wizard-groups></app-load-file-wizard-groups>
</ng-template>

<ng-template #stepperLoadLocalization>
    <app-load-file-localization></app-load-file-localization>
</ng-template>

<ng-template #stepperLoadGamedata>
    <app-load-file-gamedata></app-load-file-gamedata>
</ng-template>

<ng-template #stepperFinish>
    <tui-block-status>
        <h4>{{'lets-translate' | translate}}</h4>

        <button tuiButton appearance="secondary" [routerLink]="['/']">
            {{'guide-me' | translate}}
        </button>
    </tui-block-status>
</ng-template>

<ng-template #stepperDefault>
</ng-template>