@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.sidebar-container {
    position: relative;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3.9375rem;
    align-items: center;
    justify-items: center;
    overflow: hidden;

    .blank-space {
        height: var(--header-height);
    }

    .profile-avatar-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--header-height);
        border-bottom: 1px solid;
        width: 100%;
        transition: all 0.5s;

        .menu-indicator {
            position: absolute;
            bottom: 3px;
            background-color: transparent;
            border-radius: var(--tui-radius-s);
            backdrop-filter: blur(10px);
        }

        .avatar {
            background: transparent;
            left: 0;
            border: 1px solid var(--tui-base-04);
            border-radius: var(--tui-radius-m) !important;
        }

        @media #{$tui-mobile} {
            left: 44px;

            .avatar {
                left: -5px;
            }
        }
    }
}

.sidebar-link-icon {
    filter: brightness(0) invert(0);
    width: 28px;
    height: 28px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.65rem;
    align-items: center;
    justify-content: center;
}

[tuiWrapper][data-appearance='selected'][data-mode='onLight'] {
    color: black;
}

[tuiWrapper][data-appearance='selected'][data-mode='onLight']:after {
    color: black;
}