@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3.9375rem;
    align-items: center;
    justify-items: center;
    overflow: hidden;

    .blank-space {
        height: var(--header-height);
    }

    .profile-avatar-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--header-height);
        border-bottom: 1px solid;
        width: 100%;
        transition: all 0.5s;

        @media #{$tui-mobile} {
            left: 44px;
        }
    }
}

.avatar {
    background: transparent;
    border: 1px solid var(--tui-base-04);
    border-radius: var(--tui-radius-m) !important;
}

.sidebar-link-icon {
    filter: brightness(0) invert(0);
    width: 28px;
    height: 28px;
}