<div class="sidebar">
    <div class="profile-avatar-container">
        <tui-loader [showLoader]="(auth.authenticating$ | async) ?? false">
            <tui-avatar class="avatar" size="s" [rounded]="false"
                [text]="auth.user?.name ? auth.user?.name ?? '' : '?'" fallback="tuiIconUserLarge"
                [avatarUrl]="auth.user?.photoUrl ? auth.user?.photoUrl ?? '' : null">
            </tui-avatar>
        </tui-loader>
    </div>

    <div class="blank-space"></div>

    <button tuiIconButton appearance="outline" type="button" size="s" [icon]="'tuiIconType'" tuiMode="onLight"
        (click)="loadComponent(viewers.localization)" tuiHint="{{'main-localization' | translate}}"
        tuiHintAppearance="onDark" [tuiHintShowDelay]="100">
    </button>
    <button tuiIconButton appearance="outline" type="button" size="s" [icon]="'tuiIconMessageCircle'" tuiMode="onLight"
        (click)="loadComponent(viewers.dialogs)" tuiHint="{{'chapter-dialog-localization' | translate}}"
        tuiHintAppearance="onDark" [tuiHintShowDelay]="100">
    </button>
    <button tuiIconButton appearance="outline" type="button" size="s" [icon]="'tuiIconUpload'" tuiMode="onLight"
        (click)="loadComponent(viewers.import)" tuiHint="{{'re-import-files' | translate}}" tuiHintAppearance="onDark"
        [tuiHintShowDelay]="100">
    </button>
    <button tuiIconButton appearance="outline" type="button" size="s" [icon]="'tuiIconDownload'" tuiMode="onLight"
        (click)="loadComponent(viewers.export)" tuiHint="{{'export-files' | translate}}" tuiHintAppearance="onDark"
        [tuiHintShowDelay]="100">
    </button>

    <app-localization-key></app-localization-key>
    <app-gamedata-values></app-gamedata-values>
    <app-common-words></app-common-words>
</div>