@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.sidebar-container {
    position: relative;
    height: 100%;
}

.sidebar {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: 2.9375rem 1fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;

    .blank-space {
        height: var(--header-height);
    }

    .profile-avatar-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--header-height);
        border-bottom: 1px solid;
        width: 100%;
        transition: all 0.5s;

        .menu-indicator {
            position: absolute;
            bottom: 3px;
            background-color: transparent;
            border-radius: var(--tui-radius-s);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }

        .avatar {
            background: transparent;
            left: 0;
            border-radius: var(--tui-radius-m) !important;

            img {
                width: 16px;
                height: 16px;
                padding: 0 !important;
                position: absolute;
                left: 6px;
                top: 7px;
            }
        }

        @media #{$tui-mobile} {
            left: 44px;

            .avatar {
                border: 1px solid var(--tui-border-normal);
                left: -5px;
            }
        }
    }

    .sidebar-actions {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-auto-rows: 2.9375rem;
        align-items: center;
        justify-items: center;
        border-right: 2px solid var(--tui-background-accent-1);
    }
}

.app-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -16px;
    left: -4px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.65rem;
    align-items: center;
    justify-content: center;
}

.button-side[data-appearance='selected'] {
    color: var(--stt-secondary);
    background: var(--stt-primary);
}

[tuiTheme='dark'] {
    .button-side {
        background: var(--stt-secondary);
    }

    .button-side[data-appearance='selected'] {
        color: var(--stt-primary);
    }
}

.pabsolute {
    position: absolute;
    left: -21px;
}