.sidebar {
    // background: var(--tui-text-01);
    // background: color-mix(in srgb, var(--tui-text-01) 100%, transparent);
    // box-shadow: 0 8px 32px 0 color-mix(in srgb, var(--tui-text-01) 20%, transparent);
    // backdrop-filter: blur(20px);
    // -webkit-backdrop-filter: blur(20px);
    // border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3.9375rem;
    align-items: center;
    justify-items: center;

    a {
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        &:hover {
            opacity: 1;
        }
    }
}

.sidebar-link-icon {
    filter: brightness(0) invert(0);
    width: 28px;
    height: 28px;
}