<div class="sidebar">
    <!-- <a (click)="">
        <tui-marker-icon src="tuiIconHome" size="xs"></tui-marker-icon>
    </a> -->
    <a (click)="loadComponent(viewers.localization)">
        <tui-marker-icon src="tuiIconType" size="xs"></tui-marker-icon>
    </a>
    <a (click)="loadComponent(viewers.dialogs)">
        <tui-marker-icon src="tuiIconMessageCircle" size="xs"></tui-marker-icon>
    </a>
    <a (click)="loadComponent(viewers.import)">
        <tui-marker-icon src="tuiIconUpload" size="xs"></tui-marker-icon>
    </a>
    <a (click)="loadComponent(viewers.export)">
        <tui-marker-icon src="tuiIconDownload" size="xs"></tui-marker-icon>
    </a>
</div>