@if (localization.selectedCategory$ | async) {
@if ((localization.alreadySearch$ | async) ?? false) {
@if (localization.loading$ | async) {
<tui-loader />
}
@else {
@if ((breakpointService.mode$ | async) === 'desktopLarge' || (breakpointService.mode$ | async) === 'desktopSmall') {
<ng-container [ngTemplateOutlet]="desktopTable" />
}
@else if ((breakpointService.mode$ | async) === 'mobile') {
<ng-container [ngTemplateOutlet]="mobileTable" />
}
}
}
@else {
<ng-container [ngTemplateOutlet]="searchTemplate" />
}
}
@else {
<ng-container [ngTemplateOutlet]="selectCategory" />
}

<ng-template #desktopTable>
    <ng-container tuiTableFilters>
        <tui-scrollbar>
            @if (localization.keys) {
            <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar" [itemSize]="129"
                [maxBufferPx]="500" [minBufferPx]="400">

                <table class="tui-table popin enter" style="table-layout: fixed;" tuiTable
                    [columns]="['Language', 'Translation', 'Translated']">
                    <thead>
                        <tr tuiThGroup #columnsHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]=" true" style="transform: translate(0);"
                                [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                                {{'original' | translate}}
                            </th>
                            <th tuiTh *tuiHead="'Translation'" [sticky]="true" style="transform: translate(0);"
                                [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null"
                                style="width: 60%; max-width: 60%; ">
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <span>{{'translation' | translate}}</span>
                                    <input tuiSwitch type="checkbox" [showIcons]="true"
                                        [(ngModel)]="localization.propagateTranslation" [tuiHint]="propagationTooltip"
                                        size="s" aria-label="Propagation checkbox" />
                                    <ng-template #propagationTooltip>
                                        {{'propagation' | translate}}:
                                        {{'propagation-keys-description-0' | translate}}
                                        <span class="tooltip-important-text">
                                            {{'propagation-keys-description-1' | translate}}
                                        </span>
                                        {{'propagation-keys-description-2' | translate}}
                                        <strong>
                                            {{'propagation-keys-description-3' | translate}}
                                        </strong>
                                        {{'propagation-keys-description-4' | translate}}
                                    </ng-template>
                                </div>
                            </th>
                            <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                style="transform: translate(0); width: 32px;"
                                [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                                <div class="translated-checkbox-container align-center">
                                    <tui-icon icon="circle-check" tuiTextfieldSize="s"></tui-icon>
                                </div>
                            </th>
                        </tr>
                        <tr tuiThGroup #filterHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]="true" style="transform: translate(0);"
                                [style.top.px]="-viewport['_renderedContentOffset'] + 44" [sorter]="null">
                                <tui-input tuiTableFilter="Original"
                                    [formControl]="localization.filterForm.controls['original']"
                                    [tuiGenericFilter]="localization.filterOriginalColumn" [tuiTextfieldSize]="'m'"
                                    [tuiTextfieldIconLeft]="'filter'">
                                    {{'search-by-original-column' | translate}}
                                </tui-input>
                            </th>
                            <th tuiTh *tuiHead="'Translation'" [sticky]="true"
                                [style.top.px]="-viewport['_renderedContentOffset'] + 44" [sorter]="null"
                                style="width: 60%; max-width: 60%; transform: translate(0);">
                                <tui-input tuiTableFilter="Translations"
                                    [formControl]="localization.filterForm.controls['translation']"
                                    [tuiGenericFilter]="localization.filterTranslationColumn" [tuiTextfieldSize]="'m'"
                                    [tuiTextfieldIconLeft]="'filter'">
                                    {{'search-by-translation-column' | translate}}
                                </tui-input>
                            </th>
                            <th tuiTh *tuiHead="'Translated'" [sticky]="true"
                                [style.top.px]="-viewport['_renderedContentOffset'] + 44" [sorter]="null"
                                style="width: 32px; transform: translate(0);">
                                <div class="translated-checkbox-container align-center">
                                    <input tuiCheckbox type="checkbox"
                                        [formControl]="localization.filterForm.controls['translated']"
                                        tuiTableFilter="Translated"
                                        [tuiGenericFilter]="localization.filterTranslatedColumn" contentAlign="right"
                                        size="s" aria-label="Translated Filter" />

                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody tuiTbody>
                        <ng-container
                            *cdkVirtualFor="let item of localization.keys | tuiTableFilters | async; index as i;">
                            <tr tuiTr>
                                <td *tuiCell="'Language'" tuiTd [tuiHint]="tooltip" [tuiHintShowDelay]="200"
                                    class="tooltip-name-cell">
                                    <ng-template #tooltip>
                                        <tui-scrollbar #scrollTooltip class="tooltip-original-cell" [hidden]="true"
                                            (mouseenter)="onTooltipCheck(scrollTooltip)"
                                            (mouseleave)="onTooltipCheck()">
                                            <ul>
                                                <li class="tooltip-important-text tui-text_body-xs tui-space_bottom-2"
                                                    style="text-align: right;">
                                                    <tui-icon icon="key" style="font: inherit;"></tui-icon>
                                                    {{item.Name}}
                                                </li>
                                                @for (key of item.Original | keyvalue; track $index) {
                                                <li class="tui-space_bottom-2">
                                                    <span class="tooltip-important-text">
                                                        {{$any(key.key) | translate}}:
                                                    </span>
                                                    {{key.value}}
                                                </li>
                                                }
                                            </ul>
                                        </tui-scrollbar>
                                        @if (showTooltipArrow$ | async) {
                                        <tui-icon class="tooltip-arrow popin enter" icon="move-down" />
                                        }
                                    </ng-template>
                                    @if (localization.focusRow === item.Id) {
                                    <tui-scrollbar class="translation-content-cell">
                                        <span appCommonDictionary [text]="onRenderDefaultLanguage(item.Original)">
                                        </span>
                                    </tui-scrollbar>
                                    }
                                    @else {
                                    <tui-scrollbar class="translation-content-cell">
                                        <span>{{onRenderDefaultLanguage(item.Original)}}</span>
                                    </tui-scrollbar>
                                    }
                                    @if (localization.focusRow !== item.Id) {
                                    <span
                                        class="tooltip-span-name-cell tooltip-important-text-colored tui-text_body-xs">
                                        @if (localization.selectedCategory.Name == 'SEARCH') {
                                        <div>
                                            <tui-icon icon="inbox" style="font: inherit;" />
                                            {{item.Category}}
                                        </div>
                                        }
                                        <tui-icon icon="key" style="font: inherit;" />
                                        {{item.Name}}
                                    </span>
                                    }
                                </td>
                                <td *tuiCell="'Translation'" tuiTd>
                                    <tui-textarea #tranlationTextArea
                                        [(ngModel)]="item.Translations[localization.language]" [expandable]="true"
                                        (focusedChange)="localization.focusRow = item.Id" [tuiTextfieldSize]="'m'"
                                        (ngModelChange)="localization.onTranslationChange($event, localization.keys, item)"
                                        [rows]="4" tuiDropdownSelectionPosition="word" [tuiDropdown]="buffSelection"
                                        [tuiDropdownSelection]="predicate"
                                        (keydown.arrowDown)="onArrow($event, 'first')"
                                        (keydown.arrowUp)="onArrow($event, 'last')">
                                    </tui-textarea>
                                    <ng-template #buffSelection>
                                        @if (tranlationTextArea.nativeFocusableElement) {
                                        <tui-data-list size="s" class="menu"
                                            (keydown.escape)="tranlationTextArea.nativeFocusableElement.focus()">
                                            @for (buff of filterItems(tranlationTextArea.nativeFocusableElement); track
                                            $index) {
                                            <button tuiOption new
                                                (click)="onClick(item, buff.Name, tranlationTextArea.nativeFocusableElement)">
                                                {{ buff.Name }}
                                            </button>
                                            }

                                        </tui-data-list>
                                        }
                                    </ng-template>
                                </td>
                                <td *tuiCell="'Translated'" tuiTd>
                                    <div class="translated-checkbox-container">
                                        <input tuiCheckbox type="checkbox"
                                            [disabled]="(localization.saving$ | async) ?? false"
                                            [(ngModel)]="item.Translated[localization.language]"
                                            (ngModelChange)="localization.onTranslatedCheck($event, localization.keys, item)"
                                            size="s" aria-label="Translated Checkbox" />
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
            }
        </tui-scrollbar>
    </ng-container>
</ng-template>

<ng-template #mobileTable>
    <ng-container tuiTableFilters>
        <tui-scrollbar>
            @if(localization.keys){
            <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar" [itemSize]="213"
                [maxBufferPx]="500" [minBufferPx]="400">

                <table class="tui-table popin enter" style="table-layout: fixed;" tuiTable [columns]="['Language']">
                    <thead>
                        <tr tuiThGroup #filterHeader>
                            <th tuiTh *tuiHead="'Language'" [sticky]="true" class="header-content-cell"
                                [style.top.px]="-viewport['_renderedContentOffset'] + 1" [sorter]="null">
                                <div class="header-content">
                                    <tui-input tuiTableFilter="Original" style="transform: translate(0); flex: 1;"
                                        [formControl]="localization.filterForm.controls['original']"
                                        [tuiGenericFilter]="localization.filterOriginalColumn" [tuiTextfieldSize]="'m'"
                                        [tuiTextfieldIconLeft]="'filter'">
                                        {{'search-by-original-column-short' | translate}}
                                    </tui-input>
                                    <tui-input tuiTableFilter="Translations" style="transform: translate(0); flex: 1;"
                                        [formControl]="localization.filterForm.controls['translation']"
                                        [tuiGenericFilter]="localization.filterTranslationColumn"
                                        [tuiTextfieldSize]="'m'" [tuiTextfieldIconLeft]="'filter'">
                                        {{'search-by-translation-column-short' | translate}}
                                    </tui-input>
                                    <input tuiCheckbox type="checkbox" style="padding-left: 0.75rem;"
                                        [formControl]="localization.filterForm.controls['translated']"
                                        tuiTableFilter="Translated"
                                        [tuiGenericFilter]="localization.filterTranslatedColumn" contentAlign="right"
                                        size="s" aria-label="Translated Filter" />

                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody tuiTbody>
                        <tr *cdkVirtualFor="let item of localization.keys | tuiTableFilters | async; index as i" tuiTr>
                            <td *tuiCell="'Language'" tuiTd class="tooltip-name-cell">
                                <div class="cell-content">
                                    <div #parent class="cell-content-original" [tuiHint]="tooltip"
                                        [tuiHintShowDelay]="200">
                                        <div>
                                            @if (localization.focusRow === item.Id) {
                                            <tui-scrollbar class="translation-content-cell">
                                                <div appCommonDictionary
                                                    [text]="onRenderDefaultLanguage(item.Original)">
                                                </div>
                                            </tui-scrollbar>
                                            }
                                            @else {
                                            <tui-scrollbar class="translation-content-cell">
                                                <span>{{onRenderDefaultLanguage(item.Original)}}</span>
                                            </tui-scrollbar>
                                            }
                                            @if (localization.focusRow !== item.Id) {
                                            <span
                                                class="tooltip-span-name-cell tooltip-important-text-colored tui-text_body-xs">
                                                @if (localization.selectedCategory.Name == 'SEARCH') {
                                                <div>
                                                    <tui-icon icon="inbox" style="font: inherit;" />
                                                    {{item.Category}}
                                                </div>
                                                }
                                                <tui-icon icon="key" style="font: inherit;" />
                                                {{item.Name}}
                                            </span>
                                            }
                                        </div>
                                        <div class="translated-checkbox-container">
                                            <input tuiCheckbox type="checkbox"
                                                [disabled]="(localization.saving$ | async) ?? false"
                                                [(ngModel)]="item.Translated[localization.language]"
                                                (ngModelChange)="localization.onTranslatedCheck($event, localization.keys, item)"
                                                size="s" aria-label="Translated Checkbox" />
                                        </div>
                                        <ng-template #tooltip>
                                            <tui-scrollbar #scrollTooltip class="tooltip-original-cell" [hidden]="true"
                                                (mouseenter)="onTooltipCheck(scrollTooltip)"
                                                (mouseleave)="onTooltipCheck()">
                                                <ul>
                                                    <li class="tooltip-important-text tui-text_body-xs tui-space_bottom-2"
                                                        style="text-align: right;">
                                                        <tui-icon icon="key" style="font: inherit;"></tui-icon>
                                                        {{item.Name}}
                                                    </li>
                                                    @for (key of item.Original | keyvalue; track $index) {
                                                    <li class="tui-space_bottom-2">
                                                        <span class="tooltip-important-text">
                                                            {{$any(key.key) |
                                                            translate}}:
                                                        </span>
                                                        {{key.value}}
                                                    </li>
                                                    }
                                                </ul>
                                            </tui-scrollbar>
                                            @if (showTooltipArrow$ | async) {
                                            <tui-icon class="tooltip-arrow popin enter" icon="move-down" />
                                            }
                                        </ng-template>
                                    </div>
                                    <div>
                                        <tui-textarea #tranlationTextArea style="transform: translate(0);"
                                            [(ngModel)]="item.Translations[localization.language]" [expandable]="false"
                                            (focusedChange)="localization.focusRow = item.Id" [tuiTextfieldSize]="'m'"
                                            (ngModelChange)="localization.onTranslationChange($event, localization.keys, item)"
                                            [rows]="4" tuiDropdownSelectionPosition="word" [tuiDropdown]="buffSelection"
                                            [tuiDropdownSelection]="predicate"
                                            (keydown.arrowDown)="onArrow($event, 'first')"
                                            (keydown.arrowUp)="onArrow($event, 'last')">
                                        </tui-textarea>
                                        <ng-template #buffSelection>
                                            @if (tranlationTextArea.nativeFocusableElement) {
                                            <tui-data-list size="s" class="menu"
                                                (keydown.escape)="tranlationTextArea.nativeFocusableElement.focus()">
                                                @for (buff of filterItems(tranlationTextArea.nativeFocusableElement);
                                                track $index) {
                                                <button tuiOption new
                                                    (click)="onClick(item, buff.Name, tranlationTextArea.nativeFocusableElement)">
                                                    {{ buff.Name }}
                                                </button>
                                                }

                                            </tui-data-list>
                                            }
                                        </ng-template>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
            }
        </tui-scrollbar>
    </ng-container>
</ng-template>

<ng-template #searchTemplate>
    <tui-block-status>
        <h4>{{'type-your-search' | translate}}</h4>
    </tui-block-status>
</ng-template>

<ng-template #selectCategory>
    <tui-block-status>
        <h4 tuiSlot="top">{{'select-one-category' | translate}}</h4>
    </tui-block-status>
</ng-template>

<ng-template #loading>
    <tui-block-status>
        <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" class="popin enter">
            <h4 style="margin-top: revert; margin-bottom: revert;">
                {{'loading-3-dots' | translate}}
            </h4>
        </tui-loader>
    </tui-block-status>
</ng-template>