@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.viewport {
    height: calc(100vh - var(--header-height) - 6rem);
}

.tooltip-original-cell {
    max-height: 15rem;
}

.tooltip-name-cell:hover .tooltip-span-name-cell {
    opacity: 0;
}

.tooltip-span-name-cell {
    text-align: right;
    position: absolute;
    right: 0.5em;
    bottom: 0.1em;
    background: var(--tui-base-01);
    transition: opacity 300ms;
}

.tooltip-important-text {
    font-weight: bold;
    color: var(--important-text);
}

.translation-content-cell {
    max-height: 104px;
    min-height: 104px;
}

.header-content-cell {
    transform: translate(0);
    padding-left: 0;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cell-content {
    display: flex;
    flex-direction: column;

    .cell-content-original {
        display: flex;
        padding: 0.75rem;
        align-items: center;
        justify-content: space-between;
        max-height: 100px;
    }
}