.main-container {
    max-width: 1024px;
    min-width: 320px;
    padding: 0 3em;
    margin: 0 auto;
}

.file-input-empty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.file-input-grid {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.file-input {
    min-width: 220px;
    min-height: 108px;
}

.wizard-choose-lang {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 1rem 0;
    grid-auto-rows: minmax(108px, auto);
    justify-content: space-between;

}

.right-top-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.not-support {
    min-width: calc(220px - 2rem);
    min-height: calc(108px - 2rem);
}

.import-button {
    width: 100%;
}

.operation-item {
    height: 3.125rem;
}

.lang-checkbox {
    width: 220px;
}

.text_subtitle {
    color: var(--tui-text-02)
}

.progress-badget-container {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}