<main class="main-container">
    <p class="tui-text_body-xs text_subtitle"> {{'import' | translate}}</p>
    <p>
        Antes de comenzar a traducir preparemos lo siguiente.
        Proporciona todos los archivos necesarios en sus
        respectivos espacios y espera el proceso de importación a la app.
        Si ocurre algun error se notificara en el respectivo espacio
        del archivo, si el error no es critico puedes ignorarlo o
        reintentarlo.
    </p>
    <p>
        Sí es tu primera vez por aqui recomendamos no omitir ningun archivo,
        sí no es el caso puedes solo especificar los archivos que desees actualizar,
        para ello solo omite los archivos que no necesites, dando click en el boton
        <tui-svg src="tuiIconXCircle"></tui-svg> justo al lado del archivo.
    </p>

    <div class="file-input-grid">
        <ng-container [ngTemplateOutlet]="fileInput" [ngTemplateOutletContext]="{
            $implicit: importS.obb,
            filesize:(1024*1024*1024*2),
            accept: '.obb',
            filename: 'OBB'
        }"></ng-container>
        <ng-container [ngTemplateOutlet]="fileInput" [ngTemplateOutletContext]="{
            $implicit: importS.localization,
            filesize:(1024*1024*100),
            accept: undefined,
            filename: 'Localization'
        }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="fileInput" [ngTemplateOutletContext]="{
            $implicit: importS.gamedata,
            filesize:(1024*1024*100),
            accept: undefined,
            filename: 'Gamedata',
        }">
        </ng-container>
    </div>

    <tui-elastic-container>
        @if ((importS.filesVerified$ | async) ?? false) {
        @if (!(importS.obb.skip | async)) {
        <ng-container [ngTemplateOutlet]="configurationObb"></ng-container>
        }
        <ng-container [ngTemplateOutlet]="progressLog"></ng-container>

        <div class="import-button tui-space_vertical-6">
            @if (!(importS.importsCompleted$ | async)) {
            <button tuiButton appearance="outline" class="import-button"
                [showLoader]="(importS.isImporting$ | async) ?? false" (click)="importS.onImportBegins()"
                [disabled]="!(importS.filesVerified$ | async)"
                [tuiHint]="!(importS.filesVerified$ | async) ? ('missing-files-import' | translate) : undefined"
                [tuiHintAppearance]="!(importS.filesVerified$ | async) ? 'error' : 'onDark'" [tuiHintShowDelay]="100">
                {{'begin-import' | translate}}
            </button>
            }
            @else {
            <button tuiIconButton appearance="outline" type="button" style="width: 100%; padding-bottom: 1rem;"
                icon="tuiIconArrowRightCircleLarge" (click)="onNext()">
            </button>
            }
        </div>
        }
    </tui-elastic-container>
</main>

<ng-template #fileInput let-filecontrol let-filesize="filesize" let-accept="accept" let-filename="filename">
    <div class="file-input-empty">
        <ng-container [ngTemplateOutlet]="file" [ngTemplateOutletContext]="{
            $implicit: filecontrol,
            filesize:filesize,
            accept: accept,
            filename: filename,
            onreject: importS.onReject.bind(this.importS)
        }">
        </ng-container>

        @if (!filecontrol.control.value && !(filecontrol.skip | async)) {
        <button class="right-top-button" tuiIconButton icon="tuiIconXCircleLarge" size="xs" appearance="icon"
            (click)="importS.onSkipFile(filecontrol)">
        </button>
        }
    </div>
</ng-template>

<ng-template #file let-filecontrol let-filesize="filesize" let-accept="accept" let-filename="filename"
    let-onreject="onreject">
    @if (filecontrol.skip | async) {
    <tui-island size="s" class="not-support"
        *ngIf="filecontrol.notSupported && filecontrol.notSupported | async; else skipN">
        <p class="text-blend tui-island__category">{{'not-support' | translate}}</p>
        <h3 class="text-blend tui-island__title">{{filename}}</h3>
        <p class="text-blend tui-island__paragraph">
            {{'not-support-mobile' | translate}}
        </p>
    </tui-island>
    <ng-template #skipN>
        <tui-island size="s" class="not-support">
            <p class="text-blend tui-island__category">{{'file-skip' | translate}}</p>
            <h3 class="text-blend tui-island__title">{{filename}}</h3>
            <p class="text-blend tui-island__paragraph">
                {{'file-import-skip-description' | translate}}
            </p>
        </tui-island>
    </ng-template>
    }
    @else {
    <tui-input-files *ngIf="!filecontrol.control.value" class="file-input" [formControl]="filecontrol.control"
        [maxFileSize]="filesize" [accept]="accept" [multiple]="false" (reject)="onreject($event)" tuiMode="onLight">
        <ng-template let-dragged>
            <div *ngIf="dragged; else base" class="content">
                <tui-marker-icon mode="white" src="tuiIconDroplet" size="xs"></tui-marker-icon>
                <div>
                    {{'drop' | translate}}
                </div>
            </div>
            <ng-template #base>
                <div class="content">
                    <tui-marker-icon mode="white" src="tuiIconUploadCloud" size="xs"></tui-marker-icon>
                    <div>{{filename}}</div>
                </div>
            </ng-template>
        </ng-template>
    </tui-input-files>
    <ng-container *ngIf="filecontrol.loadedFile$ | async as file">
        <tui-island size="s" class="not-support">
            <tui-loader [overlay]="true" [showLoader]="(filecontrol.verifyingFile$ | async) ?? false"
                style="position: absolute; right: 0.5em; top: 0.5em;">
                <tui-svg [src]="'tuiIconCheckCircle'" style="position: relative; top: 0.25em;">
                </tui-svg>
            </tui-loader>
            <p class="tui-island__category">{{'archive' | translate}}</p>
            <h3 class="tui-island__title">{{filename}}</h3>
            <p class="text-blend tui-island__paragraph">
                {{
                (filecontrol.verifyingFile$ | async) ?? false ?
                ('file-import-verifying' | translate) :
                ('file-import-verified' | translate)
                }}
            </p>
        </tui-island>
    </ng-container>
    }
</ng-template>

<ng-template #configurationObb>
    <p>{{'choose-languages' | translate}}</p>
    <p>
        Selecciona el lenguaje o lenguajes que desees importar,
        si selecciona más de uno debe establecer uno por defecto.
    </p>
    @if (importS.multiLanguage$ | async) {
    <tui-select tuiTextfieldSize="s" [formControl]="importS.defaultLanguage" class="tui-space_bottom-3"
        [valueContent]="originLang" size="s">
        {{'default-language' | translate}}
        <input tuiTextfield placeholder="..." />
        <tui-data-list-wrapper *tuiDataList [items]="importS.languagesSelected" [itemContent]="originLang">
        </tui-data-list-wrapper>
        <ng-template #originLang let-data>
            {{data | translate}}
        </ng-template>
    </tui-select>
    }
    <div class="wizard-choose-lang">
        <tui-checkbox-block *ngFor="let language of importS.dialogAssets | keyvalue" size="l"
            [(ngModel)]="importS.dialogAssetsInclude[language.key]"
            (ngModelChange)="importS.onSelectLanguage(language.key, $event)" class="lang-checkbox">
            <div class="content">
                <div>
                    <div class="label">{{language.key | translate}}</div>
                    {{'files' | translate}}: {{language.value.length}}
                </div>
            </div>
        </tui-checkbox-block>
    </div>
</ng-template>

<ng-template #progressLog>
    <div class="progress-badget-container tui-space_top-6 tui-space_bottom-1">
        <tui-badge status="warning" [value]="importS.operationsSkip$ | async" [tuiHint]="'skip-file-hint' | translate">
        </tui-badge>
        <tui-badge status="info" [value]="importS.operationsUpdated$ | async"
            [tuiHint]="'replaced-file-hint' | translate">
        </tui-badge>
    </div>
    <tui-scrollbar>
        <cdk-virtual-scroll-viewport itemSize="50" tuiScrollable style="display: block;
            width: calc(100% - 4px);
            height: 200px;
            border: 2px solid var(--tui-base-02);" class="tui-zero-scrollbar">
            <table class="tui-table tui-table_font-size_s tui-table_layout_fixed">
                <thead>
                    <tr class="tui-table__tr tui-table__tr_border_none tui-table__tr_hover_disabled">
                        <th class="tui-table__th tui-table_layout_fixed" style="width: 150px;">{{'file' | translate}}
                        </th>
                        <th class="tui-table__th tui-table_layout_fixed">{{'message' | translate}}</th>
                        <th class="tui-table__th" style="width: 64px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let log of (importS.operations$ | async)"
                        class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td tui-table__td_text_overflow">
                            {{log.file}}
                        </td>
                        <td class="tui-table__td tui-table__td_text_overflow">
                            <span [title]="log.translateKey | translate">{{ log.translateKey | translate}}</span>
                        </td>
                        <td class="tui-table__td">
                            <button appearance="icon" icon="tuiIconChevronRightLarge" tuiIconButton type="button"
                                size="xs">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
</ng-template>