@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.main-container {
    max-width: 60rem;
    min-width: 20rem;
    padding: 0 clamp(1em, 2.5%, 5em);
    margin: 2rem auto 0 auto;
}

.file-input-empty {
    position: relative;
}

.file-input-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 1em;
}

.file-input {
    min-width: 220px;
    min-height: 108px;
}

.wizard-choose-lang {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: minmax(108px, auto);
    justify-content: space-between;

}

.right-top-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.not-support {
    min-width: calc(220px - 2rem);
    min-height: calc(108px - 2rem);
}

.import-button {
    width: 100%;
    padding-bottom: 1rem;
}

.operation-item {
    height: 3.125rem;
}

.lang-checkbox {
    width: 100%;
}

.text_subtitle {
    color: var(--tui-text-secondary)
}

.progress-badget-container {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}