.header {
    box-shadow: 0 0.125rem 1rem #00000014;
    z-index: 1;
    display: flex;
    height: 3.9375rem;
    align-items: center;
    padding: 0 1.25rem;
    background: var(--tui-base-01);
    border-bottom: 1px solid var(--tui-base-03);
}