<tui-root style="height: 100%;">
  <tui-theme-night *ngIf="(theme.nightMode$ | async)"></tui-theme-night>
  <app-theme-dark *ngIf="(theme.nightMode$ | async)"></app-theme-dark>


  <main class="main-grid">
    <app-sidebar *ngIf="app.initialized$ | async" style="grid-area: sidebar;"></app-sidebar>
    <app-nav-menu *ngIf="app.initialized$ | async" style="grid-area: header;"></app-nav-menu>
    <div style="grid-area: content;">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-wizard-initial style="grid-area: content;"></app-wizard-initial> -->


    <!-- <ng-container [ngTemplateOutlet]="admin"></ng-container> -->

    <!-- @switch (authService.rol) {
    @case ('admin') {
    <ng-container [ngTemplateOutlet]="admin"></ng-container>
    }
    @case ('guest') {
    <ng-container [ngTemplateOutlet]="guest"></ng-container>
    }
    @default {
    <ng-container [ngTemplateOutlet]="default"></ng-container>
    }
    }
     -->
  </main>
</tui-root>

<ng-template #admin>
  <app-sidebar style="grid-area: sidebar;"></app-sidebar>
  <app-nav-menu style="grid-area: header" #navMenu>
  </app-nav-menu>
</ng-template>
<ng-template #guest>
  <div></div>
  <app-nav-bar style="grid-area: header"></app-nav-bar>
  <div></div>
</ng-template>
<ng-template #default>
  <div></div>
  <div></div>
  <div></div>
</ng-template>