<tui-root style="height: 100%;">
  <tui-theme-night *ngIf="!(theme.nightMode$ | async)"></tui-theme-night>
  <app-theme-dark *ngIf="!(theme.nightMode$ | async)"></app-theme-dark>


  <main class="main-grid">
    @switch (authService.rol) {
    @case ('admin') {
    <ng-container [ngTemplateOutlet]="admin"></ng-container>
    }
    @case ('guest') {
    <ng-container [ngTemplateOutlet]="guest"></ng-container>
    }
    @default {
    <ng-container [ngTemplateOutlet]="default"></ng-container>
    }
    }
    <router-outlet style="position: absolute;"></router-outlet>
  </main>
</tui-root>

<ng-template #admin>
  <app-sidebar style="grid-area: sidebar;"></app-sidebar>
  <app-nav-menu style="grid-area: header" #navMenu>
  </app-nav-menu>
</ng-template>
<ng-template #guest>
  <app-nav-bar style="grid-area: header"></app-nav-bar>
</ng-template>
<ng-template #default>
  <div></div>
  <div></div>
  <div></div>
</ng-template>