.resizer-container {
    height: 100%;
}

.resizer-line {
    height: 100%;
    position: relative;
    width: 3px;
    margin: 0 1px;
    z-index: 100;
    left: 0px;
    background-color: var(--tui-base-04);

    &:hover {
        width: 3px;
        background-color: var(--tui-base-09);
        cursor: col-resize;
    }
}