.tree {
    position: relative;
    height: var(--tui-height-s);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: var(--tui-radius-xs);
    cursor: pointer;

    &:hover {
        background: var(--tui-base-02);
    }
}

.tree-content {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .tree-left-content {
        display: flex;
        flex: 1;

        .tree-name {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;
            display: flex;
            align-items: center;
        }
    }

    .tree-right-content {
        display: flex;

        .tree-status {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;
        }
    }

    .active {
        background: var(--tui-primary);
        border-radius: var(--tui-radius-xs);
    }

}

.tree-progress-bar {
    top: 0;
    position: absolute;
    opacity: 0.5;
    height: 100% !important;
}

.group-tree {
    position: absolute;
    width: 20rem;
    max-width: 20rem;
    max-height: calc(100% - 1px);
    z-index: 1;
    backdrop-filter: blur(10px);
    transition: all 0.25s ease-out;
}

.group-tree-hide {
    width: 2rem;
    height: 100%;
    backdrop-filter: blur(0px);

    &:hover {
        width: 20rem;
        backdrop-filter: blur(10px);
    }
}

.hidden-arrow {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.input_name_overflow {
    max-width: max-content;
}

.input_empty {
    opacity: 0.75;
}