@if ((hiddenScroll$ | async) && (groupSelected$ | async)) {
<tui-svg src="tuiIconArrowRight" class="hidden-arrow"></tui-svg>
}

<tui-scrollbar #scrollbar class="group-tree" [hidden]="(hiddenScroll$ | async) === true"
    [ngClass]="{'group-tree-hide': groupSelected$ | async}" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    @for (node of treeNodes$ | async; track $index) {
    <tui-tree class="tree" [childrenHandler]="handler" [content]="content" [tuiTreeController]="false"
        [value]="node"></tui-tree>
    }

    <ng-template #content let-node>
        <div style="display: contents;" (click)="onSelectGroup(node.MainGroup, node.OriginalName)">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                {{ node.Name }} [{{ node.TranslatedFiles }} / {{node.Files }}]
            </span>
            <!-- <button tuiIconButton style="margin-left: auto;" appearance="icon" [icon]="'tuiIconEdit2'" size="xs"
                (click)="$event.preventDefault()">
            </button> -->
        </div>
    </ng-template>
</tui-scrollbar>

<div style="display: flex;">
    <div style="width: 2rem;"></div>
    <app-dialog-assets style="width: 100%;"></app-dialog-assets>
</div>