:root {
    --important-text: #ffc700;
    --blend-mode: difference;
}

.image {
    filter: invert(1);
}

.sidebar-link-icon {
    filter: brightness(0) invert(1);
}

[tuiWrapper][data-appearance='selected'][data-mode='onLight'] {
    color: black !important;
}

[tuiWrapper][data-appearance='selected'][data-mode='onLight']:after {
    color: black !important;
}

.button-side {
    background: white !important;
}