.loading-app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100svh - 2px);
}

.loading-app-text {
    font-size: 1.17rem;
    font-family: dialog-font;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #ffffff 0%, #ffffff 30%, #000000 60%, #ffffff 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
to {
    background-position: 200% center;
}
}