@if (localization.loadingCategories$ | async) {
<ng-template #loadingCategories>
  <tui-block-status>
    <h4>{{'loading-categories' | translate}}</h4>
  </tui-block-status>
</ng-template>
}
@else{
@if (localization.categories$ | async; as categories) {
<div class="localization-container">
  <div class="localization-data-actions tui-space_bottom-4">
    <div class="category-input">
      @if(appState.isOnTour$()){
      <div style="position: absolute; width: 100%;" tuiDropdownLimitWidth="fixed" [tuiDropdownOffset]="12" tuiGroup
        [tuiDropdown]="dropdown" [tuiDropdownManual]="open">
        <button id="categoriesInputButton" appearance="flat" #tuiDropdownHost size="xs" tuiIconButton type="button"
          [style.flex]="'0 0 auto'" (click)="open = true">
        </button>
      </div>
      <ng-template #dropdown>
        <tui-data-list size="s">
          @for (item of categories; track $index) {
          <button tuiOption new tuiTextfieldSize="s" type="button"
            (click)="localization.selectedCategory = item; localization.onSelectCategory(localization.selectedCategory); open = false">
            {{ item.Name }}
            [{{item.KeysTranslated[localization.language]}}/{{item.Keys[localization.language]}}]
          </button>
          }
        </tui-data-list>
      </ng-template>
      }
      <tui-textfield id="categoriesInput" tuiChevron tuiTextfieldSize="s" [content]="categoryInputContent"
        [stringify]="stringify">
        <input tuiComboBox [(ngModel)]="localization.selectedCategory" placeholder="{{'categories' | translate}}"
          (ngModelChange)="localization.onSelectCategory(localization.selectedCategory)">
        <tui-data-list-wrapper *tuiTextfieldDropdown new [itemContent]="categoryInputContent"
          [items]="categories | tuiFilterByInput" />
      </tui-textfield>
    </div>
    <ng-template #categoryInputContent let-data>
      <div>
        <span class="localization-category-name">
          {{data.Name}}
        </span>
        <span class="localization-translated-totals">
          [{{data.KeysTranslated[localization.language]}}/{{data.Keys[localization.language]}}]
        </span>
      </div>
    </ng-template>
    @if (localization.keys$) {
    <div style="display: flex; align-items: center; position: relative;">
      <button class="tui-space_horizontal-4" tuiIconButton appearance="icon" shape="square" iconStart="list-restart"
        (click)="onResetCategories()" [loading]="reset$()" size="xs"
        [tuiHint]="'reset-categories-count' | translate"></button>
      <button class="tui-space_right-4" tuiIconButton appearance="icon" shape="square" iconStart="list-checks"
        (click)="localization.onCheckAll()" [loading]="localization.saving$ | async" size="xs"
        [tuiHint]="'check-all' | translate"></button>
      <button class="tui-space_right-4" tuiIconButton appearance="icon" shape="square" iconStart="list-x"
        (click)="localization.onUncheckAll()" [loading]="localization.saving$ | async" size="xs"
        [tuiHint]="'uncheck-all' | translate"></button>
      <button appGeminiIcon tuiIconButton type="button" appearance="icon" shape="square" iconStart="gemini-color"
        [tuiHint]="localization.gemini.ready$() ?
                          ('gemini-button-ready' | translate):
                          ('gemini-button-disabled' | translate)" (click)="localization.onGeminiTranslate()"
        [disabled]="!localization.gemini.ready$()" size="xs" aria-label="Gemini Button"
        [loading]="localization.gemini.waiting$()" tuiDropdownContext [tuiDropdown]="contextMenu"
        #dropdown="tuiDropdown">
        <ng-template #contextMenu>
          <tui-data-list role="menu" tuiDataListDropdownManager class="context-menu" size="s">
            @for (lang of languageOrigin.languages; track $index) {
            <button tuiOption new type="button"
              (click)="localization.onGeminiTranslateFromOriginLang(lang); dropdown.toggle(false)">
              {{ lang | translate }}
            </button>
            }
          </tui-data-list>
        </ng-template>
      </button>
      @if (localization.searchCategory$ | async) {
      @if(appState.isOnTour$()){
      <div style="position: absolute; width: 100%;" tuiDropdownLimitWidth="fixed" [tuiDropdownOffset]="12" tuiGroup
        [tuiDropdown]="content" [tuiDropdownManual]="openSearch">
        <button id="searchInputButton" appearance="flat" #tuiDropdownHost size="xs" tuiIconButton type="button"
          [style.flex]="'0 0 auto'" (click)="openSearch = true">
        </button>
        <button id="searchInputHideButton" appearance="flat" #tuiDropdownHost size="xs" tuiIconButton type="button"
          [style.flex]="'0 0 auto'" (click)="openSearch = false">
        </button>
      </div>
      }
      <div id="category-search" tuiDropdownOpen bottomRight [tuiDropdown]="content" class="tui-space_left-4">
        <button tuiButton appearance="flat" type="button" iconStart="@tui.filter" size="s"
          attr.aria-label="{{'filters' | translate}}">
          <span>{{'results' | translate}}:</span>
          {{localization.searchTotalTranslated}}/{{localization.keys?.length ?? 0}}
        </button>
      </div>
      <ng-template #content>
        <div class="filter-container">
          <p class="limit-width tui-space_bottom-6">
            {{'filters-localization-description' | translate}}
          </p>
          <tui-textfield class="tui-space_bottom-3 limit-width" iconStart="@tui.scan-search" tuiTextfieldSize="s">
            <input tuiTextfield placeholder="{{'search-by-text' | translate}}" [formControl]="localization.search" />
          </tui-textfield>
          <tui-textfield class="tui-space_bottom-3 limit-width" iconStart="@tui.scan-search" tuiTextfieldSize="s">
            <input tuiTextfield placeholder="{{'search-by-translation' | translate}}"
              [formControl]="localization.searchTranslation" />
          </tui-textfield>
          <tui-textfield class="tui-space_bottom-3 limit-width" iconStart="@tui.scan-search" tuiTextfieldSize="s">
            <input id="searchByKey" tuiTextfield placeholder="{{'search-by-key' | translate}}"
              [formControl]="localization.searchKey" />
          </tui-textfield>
        </div>
      </ng-template>
      } @else {
      <!-- <button tuiButton type="button" appearance="flat" size="s" icon="@tui.box"
                      [tuiHint]="((libreTranslate.serverReady$ | async)) ? 
                                  ('libretranslate-button-ready' | translate):
                                  ('libretranslate-button-disabled' | translate)"
            [tuiHintAppearance]="((libreTranslate.serverReady$ | async)) ? 'onDark' : 'error'"
            tuiHintDirection="right" (click)="localization.onMachineTranslate()"
            [disabled]="!(libreTranslate.serverReady$ | async)"
            [showLoader]="(libreTranslate.translating$ | async) ?? false">
            {{'translate-all-keys' | translate}}
          </button> -->
      }
    </div>
    }
  </div>
  <app-localization-table class="localization-keys" />
</div>
}
}