.localization-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 320px;

    .localization-data-actions {
        padding: 0 1em;
        height: 2.9375rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .category-input {
            max-width: 320px;
            min-width: 240px;
            width: 100%;
        }
    }

}

.filter-container {
    padding: 0.5rem;

}

.limit-width {
    max-width: 300px
}

.localization-keys {
    height: 100%;
}