<div tuiDropdownAlign="right" [tuiDropdown]="dropdown" [tuiDropdownSided]="true" [(tuiDropdownOpen)]="menuOpen">
    <button appearance="icon" tuiButton type="button" size="xs" [iconStart]="'@tui.book'"
        [tuiAppearanceState]="menuOpen || null ? 'active' : null" aria-label="Open Menu Buff Info">
    </button>
</div>
<ng-template #dropdown>
    <h4 style="padding-left: var(--tui-padding-s);">
        {{'buffinfo' | translate}}
    </h4>
    <tui-data-list size="s" style="min-width: 120px;">
        <tui-opt-group>
            <button tuiOption new iconStart="book-open" (click)="onShowList(listTemplate, 'm')">
                {{'see-all' | translate}}
            </button>
            <button tuiOption new iconStart="pencil" (click)="onShowCreateNew(createTemplate, 'm')">
                {{'create-new' | translate}}
            </button>
        </tui-opt-group>
    </tui-data-list>
</ng-template>

@if (!dialogState.isHidden) {
<main class="main-form" #draggableElement [ngStyle]="{'z-index': dialogState.zIndex$ | async}"
    (mousedown)="changeIndex(dialogState)" (touchstart)="changeIndex(dialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableElement"
        [draggableElementState]="dialogState" [elementAnchorRef]="anchor">
        <p>{{'buffinfo-form' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [iconStart]="'@tui.x'" size="xs"
            (click)="dialogState.isHidden = !dialogState.isHidden"
            (touchstart)="dialogState.isHidden = !dialogState.isHidden" aria-label="Close Dialog Button">
        </button>
    </div>

    <ng-container [ngTemplateOutlet]="createTemplate" />
</main>
}

<ng-template #createTemplate>
    <tui-scrollbar class="main-form-content">
        <form [formGroup]="gamedataService.contentForm" style="padding: 0 1rem;">
            <div>
                <div>
                    <h4 class="tui-form__header tui-form__header_margin-top_none tui-space_top-4">
                        {{'content' | translate}}
                    </h4>
                    <div class="tui-form__row">
                        <tui-input formControlName="id" tuiTextfieldSize="m"
                            [tuiTextfieldIcon]="availableKeyNameTemplate">
                            {{'id' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="iconKey" tuiTextfieldSize="m">
                            {{'iconkey' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationInfoKey" tuiTextfieldSize="m">
                            {{'localizationinfokey' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationNameKey" tuiTextfieldSize="m">
                            {{'localizationnamekey' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input-number tuiHintContent="{{'order-hint' | translate}}" formControlName="order"
                            [tuiTextfieldSize]="'m'" tuiHintAppearance="dark">
                            {{'order' | translate}}
                            <span class="tui-required"></span>
                        </tui-input-number>
                    </div>
                    <div class="tui-form__row">
                        <label tuiBlock="s">
                            <input tuiCheckbox type="checkbox" formControlName="viewable" tuiTextfieldSize="m">
                            <span class="align-center">{{'viewable' | translate}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <div class="main-form-actions tui-space_top-3 tui-space_bottom-3">
            @if (!(gamedataService.createOther$ | async)) {
            <button appearance="outline" tuiButton [iconStart]="'@tui.circle-check'"
                (click)="gamedataService.onCreateKey()" size="m"
                [loading]="(gamedataService.creating$ | async) ?? false"
                [disabled]="(gamedataService.availableKeyName$ | async) != 'valid' || gamedataService.buffInfoForm.invalid"
                [tuiHint]="((gamedataService.availableKeyName$ | async) == 'invalid' || gamedataService.buffInfoForm.invalid) ? ('form-error' | translate) : undefined"
                tuiHintAppearance="error">
                {{'create' | translate}}
            </button>
            }
            @else {
            <button appearance="outline" tuiButton [iconStart]="'@tui.circle-check'"
                (click)="gamedataService.onCreateOther()" size="m">
                {{'created-other' | translate}}
            </button>
            }
        </div>
    </tui-scrollbar>
</ng-template>

<ng-template #availableKeyNameTemplate>
    @if (gamedataService.availableKeyName$ | async; as status) {
    @switch (status) {
    @case ('verifying') {
    <tui-loader [showLoader]="true" [inheritColor]="true" [overlay]="true">
        <button tuiIconButton appearance="icon" [iconStart]="'@tui.loader'" aria-label="loader">
        </button>
    </tui-loader>
    }
    @case ('valid') {
    <button tuiIconButton appearance="icon" [iconStart]="'@tui.circle-check'" aria-label="loader valid">
    </button>
    }
    @case('invalid'){
    <button tuiIconButton appearance="icon" [iconStart]="'@tui.circle-alert'" aria-label="loader invalid">
    </button>
    }
    }
    }
</ng-template>

@if (!listDialogState.isHidden) {
<main class="main-list" #draggableListElement [ngStyle]="{'z-index': listDialogState.zIndex$ | async}"
    (mousedown)="changeIndex(listDialogState)" (touchstart)="changeIndex(listDialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableListElement"
        [draggableElementState]="listDialogState" [elementAnchorRef]="anchor">
        <p>{{'buffinfo-list' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [iconStart]="'@tui.x'" size="xs"
            (click)="listDialogState.isHidden = !listDialogState.isHidden"
            (touchstart)="listDialogState.isHidden = !listDialogState.isHidden" aria-label="Close dialog">
        </button>
    </div>

    <ng-container [ngTemplateOutlet]="listTemplate" />
</main>
}
<ng-template #listTemplate>
    <h4 class="tui-space_horizontal-3">
        {{'buffinfo-description' | translate}}
    </h4>

    <tui-scrollbar class="viewport" [class.viewport-dialog]="(breakpointService$| async) === 'mobile'">
        <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport-2 tui-zero-scrollbar" [itemSize]="33"
            [maxBufferPx]="500" [minBufferPx]="400">
            <table class="tui-table popin enter" style="table-layout: fixed;" tuiTable [size]="'s'" [columns]="columns">
                <thead>
                    <tr tuiThGroup>
                        <th tuiTh *tuiHead="'id'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'id' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'iconKey'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'iconkey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationInfoKey'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'infokey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationNameKey'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'localizationnamekey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'order'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'order' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'viewable'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'viewable' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'custom'" [sticky]="true" style="width: 64px;"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">

                        </th>
                        <th tuiTh *tuiHead="'confirmDelete'" style="width: 0px; padding: 0; border: none;"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                        </th>
                    </tr>
                </thead>
                <tbody tuiTbody>
                    <tr tuiTr
                        *cdkVirtualFor="let v of (gamedataService.store.store$ | async); index as i; trackBy: trackByItemId">

                        <td *tuiCell="'id'" tuiTd>
                            <span class="span-unfocus">
                                {{v.Content.id}}
                            </span>
                        </td>
                        <td *tuiCell="'iconKey'" tuiTd class="editable-cell">
                            <app-common-word-table-cell-editable #cellIconKey [focusTemplate]="focusIconKey"
                                [unfocusTemplate]="unfocusIconKey" />
                            <ng-template #focusIconKey>
                                <tui-input [(ngModel)]="v.Content.iconKey" tuiTextfieldSize="s">
                                    <input placeholder="***" tuiTextfieldLegacy appAutoFocus [cell]="cellIconKey" />
                                </tui-input>
                            </ng-template>
                            <ng-template #unfocusIconKey>
                                <span class="span-unfocus">{{v.Content.iconKey}}</span>
                            </ng-template>
                        </td>
                        <td *tuiCell="'localizationInfoKey'" tuiTd class="editable-cell">
                            <app-common-word-table-cell-editable #cellInfoKey [focusTemplate]="focusInfoKey"
                                [unfocusTemplate]="unfocusInfoKey" />
                            <ng-template #focusInfoKey>
                                <tui-input [(ngModel)]="v.Content.localizationInfoKey" tuiTextfieldSize="s">
                                    <input placeholder="***" tuiTextfieldLegacy appAutoFocus [cell]="cellInfoKey" />
                                </tui-input>
                            </ng-template>
                            <ng-template #unfocusInfoKey>
                                <span class="span-unfocus">{{v.Content.localizationInfoKey}}</span>
                            </ng-template>
                        </td>
                        <td *tuiCell="'localizationNameKey'" tuiTd class="editable-cell">
                            <app-common-word-table-cell-editable #cellNameKey [focusTemplate]="focusNameKey"
                                [unfocusTemplate]="unfocusNameKey" />
                            <ng-template #focusNameKey>
                                <tui-input [(ngModel)]="v.Content.localizationNameKey" tuiTextfieldSize="s">
                                    <input placeholder="***" tuiTextfieldLegacy appAutoFocus [cell]="cellNameKey" />
                                </tui-input>
                            </ng-template>
                            <ng-template #unfocusNameKey>
                                <span class="span-unfocus">{{v.Content.localizationNameKey}}</span>
                            </ng-template>
                        </td>
                        <td *tuiCell="'order'" tuiTd class="editable-cell">
                            <app-common-word-table-cell-editable #cellOrder [focusTemplate]="focusOrder"
                                [unfocusTemplate]="unfocusOrder" />
                            <ng-template #focusOrder>
                                <tui-input-number [(ngModel)]="v.Content.order" tuiTextfieldSize="s">
                                    <input placeholder="***" tuiTextfieldLegacy appAutoFocus [cell]="cellOrder" />
                                </tui-input-number>
                            </ng-template>
                            <ng-template #unfocusOrder>
                                <span class="span-unfocus">{{v.Content.order}}</span>
                            </ng-template>
                        </td>
                        <td *tuiCell="'viewable'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <input tuiCheckbox type="checkbox" [(ngModel)]="v.Content.viewable" size="s"
                                    aria-label="viewable checkbox" />
                            </div>
                        </td>
                        <td *tuiCell="'custom'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    @if (v.Custom) {
                                    <button appearance="flat" iconStart="@tui.trash" [style.border-radius.%]="100"
                                        size="xs" title="{{'remove' | translate}}" tuiIconButton type="button"
                                        class="remove" (click)="gamedataService.confirmDelete(v)">
                                    </button>
                                    }
                                </tui-loader>
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    @if (v.Custom) {
                                    <button appearance="flat" iconStart="@tui.save" [style.border-radius.%]="100"
                                        size="xs" title="{{'update' | translate}}" tuiIconButton type="button"
                                        class="remove" (click)="gamedataService.onUpdateValue(v, i)">
                                    </button>
                                    }
                                </tui-loader>
                            </div>
                        </td>
                        @if ((v.confirm | async) ?? false) {
                        <td *tuiCell="'confirmDelete'" class="confirm-delete-column fade enter">
                            <p class="text">{{'confirm-text-delete-gamevalue' | translate}}</p>
                            <button tuiButton size="xs" class="tui-space_left-2"
                                (click)="gamedataService.onDelete(v, i)"
                                [loading]="(gamedataService.deleting$ | async) ?? false" appearance="accent">
                                {{'confirm-frienly' | translate}}
                            </button>
                            <button tuiButton size="xs" class="tui-space_left-2"
                                (click)="gamedataService.cancelDelete(v)"
                                [loading]="(gamedataService.deleting$ | async) ?? false" appearance="flat">
                                {{'unconfirm-frienly' | translate}}
                            </button>
                        </td>
                        }
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
</ng-template>

<div #anchor style="position: absolute;"></div>