<div tuiDropdownAlign="right" [tuiDropdown]="dropdown" [tuiDropdownSided]="true" [(tuiDropdownOpen)]="menuOpen">
    <button appearance="icon" tuiButton type="button" size="xs" [iconStart]="'@tui.book'"
        [tuiAppearanceState]="menuOpen || null ? 'active' : null" aria-label="Open Menu Buff Info">
    </button>
</div>
<ng-template #dropdown>
    <p style="text-align: center;">{{'buffinfo' | translate}}</p>
    <tui-data-list>
        <tui-opt-group>
            <button tuiOption (click)="onShowList(listTemplate, 'm')">
                <tui-icon icon="@tui.book-open"></tui-icon> {{'see-all' | translate}}
            </button>
            <button tuiOption (click)="onShowCreateNew(createTemplate, 'm')">
                <tui-icon icon="@tui.pencil"></tui-icon> {{'create-new' | translate}}
            </button>
        </tui-opt-group>
    </tui-data-list>
</ng-template>

<main class="main-form" #draggableElement *ngIf="!dialogState.isHidden"
    [ngStyle]="{'z-index': dialogState.zIndex$ | async}" (mousedown)="changeIndex(dialogState)"
    (touchstart)="changeIndex(dialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableElement"
        [draggableElementState]="dialogState" [elementAnchorRef]="anchor">
        <p>{{'buffinfo-form' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [iconStart]="'@tui.x'" size="xs"
            (click)="dialogState.isHidden = !dialogState.isHidden"
            (touchstart)="dialogState.isHidden = !dialogState.isHidden" aria-label="Close Dialog Button">
        </button>
    </div>

    <ng-container [ngTemplateOutlet]="createTemplate"></ng-container>
</main>
<ng-template #createTemplate>
    <tui-scrollbar class="main-form-content">
        <form [formGroup]="gamedataService.contentForm" style="padding: 0 1rem;">
            <div>
                <div>
                    <h4 class="tui-form__header tui-form__header_margin-top_none tui-space_top-4">
                        {{'content' | translate}}
                    </h4>
                    <div class="tui-form__row">
                        <tui-input formControlName="id" tuiTextfieldSize="m"
                            [tuiTextfieldIcon]="availableKeyNameTemplate">
                            {{'id' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="iconKey" tuiTextfieldSize="m">
                            {{'iconkey' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationInfoKey" tuiTextfieldSize="m">
                            {{'localizationinfokey' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationNameKey" tuiTextfieldSize="m">
                            {{'localizationnamekey' | translate}}
                            <input placeholder="***" tuiTextfieldLegacy />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input-number tuiHintContent="{{'order-hint' | translate}}" formControlName="order"
                            [tuiTextfieldSize]="'m'" tuiHintAppearance="dark">
                            {{'order' | translate}}
                            <span class="tui-required"></span>
                        </tui-input-number>
                    </div>
                    <div class="tui-form__row">
                        <label tuiBlock="s">
                            <input tuiCheckbox type="checkbox" formControlName="viewable" tuiTextfieldSize="m">
                            <span class="align-center">{{'viewable' | translate}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <div class="main-form-actions tui-space_top-3 tui-space_bottom-3">
            <ng-container *ngIf="!(gamedataService.createOther$ | async); else createOther">
                <button appearance="outline" tuiButton [iconStart]="'@tui.circle-check'"
                    (click)="gamedataService.onCreateKey()" size="m"
                    [loading]="(gamedataService.creating$ | async) ?? false"
                    [disabled]="(gamedataService.availableKeyName$ | async) != 'valid' || gamedataService.buffInfoForm.invalid"
                    [tuiHint]="((gamedataService.availableKeyName$ | async) == 'invalid' || gamedataService.buffInfoForm.invalid) ? ('form-error' | translate) : undefined"
                    tuiHintAppearance="error">
                    {{'create' | translate}}
                </button>
            </ng-container>
            <ng-template #createOther>
                <button appearance="outline" tuiButton [iconStart]="'@tui.circle-check'"
                    (click)="gamedataService.onCreateOther()" size="m">
                    {{'created-other' | translate}}
                </button>
            </ng-template>
        </div>
    </tui-scrollbar>
</ng-template>

<ng-template #availableKeyNameTemplate>
    <ng-container *ngIf="gamedataService.availableKeyName$ | async as status">
        <ng-container [ngSwitch]="status">
            <p *ngSwitchCase="'verifying'">
                <tui-loader [showLoader]="true" [inheritColor]="true" [overlay]="true">
                    <button tuiIconButton appearance="icon" [iconStart]="'@tui.loader'" aria-label="loader">
                    </button>
                </tui-loader>
            </p>
            <p *ngSwitchCase="'valid'">
                <button tuiIconButton appearance="icon" [iconStart]="'@tui.circle-check'" aria-label="loader valid">
                </button>
            </p>
            <p *ngSwitchCase="'invalid'">
                <button tuiIconButton appearance="icon" [iconStart]="'@tui.circle-alert'" aria-label="loader invalid">
                </button>
            </p>
        </ng-container>
    </ng-container>
</ng-template>

<main class="main-list" #draggableListElement *ngIf="!listDialogState.isHidden"
    [ngStyle]="{'z-index': listDialogState.zIndex$ | async}" (mousedown)="changeIndex(listDialogState)"
    (touchstart)="changeIndex(listDialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableListElement"
        [draggableElementState]="listDialogState" [elementAnchorRef]="anchor">
        <p>{{'buffinfo-list' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [iconStart]="'@tui.x'" size="xs"
            (click)="listDialogState.isHidden = !listDialogState.isHidden"
            (touchstart)="listDialogState.isHidden = !listDialogState.isHidden" aria-label="Close dialog">
        </button>
    </div>

    <ng-container [ngTemplateOutlet]="listTemplate"></ng-container>
</main>
<ng-template #listTemplate>
    <h4 class="tui-space_horizontal-3">{{'buffinfo-description' | translate}}</h4>


    <tui-scrollbar class="viewport" [class.viewport-dialog]="(breakpointService$| async) === 'mobile'">
        <cdk-virtual-scroll-viewport #viewport appendOnly tuiScrollable class="viewport-2 tui-zero-scrollbar"
            [itemSize]="33" [maxBufferPx]="300" [minBufferPx]="150">
            <table tuiTable [size]="'s'" [columns]="columns" [@popIn]>
                <thead>
                    <tr tuiThGroup>
                        <th tuiTh *tuiHead="'id'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'id' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'iconKey'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'iconkey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationInfoKey'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'infokey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationNameKey'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'localizationnamekey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'order'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'order' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'viewable'" [sticky]="true"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                            {{'viewable' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'custom'" [sticky]="true" style="width: 64px;"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">

                        </th>
                        <th tuiTh *tuiHead="'confirmDelete'" style="width: 0px; padding: 0; border: none;"
                            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)" [sorter]="null">
                        </th>
                    </tr>
                </thead>
                <tbody tuiTbody>
                    @defer{
                    <tr tuiTr
                        *cdkVirtualFor="let v of (gamedataService.store.store$ | async); index as i; trackBy: trackByItemId">

                        <td *tuiCell="'id'" tuiTd>
                            {{v.Content.id}}
                        </td>
                        <td *tuiCell="'iconKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.iconKey" tuiTextfieldSize="s">
                                {{'iconkey' | translate}}
                                <input placeholder="***" tuiTextfieldLegacy />
                            </tui-input>
                        </td>
                        <td *tuiCell="'localizationInfoKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.localizationInfoKey" tuiTextfieldSize="s">
                                {{'localizationinfokey' | translate}}
                                <input placeholder="***" tuiTextfieldLegacy />
                            </tui-input>
                        </td>
                        <td *tuiCell="'localizationNameKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.localizationNameKey" tuiTextfieldSize="s">
                                {{'localizationnamekey' | translate}}
                                <input placeholder="***" tuiTextfieldLegacy />
                            </tui-input>
                        </td>
                        <td *tuiCell="'order'" tuiTd>
                            <tui-input-number [(ngModel)]="v.Content.order" tuiTextfieldSize="s">
                                {{'order' | translate}}
                            </tui-input-number>
                        </td>
                        <td *tuiCell="'viewable'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <input tuiCheckbox type="checkbox" [(ngModel)]="v.Content.viewable" size="s"
                                    aria-label="viewable checkbox" />
                            </div>
                        </td>
                        <td *tuiCell="'custom'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    <button *ngIf="v.Custom" appearance="flat" iconStart="@tui.trash"
                                        [style.border-radius.%]="100" size="xs" title="{{'remove' | translate}}"
                                        tuiIconButton type="button" class="remove"
                                        (click)="gamedataService.confirmDelete(v)">
                                    </button>
                                </tui-loader>
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    <button *ngIf="v.Custom" appearance="flat" iconStart="@tui.save"
                                        [style.border-radius.%]="100" size="xs" title="{{'update' | translate}}"
                                        tuiIconButton type="button" class="remove"
                                        (click)="gamedataService.onUpdateValue(v, i)">
                                    </button>
                                </tui-loader>
                            </div>
                        </td>
                        <ng-template [ngIf]="(v.confirm | async) ?? false">
                            <td *tuiCell="'confirmDelete'" class="confirm-delete-column" [@fadeIn]>
                                <p class="text">{{'confirm-text-delete-gamevalue' | translate}}</p>
                                <button tuiButton size="xs" class="tui-space_left-2"
                                    (click)="gamedataService.onDelete(v, i)"
                                    [loading]="(gamedataService.deleting$ | async) ?? false" appearance="accent">
                                    {{'confirm-frienly' | translate}}
                                </button>
                                <button tuiButton size="xs" class="tui-space_left-2"
                                    (click)="gamedataService.cancelDelete(v)"
                                    [loading]="(gamedataService.deleting$ | async) ?? false" appearance="flat">
                                    {{'unconfirm-frienly' | translate}}
                                </button>
                            </td>
                        </ng-template>
                    </tr>
                    } @loading (minimum 100ms){
                    <tr>
                        <td [colSpan]="columns.length">
                            <tui-loader />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>


</ng-template>

<div #anchor style="position: absolute;"></div>