<tui-hosted-dropdown tuiDropdownAlign="right" [content]="dropdown" [sided]="true" [(open)]="menuOpen">
    <button appearance="icon" tuiButton type="button" size="xs" [icon]="'tuiIconBook'" tuiMode="onLight"
        [pseudoActive]="menuOpen || null">
    </button>
</tui-hosted-dropdown>
<ng-template #dropdown>
    <p style="text-align: center;">{{'buffinfo' | translate}}</p>
    <tui-data-list>
        <tui-opt-group>
            <button tuiOption (click)="onShowList(listTemplate, 'm')">
                <tui-svg src="tuiIconBookOpen"></tui-svg> {{'see-all' | translate}}
            </button>
            <button tuiOption (click)="onShowCreateNew(createTemplate, 'm')">
                <tui-svg src="tuiIconEdit2"></tui-svg> {{'create-new' | translate}}
            </button>
        </tui-opt-group>
    </tui-data-list>
</ng-template>

<main class="main-form" #draggableElement *ngIf="!dialogState.isHidden"
    [ngStyle]="{'z-index': dialogState.zIndex$ | async}" (click)="changeIndex(dialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableElement"
        [draggableElementState]="dialogState" [elementAnchorRef]="anchor">
        <p>{{'buffinfo-form' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [icon]="'tuiIconClose'" size="xs"
            (click)="dialogState.isHidden = !dialogState.isHidden">
        </button>
    </div>
    <tui-scrollbar class="main-form-content">
        <form [formGroup]="gamedataService.contentForm" style="padding: 0 1rem;">
            <div>
                <div>
                    <h3 class="tui-form__header tui-form__header_margin-top_none tui-space_top-4">
                        {{'content' | translate}}
                    </h3>
                    <div class="tui-form__row">
                        <tui-input formControlName="id" tuiTextfieldSize="m"
                            [tuiTextfieldIcon]="availableKeyNameTemplate">
                            {{'id' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="iconKey" tuiTextfieldSize="m">
                            {{'iconkey' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationInfoKey" tuiTextfieldSize="m">
                            {{'localizationinfokey' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationNameKey" tuiTextfieldSize="m">
                            {{'localizationnamekey' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input-number tuiHintContent="{{'order-hint' | translate}}" formControlName="order"
                            [tuiTextfieldSize]="'m'" tuiHintAppearance="onDark">
                            {{'order' | translate}}
                            <span class="tui-required"></span>
                        </tui-input-number>
                    </div>
                    <div class="tui-form__row">
                        <tui-checkbox-block contentAlign="right" formControlName="viewable" size="s"
                            tuiTextfieldSize="m">
                            {{'viewable' | translate}}
                        </tui-checkbox-block>
                    </div>
                </div>
            </div>
        </form>

        <div class="main-form-actions tui-space_top-3 tui-space_bottom-3">
            <ng-container *ngIf="!(gamedataService.createOther$ | async); else createOther">
                <button appearance="outline" tuiButton [icon]="'tuiIconCheckCircle'"
                    (click)="gamedataService.onCreateKey()" size="m"
                    [showLoader]="(gamedataService.creating$ | async) ?? false"
                    [disabled]="(gamedataService.availableKeyName$ | async) != 'valid' || gamedataService.buffInfoForm.invalid"
                    [tuiHint]="((gamedataService.availableKeyName$ | async) == 'invalid' || gamedataService.buffInfoForm.invalid) ? ('form-error' | translate) : undefined"
                    tuiHintAppearance="error">
                    {{'create' | translate}}
                </button>
            </ng-container>
            <ng-template #createOther>
                <button appearance="outline" tuiButton [icon]="'tuiIconCheckCircle'"
                    (click)="gamedataService.onCreateOther()" size="m">
                    {{'created-other' | translate}}
                </button>
            </ng-template>
        </div>
    </tui-scrollbar>
</main>
<ng-template #createTemplate>
    <tui-scrollbar class="main-form-content">
        <form [formGroup]="gamedataService.contentForm" style="padding: 0 1rem;">
            <div>
                <div>
                    <h4 class="tui-form__header tui-form__header_margin-top_none tui-space_top-4">
                        {{'content' | translate}}
                    </h4>
                    <div class="tui-form__row">
                        <tui-input formControlName="id" tuiTextfieldSize="m"
                            [tuiTextfieldIcon]="availableKeyNameTemplate">
                            {{'id' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="iconKey" tuiTextfieldSize="m">
                            {{'iconkey' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationInfoKey" tuiTextfieldSize="m">
                            {{'localizationinfokey' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="localizationNameKey" tuiTextfieldSize="m">
                            {{'localizationnamekey' | translate}}
                            <input placeholder="***" tuiTextfield />
                            <span class="tui-required"></span>
                        </tui-input>
                    </div>
                    <div class="tui-form__row">
                        <tui-input-number tuiHintContent="{{'order-hint' | translate}}" formControlName="order"
                            [tuiTextfieldSize]="'m'" tuiHintAppearance="onDark">
                            {{'order' | translate}}
                            <span class="tui-required"></span>
                        </tui-input-number>
                    </div>
                    <div class="tui-form__row">
                        <tui-checkbox-block contentAlign="right" formControlName="viewable" size="s"
                            tuiTextfieldSize="m">
                            {{'viewable' | translate}}
                        </tui-checkbox-block>
                    </div>
                </div>
            </div>
        </form>

        <div class="main-form-actions tui-space_top-3 tui-space_bottom-3">
            <ng-container *ngIf="!(gamedataService.createOther$ | async); else createOther">
                <button appearance="outline" tuiButton [icon]="'tuiIconCheckCircle'"
                    (click)="gamedataService.onCreateKey()" size="m"
                    [showLoader]="(gamedataService.creating$ | async) ?? false"
                    [disabled]="(gamedataService.availableKeyName$ | async) != 'valid' || gamedataService.buffInfoForm.invalid"
                    [tuiHint]="((gamedataService.availableKeyName$ | async) == 'invalid' || gamedataService.buffInfoForm.invalid) ? ('form-error' | translate) : undefined"
                    tuiHintAppearance="error">
                    {{'create' | translate}}
                </button>
            </ng-container>
            <ng-template #createOther>
                <button appearance="outline" tuiButton [icon]="'tuiIconCheckCircle'"
                    (click)="gamedataService.onCreateOther()" size="m">
                    {{'created-other' | translate}}
                </button>
            </ng-template>
        </div>
    </tui-scrollbar>
</ng-template>

<ng-template #availableKeyNameTemplate>
    <ng-container *ngIf="gamedataService.availableKeyName$ | async as status">
        <ng-container [ngSwitch]="status">
            <p *ngSwitchCase="'verifying'">
                <tui-loader [showLoader]="true" [inheritColor]="true" [overlay]="true">
                    <button tuiIconButton appearance="icon" [icon]="'tuiIconLoader'">
                    </button>
                </tui-loader>
            </p>
            <p *ngSwitchCase="'valid'">
                <button tuiIconButton appearance="icon" [icon]="'tuiIconCheckCircle'">
                </button>
            </p>
            <p *ngSwitchCase="'invalid'">
                <button tuiIconButton appearance="icon" [icon]="'tuiIconAlertCircle'">
                </button>
            </p>
        </ng-container>
    </ng-container>
</ng-template>

<main class="main-list" #draggableListElement *ngIf="!listDialogState.isHidden"
    [ngStyle]="{'z-index': listDialogState.zIndex$ | async}" (click)="changeIndex(listDialogState)">
    <div class="main-form-header" appDraggableElement [elementRef]="draggableListElement"
        [draggableElementState]="listDialogState" [elementAnchorRef]="anchor">
        <p>{{'buffinfo-list' | translate}}</p>
        <button tuiIconButton class="tui-space_right-2" appearance="icon" [icon]="'tuiIconClose'" size="xs"
            (click)="listDialogState.isHidden = !listDialogState.isHidden">
        </button>
    </div>

    <h4 class="tui-space_horizontal-3">{{'buffinfo-description' | translate}}</h4>

    <ng-container *ngIf="gamedataService.store$ | async as values">
        <cdk-virtual-scroll-viewport #viewport tuiScrollable
            class="main-form-content tui-space_horizontal-3 tui-space_bottom-3 viewport tui-zero-scrollbar"
            [itemSize]="45">
            <table class="tui-table" style="table-layout: fixed;" tuiTable
                [columns]="['id', 'iconKey', 'localizationInfoKey', 'localizationNameKey', 'order', 'viewable', 'custom', 'confirmDelete']"
                [size]="'s'" [@popIn]>
                <thead>
                    <tr tuiThGroup>
                        <th tuiTh *tuiHead="'id'" [sticky]="true" [style.top.px]="-viewport['_renderedContentOffset']"
                            [sorter]="null">
                            {{'id' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'iconKey'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'iconkey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationInfoKey'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'infokey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationNameKey'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'localizationnamekey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'order'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'order' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'viewable'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'viewable' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'custom'" [sticky]="true" style="width: 64px;"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">

                        </th>
                        <th tuiTh *tuiHead="'confirmDelete'" style="width: 0px; padding: 0; border: none;"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                        </th>
                    </tr>
                </thead>
                <tbody tuiTbody>
                    <tr *cdkVirtualFor="let v of values; index as i;" tuiTr>
                        <td *tuiCell="'id'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.id">
                                {{'id' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'iconKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.iconKey">
                                {{'iconkey' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'localizationInfoKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.localizationInfoKey">
                                {{'localizationinfokey' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'localizationNameKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.localizationNameKey">
                                {{'localizationnamekey' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'order'" tuiTd>
                            <tui-input-number [(ngModel)]="v.Content.order">
                                {{'order' | translate}}
                            </tui-input-number>
                        </td>
                        <td *tuiCell="'viewable'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <tui-checkbox [(ngModel)]="v.Content.viewable"></tui-checkbox>
                            </div>
                        </td>
                        <td *tuiCell="'custom'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    <button *ngIf="v.Custom" appearance="flat" icon="tuiIconTrash" shape="rounded"
                                        size="xs" title="{{'remove' | translate}}" tuiIconButton type="button"
                                        class="remove" (click)="gamedataService.confirmDelete(v)" tuiMode="onLight">
                                    </button>
                                </tui-loader>
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    <button *ngIf="v.Custom" appearance="flat" icon="tuiIconSave" shape="rounded"
                                        size="xs" title="{{'update' | translate}}" tuiIconButton type="button"
                                        class="remove" (click)="gamedataService.onUpdateValue(v, i)" tuiMode="onLight">
                                    </button>
                                </tui-loader>
                            </div>
                        </td>
                        <ng-template [ngIf]="(v.confirm | async) ?? false">
                            <td *tuiCell="'confirmDelete'" class="confirm-delete-column" [@fadeIn]>
                                <p class="text">{{'confirm-text-delete-gamevalue' | translate}}</p>
                                <button tuiButton size="xs" class="tui-space_left-2" tuiMode="onLight"
                                    (click)="gamedataService.onDelete(v, i)"
                                    [showLoader]="(gamedataService.deleting$ | async) ?? false" appearance="accent">
                                    {{'confirm-frienly' | translate}}
                                </button>
                                <button tuiButton size="xs" class="tui-space_left-2" tuiMode="onLight"
                                    (click)="gamedataService.cancelDelete(v)"
                                    [showLoader]="(gamedataService.deleting$ | async) ?? false" appearance="flat">
                                    {{'unconfirm-frienly' | translate}}
                                </button>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</main>
<ng-template #listTemplate>
    <h5 class="tui-space_horizontal-3">{{'buffinfo-description' | translate}}</h5>

    <ng-container *ngIf="gamedataService.store$ | async as values">
        <cdk-virtual-scroll-viewport #viewport tuiScrollable
            class="main-form-content tui-space_horizontal-3 tui-space_bottom-3 viewport-dialog tui-zero-scrollbar"
            [itemSize]="45">
            <table class="tui-table" style="table-layout: fixed;" tuiTable
                [columns]="['id', 'iconKey', 'localizationInfoKey', 'localizationNameKey', 'order', 'viewable', 'custom', 'confirmDelete']"
                [size]="'s'" [@popIn]>
                <thead>
                    <tr tuiThGroup>
                        <th tuiTh *tuiHead="'id'" [sticky]="true" [style.top.px]="-viewport['_renderedContentOffset']"
                            [sorter]="null">
                            {{'id' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'iconKey'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'iconkey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationInfoKey'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'infokey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'localizationNameKey'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'localizationnamekey' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'order'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'order' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'viewable'" [sticky]="true"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                            {{'viewable' | translate}}
                        </th>
                        <th tuiTh *tuiHead="'custom'" [sticky]="true" style="width: 64px;"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                        </th>
                        <th tuiTh *tuiHead="'confirmDelete'" style="width: 0px; padding: 0; border: none;"
                            [style.top.px]="-viewport['_renderedContentOffset']" [sorter]="null">
                        </th>
                    </tr>
                </thead>
                <tbody tuiTbody>
                    <tr *cdkVirtualFor="let v of values; index as i" tuiTr>
                        <td *tuiCell="'id'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.id">
                                {{'id' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'iconKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.iconKey">
                                {{'iconkey' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'localizationInfoKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.localizationInfoKey">
                                {{'localizationinfokey' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'localizationNameKey'" tuiTd>
                            <tui-input [(ngModel)]="v.Content.localizationNameKey">
                                {{'localizationnamekey' | translate}}
                                <input placeholder="***" tuiTextfield />
                            </tui-input>
                        </td>
                        <td *tuiCell="'order'" tuiTd>
                            <tui-input-number [(ngModel)]="v.Content.order">
                                {{'order' | translate}}
                            </tui-input-number>
                        </td>
                        <td *tuiCell="'viewable'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                <tui-checkbox [(ngModel)]="v.Content.viewable"></tui-checkbox>
                            </div>
                        </td>
                        <td *tuiCell="'custom'" tuiTd>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    <button *ngIf="v.Custom" appearance="flat" icon="tuiIconTrash" shape="rounded"
                                        size="xs" title="{{'remove' | translate}}" tuiIconButton type="button"
                                        class="remove" (click)="gamedataService.confirmDelete(v)" tuiMode="onLight">
                                    </button>
                                </tui-loader>
                                <tui-loader [showLoader]="(v.loader | async) ?? false" [inheritColor]="true"
                                    [overlay]="true">
                                    <button *ngIf="v.Custom" appearance="flat" icon="tuiIconSave" shape="rounded"
                                        size="xs" title="{{'update' | translate}}" tuiIconButton type="button"
                                        class="remove" (click)="gamedataService.onUpdateValue(v, i)" tuiMode="onLight">
                                    </button>
                                </tui-loader>
                            </div>
                        </td>
                        <ng-template [ngIf]="(v.confirm | async) ?? false">
                            <td *tuiCell="'confirmDelete'" class="confirm-delete-column" [@fadeIn]>
                                <p class="text tui-text_body-xs">{{'confirm-text-delete-gamevalue-short' | translate}}
                                </p>
                                <button tuiButton size="xs" class="tui-space_left-2" tuiMode="onLight"
                                    (click)="gamedataService.onDelete(v, i)"
                                    [showLoader]="(gamedataService.deleting$ | async) ?? false" appearance="accent">
                                    {{'confirm-frienly' | translate}}
                                </button>
                                <button tuiButton size="xs" class="tui-space_left-2" tuiMode="onLight"
                                    (click)="gamedataService.cancelDelete(v)"
                                    [showLoader]="(gamedataService.deleting$ | async) ?? false" appearance="flat">
                                    {{'unconfirm-frienly' | translate}}
                                </button>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</ng-template>

<div #anchor style="position: absolute;"></div>