<p>{{'creating-main-groups-and-groups' | translate}}</p>
<p>{{'creating-main-groups-and-groups-description' | translate}}</p>
<tui-loader class="loader" [showLoader]="(uploading$ | async) ?? false" [inheritColor]="true" [overlay]="true">
    <ul class="tui-list tui-list_small">
        <li class="tui-list__item">
            {{'main-groups' | translate}}
            <tui-scrollbar class="group-container">
                <form #formMainGroup>
                    <table class="tui-table" tuiTable>
                        <thead>
                            <tr>
                                <th tuiTh class="sticky-header">{{'real-name' | translate}}</th>
                                <th tuiTh class="sticky-header">{{'user-defined-name' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let mainGroup of fileReader.dialogAssetsMainGroups[fileReader.defaultLanguage.value] | keyvalue">
                                <td tuiTd class="name-column">
                                    {{mainGroup.value.OriginalName}}
                                </td>
                                <td tuiTd>
                                    <tui-input [(ngModel)]="mainGroup.value.Name" tuiTextfieldSize="m"
                                        [tuiTextfieldLabelOutside]="true" type="text"
                                        [name]="mainGroup.value.OriginalName" (ngModelChange)="onGroupChange()"
                                        required>
                                        {{'name' | translate}}
                                        <input tuiTextfield required placeholder="..." />
                                    </tui-input>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </tui-scrollbar>
        </li>
        <li class="tui-list__item" *ngIf="groups">
            {{'groups' | translate}}
            <tui-scrollbar>
                <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar" [itemSize]="30"
                    [maxBufferPx]="500" [minBufferPx]="400">
                    <form #formGroup>
                        <table class="tui-table" tuiTable [columns]="['OriginalName', 'Name']">
                            <thead>
                                <tr tuiThGroup>
                                    <th *tuiHead="'OriginalName'" tuiTh [sticky]="true" [sorter]="null"
                                        [style.top.px]="-viewport['_renderedContentOffset']">
                                        {{'real-name' | translate}}
                                    </th>
                                    <th *tuiHead="'Name'" tuiTh [sticky]="true" [sorter]="null"
                                        [style.top.px]="-viewport['_renderedContentOffset']">
                                        {{'user-defined-name' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody tuiTbody>
                                <tr *cdkVirtualFor="let group of groups" tuiTr>
                                    <td *tuiCell="'OriginalName'" class="name-column" tuiTd>
                                        {{group.OriginalName}}
                                    </td>
                                    <td *tuiCell="'Name'" tuiTd>
                                        <tui-input [(ngModel)]="group.Name" tuiTextfieldSize="m"
                                            [tuiTextfieldLabelOutside]="true" type="text" [name]="group.OriginalName"
                                            (ngModelChange)="onGroupChange()" required>
                                            {{'name' | translate}}
                                            <input tuiTextfield required placeholder="..." />
                                        </tui-input>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </cdk-virtual-scroll-viewport>
            </tui-scrollbar>
        </li>
    </ul>
</tui-loader>

<div class="tui-space_top-2" style="display: flex; flex-direction: row-reverse;">
    <ng-container *ngIf="!(uploadingFinish$ | async); else next">
        <button tuiIconButton [iconRight]="'tuiIconUploadCloud'" (click)="onUpload()"
            [disabled]="(uploading$ | async) ?? true || (invalidForm$ | async) ?? true">
        </button>
    </ng-container>

    <ng-template #next>
        <button tuiIconButton [iconRight]="'tuiIconArrowRightCircle'"
            [disabled]="((uploadingFinish$ | async) ?? false) === false" (click)="onNext()">
        </button>
    </ng-template>

</div>