<main class="main-container" *ngIf="(languageOrigin.language.value); else empty">
    <div class="files">
        <h3>{{'translation-progress' | translate}}</h3>
        <p>
            {{'translation-progress-description' | translate}}
        </p>

        <ol class="tui-list tui-list_ordered tui-list_nested tui-text_body-s"
            *ngIf="{values: eTS.progressPerc$ | async} as progress;" [style.--tui-skeleton-radius.px]="4">
            <li class="tui-list__item">
                {{'translation-ui' | translate}}
                → <b [class.tui-skeleton]="!progress.values">
                    {{progress.values?.Keys | number:'1.2-2'}}%
                </b>
            </li>
            <li class="tui-list__item">
                {{'translation-dialogs' | translate}}
                → <b [class.tui-skeleton]="!progress.values">
                    {{progress.values?.Dialogs | number:'1.2-2'}}%
                </b>
            </li>
        </ol>

        <h3 class="tui-space_top-6">{{'to-translate' | translate}}</h3>
        <p>{{'to-translate-description' | translate}}</p>
        <ul class="tui-list tui-list_ordered tui-list_nested tui-text_body-s">
            <li class="tui-list__item"><b>OBB</b>: {{'obb-description' | translate}}
            </li>
            <li class="tui-list__item"><b>Localization</b>: {{'localization-description' | translate}} </li>
            <li class="tui-list__item"><b>Gamedata</b>: {{'gamedata-description' | translate}}</li>
        </ul>

        <div class="files-input tui-space_top-6">
            <ng-container [ngTemplateOutlet]="file" [ngTemplateOutletContext]="{
                    $implicit: eTS.obb,
                    filesize:(1024*1024*1024*2),
                    accept: '.obb',
                    filename: 'OBB',
                    onreject: eTS.onReject.bind(this.eTS),
                }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="file" [ngTemplateOutletContext]="{
                    $implicit: eTS.localization,
                    filesize:(1024*1024*100),
                    accept: '*',
                    filename: 'Localization',
                    onreject: eTS.onReject.bind(this.eTS)
                }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="file" [ngTemplateOutletContext]="{
                    $implicit: eTS.gamedata,
                    filesize:(1024*1024*100),
                    accept: '*',
                    filename: 'Gamedata',
                    onreject: eTS.onReject.bind(this.eTS)
                }">
            </ng-container>
        </div>

        <tui-expand [expanded]="(eTS.filesVerified$ | async) && !(eTS.filesCompleted$ | async)">
            <ng-template tuiExpandContent>
                <p>
                    {{'before-translation-apply-0' | translate}}
                    <span class="important-text">Buy Me a Coffee</span>.
                    {{'before-translation-apply-1' | translate}}
                </p>

                <p>
                    {{'before-translation-apply-2' | translate}}
                </p>

                <p>
                    {{'before-translation-apply-3' | translate}}
                </p>
            </ng-template>
        </tui-expand>

        <tui-expand [expanded]="(eTS.filesCompleted$ | async)">
            <p class="important-text">
                {{'after-translation-apply-0' | translate}}
            </p>

            <p>
                {{'after-translation-apply-1' | translate}}
            </p>

            <p>
                {{'after-translation-apply-2' | translate}}
            </p>
        </tui-expand>

        <div class="translate-button tui-space_vertical-6">
            <button *ngIf="!(eTS.filesCompleted$ | async)" tuiButton appearance="outline"
                [loading]="(eTS.isTranslating$ | async) ?? false" (click)="eTS.onApplyTranslation()"
                [disabled]="!(eTS.filesVerified$ | async)"
                [tuiHint]="!(eTS.filesVerified$ | async) ? ('missing-files' | translate) : undefined"
                [tuiHintAppearance]="!(eTS.filesVerified$ | async) ? 'error' : 'onDark'" [tuiHintShowDelay]="100">
                {{'apply-translation' | translate}}
            </button>
            <button *ngIf="(eTS.filesCompleted$ | async)" tuiButton appearance="outline">
                {{'after-translation-apply-3' | translate}}
            </button>
        </div>
    </div>
</main>

<ng-template #empty>
    <tui-block-status class="empty-lang-container">
        <img tuiSlot="top" alt="main localization" src="./assets/images/localization-not.svg"
            class="tui-space_vertical-6 image" />

        <h4 style="max-width: 500px;" tuiSlot="top">{{'empty-db-guest' | translate}}</h4>
    </tui-block-status>
</ng-template>

<ng-template #file let-filecontrol let-filesize="filesize" let-accept="accept" let-filename="filename"
    let-onreject="onreject">
    <div class="file-input-empty">
        @if (filecontrol.skip | async) {
        <div tuiCardMedium="compact" tuiAppearance="neutral" class="file-input file-input-provided"
            *ngIf="filecontrol.notSupported && filecontrol.notSupported | async; else skipN">
            <header tuiHeader>
                <h2 tuiTitle>
                    {{'not-support' | translate}}
                    <span tuiSubtitle>{{filename}}</span>
                </h2>
            </header>
            <section>
                <span>{{'not-support-mobile' | translate}}</span>
            </section>
            <footer>
            </footer>
        </div>
        <ng-template #skipN>
            <div tuiCardMedium="compact" tuiAppearance="neutral" class="file-input file-input-provided">
                <header tuiHeader>
                    <h2 tuiTitle>
                        {{'file-skip' | translate}}
                        <span tuiSubtitle>{{filename}}</span>
                    </h2>
                </header>
                <section>
                    {{'file-skip-description' | translate}}
                </section>
                <footer>
                </footer>
            </div>
        </ng-template>
        }
        @else {
        <label tuiInputFiles *ngIf="!filecontrol.control.value" class="file-input">
            <input accept="image/*" tuiInputFiles [maxFileSize]="filesize" [accept]="accept" [multiple]="false"
                [formControl]="filecontrol.control" />
            <ng-template let-dragged>
                <div *ngIf="dragged; else base" class="content">
                    <tui-avatar appearance="white" src="@tui.droplet" size="s"></tui-avatar>
                    <div>{{'drop' | translate}}</div>
                </div>
                <ng-template #base>
                    <div class="content">
                        <tui-avatar appearance="white" src="@tui.cloud-upload" size="s"></tui-avatar>
                        <div>{{filename}}</div>
                    </div>
                </ng-template>
            </ng-template>
        </label>
        <ng-container *ngIf="filecontrol.loadedFile$ | async as file">
            <div tuiCardMedium="compact" tuiAppearance="neutral" class="file-input">
                <header tuiHeader>
                    <h2 tuiTitle>
                        {{'archive' | translate}}
                        <span tuiSubtitle>{{filename}}</span>
                    </h2>

                    <aside tuiAccessories>
                        <tui-loader [overlay]="true" [showLoader]="(filecontrol.verifyingFile$ | async) ?? false"
                            style="position: absolute; right: 0.5em; top: 0.5em;">
                            <tui-icon [icon]="'@tui.circle-check'" style="position: relative; top: 0.25em;" />
                        </tui-loader>
                    </aside>
                </header>
                <section>
                    <p>
                        {{'progress' | translate}}: {{((filecontrol.progress$ | async) |
                        number:'1.0-2')}}/{{(filecontrol.progressMax$ | async)}}
                    </p>
                </section>
                <footer>
                    <p>
                        {{(filecontrol.progressStatus$ | async) ?? '' | translate}}
                    </p>
                    <p class="tui-island__paragraph tui-island__paragraph_link" *ngIf="filecontrol.url">
                        <a href="{{filecontrol.url}}" download="{{filecontrol.control.value.name}}" type="File" tuiLink>
                            {{'download' | translate}}
                        </a>
                    </p>
                </footer>
            </div>
        </ng-container>
        }

        @if (!filecontrol.control.value && !(filecontrol.skip | async)) {
        <button class="skip-button" tuiIconButton iconStart="@tui.circle-x" size="xs" appearance="icon"
            (click)="eTS.onSkipFile(filecontrol)">
        </button>
        }
    </div>
</ng-template>