@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.main-container {
    max-width: 60rem;
    min-width: 20rem;
    position: absolute;
    padding: 0 clamp(1em, 2.5%, 5em);
    margin: 0 auto;
    top: 2em;
    left: 0;
    right: 0;
}

.files-input {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 1em;
}

.file-input {
    height: 128px;
}

.translate-button {
    display: grid;
}

.important-text {
    color: var(--important-text);
}

.center-text {
    text-align: center;
}

.not-support {
    background-color: var(--tui-warning-fill);
    mix-blend-mode: difference;
    height: 96px;
    width: minmax(248px, auto);
}

.text-blend {
    mix-blend-mode: var(--blend-mode);
}

.skip-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}