<div class="container-m">
    <ng-container *ngIf="(languageOrigin.language$ | async)">
        <ng-container *ngIf="(mainGroups$ | async) as data; else loading">
            <tui-tiles class="tiles tui-space_top-3" [debounce]="100" [(order)]="order" [@popIn]>
                <tui-tile *ngFor="let mainGroup of data; let index = index" class="tile"
                    [style.order]="order.get(index)" [width]="1" [height]="1" [@popIn]>
                    <div class="content">
                        <h2>
                            <tui-input-inline *ngIf="mainGroup.editing; else groupName;" tuiAutoFocus
                                [(ngModel)]="mainGroup.Name" (focusedChange)="onFocusedChange($any($event), mainGroup)"
                                (keydown.enter.prevent)="onEditGroupName(mainGroup)">
                                Type a name
                            </tui-input-inline>
                            <ng-template #groupName>
                                <div style="display: flex;">
                                    <span>{{ mainGroup.Name }}</span>
                                    <button tuiIconButton type="button" title="Edit heading" size="xs" appearance="icon"
                                        icon="tuiIconEdit2" class="tui-space_left-1"
                                        (click)="toogle(mainGroup)"></button>
                                </div>
                            </ng-template>
                        </h2>
                        <ng-container *ngIf="(mainGroup.TranslatedFiles/mainGroup.Files) < 1; else completed">
                            Translated: {{ mainGroup.TranslatedFiles }} / {{ mainGroup.Files }}
                        </ng-container>
                        <ng-template #completed>
                            Translated: <tui-svg src="tuiIconCheckCircle"></tui-svg>
                        </ng-template>
                        <button style="position: absolute; bottom: 0; right: 0;" tuiIconButton
                            icon="tuiIconArrowRightCircle" appearance="icon" shape="square"
                            [routerLink]="['/dialogsAsset', mainGroup.OriginalName]"></button>
                    </div>
                </tui-tile>
            </tui-tiles>
        </ng-container>
        <ng-template #loading>
            <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" [@popIn]>
                <tui-block-status>
                    <h4>...Loading...</h4>
                </tui-block-status>
            </tui-loader>
        </ng-template>
    </ng-container>
</div>