<div class="container-m">
  @if ((languageOrigin.language$ | async)) {
    @if ((mainGroups$ | async); as data) {
      <tui-tiles class="tiles tui-space_top-3" [debounce]="100" [(order)]="order" [@popIn]>
        @for (mainGroup of data; track mainGroup; let index = $index) {
          <tui-tile class="tile"
            [style.order]="order.get(index)" [width]="1" [height]="1" [@popIn]>
            <div class="content">
              <h2>
                <!-- TODO: (Taiga UI migration) (focusedChange) output has been removed. Use native (focusin) / (focusout) instead -->
                @if (mainGroup.editing) {
                  <tui-input-inline tuiAutoFocus
                    [(ngModel)]="mainGroup.Name" (focusedChange)="onFocusedChange($any($event), mainGroup)"
                    (keydown.enter.prevent)="onEditGroupName(mainGroup)">
                    {{'type-name' | translate}}
                  </tui-input-inline>
                } @else {
                  <div style="display: flex;">
                    <span>{{ mainGroup.Name }}</span>
                    <button tuiIconButton type="button" title="{{'edit-name' | translate}}" size="xs" appearance="icon"
                      iconStart="@tui.pencil" class="tui-space_left-1"
                    (click)="toogle(mainGroup)"></button>
                  </div>
                }
              </h2>
              @if ((mainGroup.TranslatedFiles/mainGroup.Files) < 1) {
                {{ "translated" | translate }}: {{ mainGroup.TranslatedFiles }} / {{ mainGroup.Files }}
              } @else {
                {{ "translated" | translate }}: <tui-icon  icon="@tui.circle-check"></tui-icon>
              }
              <button style="position: absolute; bottom: 0; right: 0;" tuiIconButton
                iconStart="@tui.circle-arrow-right" appearance="icon" shape="square"
              [routerLink]="['/dialogsAsset', mainGroup.OriginalName]"></button>
            </div>
          </tui-tile>
        }
      </tui-tiles>
    } @else {
      <tui-loader [showLoader]="true" [overlay]="true" [size]="'xxl'" [@popIn]>
        <tui-block-status>
          <h4>{{'loading-3-dots' | translate}}</h4>
        </tui-block-status>
      </tui-loader>
    }
  }
</div>