@import 'node_modules/@taiga-ui/core/styles/taiga-ui-local.scss';

.tiles {
    gap: 1rem;
    grid-auto-rows: minmax(240px, auto);
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
}

.content {
    @include transition(box-shadow);
    height: 100%;
    padding: 1rem;
    background: var(--tui-background-base);
    box-sizing: border-box;
    border-radius: var(--tui-radius-l);
    border: 1px solid var(--tui-background-neutral-1-hover);
    overflow: hidden;
}

.title {
    margin: 0 0 1rem;
}