<main class="main-wizard">
    <tui-stepper #stepper class="wizard-stepper" orientation="vertical" [activeItemIndex]="activeItemIndex">
        <button tuiStep disabled>
            Load Obb File
        </button>
        <button tuiStep disabled>
            Load Localization File
        </button>
        <button tuiStep disabled>
            Load Gamedata File
        </button>
    </tui-stepper>

    <div class="wizard-content">
        <ng-container [ngTemplateOutlet]="{
            '0': stepperLoadFile,
            '1': stepperLoadLocalization,
            '2': stepperLoadGamedata,
         }[stepper.activeItemIndex] ?? stepperDefault">
        </ng-container>
    </div>
</main>

<ng-template #stepperLoadFile>
    <app-load-obb-file-export (next)="activeItemIndex = 1"></app-load-obb-file-export>
</ng-template>

<ng-template #stepperLoadLocalization>
    <app-load-file-localization [mode]="'export'"></app-load-file-localization>
</ng-template>

<ng-template #stepperLoadGamedata>
    <app-load-file-gamedata [mode]="'export'"></app-load-file-gamedata>
</ng-template>


<ng-template #stepperDefault>
    <p>DEFAULT TEMPLATE</p>
</ng-template>